<div class="main-container">
    <div class="links-container">
        <h2>Vezani linkovi:</h2>
        <h3>Historijat<i class="fa fa-angle-right"></i></h3>
        <h3>Geografija i demografija<i class="fa fa-angle-right"></i></h3>
        <h3>Socio-ekonomski profit<i class="fa fa-angle-right"></i></h3>
        <h3>Općinski načelnik<i class="fa fa-angle-right"></i></h3>
        <h3>Javna preduzeća i ustanove<i class="fa fa-angle-right"></i></h3>
        <h3>Privreda<i class="fa fa-angle-right"></i></h3>
        <h3>Turizam<i class="fa fa-angle-right"></i></h3>
        <h3>Kultura<i class="fa fa-angle-right"></i></h3>
        <h3>Obrazovna i socijalna infrastruktura<i class="fa fa-angle-right"></i></h3>
        <h3>Sport<i class="fa fa-angle-right"></i></h3>
        <h3>NVO sektor<i class="fa fa-angle-right"></i></h3>
        <h3>Mjesne zajednice<i class="fa fa-angle-right"></i></h3>
    </div>





    <div class="content-container">
        <h2>{{single.title}}</h2>
        <h4>{{single.createdAt}}</h4>
        <br>
        <br>
        <p>{{single.body}}</p>
          </div>


    <div class="other-articles-container">
        <app-side-news></app-side-news>
    </div>
    


</div>

