<div class="main-container">
  <div class="links-container">
    <h2>Vezani linkovi:</h2>
    <a href="/o-opcini/o-nama">O nama<i class="fa fa-angle-right"></i></a>
    <hr class="horiz-line" style="width: 95%;">
    <a href="/o-opcini/historijat">{{ 'historijat_naslov' | translate }}<i class="fa fa-angle-right"></i></a>
    <hr class="horiz-line" style="width: 95%;">
    <a href="/o-opcini/geografija-i-demografija">{{ 'geo_demo_naslov' | translate }}<i class="fa fa-angle-right"></i></a>
    <hr class="horiz-line" style="width: 95%;">
    <a href="/o-opcini/socio-ekonomski-profit">Socio-ekonomski profil<i class="fa fa-angle-right"></i></a>
    <hr class="horiz-line" style="width: 95%;">
    <a href="/o-opcini/opcinski-nacelnik">Općinski načelnik<i class="fa fa-angle-right"></i></a>
    <hr class="horiz-line" style="width: 95%;">
    <a href="/o-opcini/javne-ustanove-i-preduzeca">{{ 'javna_naslov' | translate }}<i class="fa fa-angle-right"></i></a>
    <hr class="horiz-line" style="width: 95%;">
    <a href="/o-opcini/turizam">Turizam<i class="fa fa-angle-right"></i></a>
    <hr class="horiz-line" style="width: 95%;">
    <a href="/o-opcini/kultura">Kultura<i class="fa fa-angle-right"></i></a>
    <hr class="horiz-line" style="width: 95%;">
    <a href="/o-opcini/privreda">{{ 'privreda_naslov' | translate }}<i class="fa fa-angle-right"></i></a>
    <hr class="horiz-line" style="width: 95%;">
    <a href="/o-opcini/obrazovna-i-socijalna-infrastruktura">Obrazovna i socijalna infrastruktura<i class="fa fa-angle-right"></i></a>
    <hr class="horiz-line" style="width: 95%;">
    <a href="/o-opcini/sport">{{ 'sport_naslov' | translate }}<i class="fa fa-angle-right"></i></a>
    <hr class="horiz-line" style="width: 95%;">
    <a href="/o-opcini/nvo">NVO sektor<i class="fa fa-angle-right"></i></a>
    <hr class="horiz-line" style="width: 95%;">
    <a href="/o-opcini/mjesne-zajednice">Mjesne zajednice<i class="fa fa-angle-right"></i></a>
    <hr class="horiz-line" style="width: 95%;">
    <a href="/o-opcini/javne-nabavke/page/1">Javne nabavke<i class="fa fa-angle-right"></i></a>
</div>





    <div class="content-container">
        <h2>Socio-ekonomski profil</h2>
        <br>
        <br>
        <p>
            Prema popisu stanovništva iz 2013. godine na području općine Busovača je živjelo ukupno 17.910
stanovnika, od čega Hrvata 8.873 ili 49,54%, Bošnjaka 8.681 ili 48,43 %, Srba 205 ili 1,14%, ostalih
151 (koji se nisu izjasnili, bez odgovora ili su u grupaciji ostalih) ili 0,85% koji žive u ukupno 47
naseljenih mjesta organiziranih u 22 mjesne zajednice.
<br><br><br>
<strong>Tržište rada</strong>
<br><br>
Prema pokazateljima i izračunima iz elemenata na osnovu kojih se vrši rangiranje općina po stepenu
razvijenosti, a prema podacima Federalnog zavoda za programiranje razvoja Sarajevo, općina Busovača
je na kraju 2018. godine na 45. mjestu u Federaciji BiH od ukupno 79 općina i gradova, i spada u III
grupu razvijenosti, a Srednjobosanski kanton na 7. mjestu.
Najveći broj zaposlenih je prizvodno-prerađivačkoj industriji, dok je nemali broj onih koji su kroz
privatni biznis i samozapošljavanje u uslužnim djelatnosti (trgovina, ugostiteljstvo, obrt) riješio pitanje
svog radnog statusa.
<br><br><br>
<strong>Nezaposlenost</strong>
<br><br>
Jedna od konstatacija sa kojom su nosioci izvršne i zakonodavne vlasti u Općini Busovača, ali i obični
građani jedinstveni, jeste da je nezaposlenost u ovom trenutku najizraženiji problem sa kojim se ova
Općina susreće. <br>
U prilog navedenoj tvrdnji govore podaci iz tabela koje slijede, a koji odslikavaju stanje u ovoj oblasti na
dan 31.12.2020. godine po raznim segmentima.
</p>
<br><br>

    <p style="text-align: center;"><strong>Nezaposlenost po narodnosti na dan 31.12.2020. godine</strong></p>
    <br>
      <table class="tablemobile">
        <thead>
            <tr>
                <th><p><strong>Nacionalnost</strong></p></th>
                <th><p><strong>2016.</strong></p></th>
                <th><p><strong>2017.</strong></p></th>
                <th><p><strong>2018.</strong></p></th>
                <th><p><strong>2019.</strong></p></th>
                <th><p><strong>31.12.2020.</strong></p></th>
            </tr>
          </thead>
        <tbody>
        <tr>
        
        
        <tr>
        <td><p>Hrvat</p></td>
        <td><p>1118</p></td>
        <td><p>1050</p></td>
        <td><p>925</p></td>
        <td><p>863</p></td>
        <td><p>810</p></td>
        </tr>
        
        <tr>
        <td><p>Bošnjak</p></td>
        <td><p>1779</p></td>
        <td><p>1757</p></td>
        <td><p>1722</p></td>
        <td><p>1635</p></td>
        <td><p>1636</p></td>
        </tr>
        
        <tr>
        <td><p>Srbin</p></td>
        <td><p>25</p></td>
        <td><p>24</p></td>
        <td><p>22</p></td>
        <td><p>17</p></td>
        <td><p>17</p></td>
        </tr>
        
        <tr>
        <td><p>Slovenac</p></td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        </tr>
        
        <tr>
        <td><p>Albanac</p></td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        </tr>
        
        <tr>
        <td><p>Crnogorac</p></td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        </tr>
        
        <tr>
        <td><p>Makedonac</p></td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        </tr>
        
        <tr>
        <td><p>Židov</p></td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        </tr>
        
        <tr>
        <td><p>Ostali</p></td>
        <td><p>3</p></td>
        <td><p>3</p></td>
        <td><p>3</p></td>
        <td><p>4</p></td>
        <td><p>5</p></td>
        </tr>
        
        <tr>
        <td><p><strong>Ukupno:</strong></p></td>
        <td><p><strong>2925</strong></p></td>
        <td><p><strong>2834</strong></p></td>
        <td><p><strong>2672</strong></p></td>
        <td><p><strong>2519</strong></p></td>
        <td><p><strong>2468</strong></p></td>
        </tr>
        
        </tbody>
        </table>
        <br><br><br>
        <p style="text-align: center;"><strong>Nezaposlenost po spolnoj pripadnosti na dan 31.12.2020. godine</strong></p>
        <br><br>
  <table class="tablemobile"> 
    <thead>
        <tr>
            <th><p><strong>Spol</strong></p></th>
            <th><p><strong>2016.</strong></p></th>
            <th><p><strong>2017.</strong></p></th>
            <th><p><strong>2018.</strong></p></th>
            <th><p><strong>2019.</strong></p></th>
            <th><p><strong>XII/2020.</strong></p></th>
            </tr>
      </thead>
<tbody>
 <tr>
 <td><p>Muškarci</p></td>
 <td><p>1403</p></td>
 <td><p>1340</p></td>
 <td><p>1231</p></td>
 <td><p>1133</p></td>
 <td><p>1083</p></td>
 </tr>

 <tr>
 <td><p>Žene</p></td>
 <td><p>1522</p></td>
 <td><p>1494</p></td>
 <td><p>1441</p></td>
 <td><p>1386</p></td>
 <td><p>1385</p></td>
 </tr>

 <tr>
 <td><p><strong>Ukupno:</strong></p></td>
 <td><p><strong>2925</strong></p></td>
 <td><p><strong>2834</strong></p></td>
 <td><p><strong>2672</strong></p></td>
 <td><p><strong>2519</strong></p></td>
 <td><p><strong>2468</strong></p></td>
 </tr>

 </tbody>
</table>
<br><br><br>
<p style="text-align: center;"><strong>Nezaposlenost po stepenu stručnog obrazovanja na dan 31.12.2020. godine</strong></p>
<br><br>
  <table class="tablemobile"> 
    <thead>
        <tr>
            <th><p><strong>Stepen</strong></p></th>
            <th><p><strong>2016.</strong></p></th>
            <th><p><strong>2017.</strong></p></th>
            <th><p><strong>2018.</strong></p></th>
            <th><p><strong>2019.</strong></p></th>
            <th><p><strong>31.12.2020.</strong></p></th>
            </tr>
      </thead>
<tbody>


 <tr>
 <td><p>1.</p></td>
 <td><p>745</p></td>
 <td><p>738</p></td>
 <td><p>692</p></td>
 <td><p>646</p></td>
 <td><p>613</p></td>
 </tr>

 <tr>
 <td><p>2.</p></td>
 <td><p>71</p></td>
 <td><p>68</p></td>
 <td><p>65</p></td>
 <td><p>57</p></td>
 <td><p>55</p></td>
 </tr>

 <tr>
 <td><p>3.</p></td>
 <td><p>1090</p></td>
 <td><p>1059</p></td>
 <td><p>990</p></td>
 <td><p>928</p></td>
 <td><p>914</p></td>
 </tr>

 <tr>
 <td><p>4.</p></td>
 <td><p>847</p></td>
 <td><p>802</p></td>
 <td><p>771</p></td>
 <td><p>766</p></td>
 <td><p>761</p></td>
 </tr>

 <tr>
 <td><p>5</p></td>
 <td><p>17</p></td>
 <td><p>13</p></td>
 <td><p>10</p></td>
 <td><p>10</p></td>
 <td><p>10</p></td>
 </tr>

 <tr>
 <td><p>6.1.</p></td>
 <td><p>11</p></td>
 <td><p>12</p></td>
 <td><p>10</p></td>
 <td><p>20</p></td>
 <td><p>14</p></td>
 </tr>

 <tr>
 <td><p>6.2.</p></td>
 <td><p>35</p></td>
 <td><p>34</p></td>
 <td><p>37</p></td>
 <td><p>50</p></td>
 <td><p>63</p></td>
 </tr>

 <tr>
 <td><p>7.1.</p></td>
 <td><p>83</p></td>
 <td><p>77</p></td>
 <td><p>70</p></td>
 <td><p>20</p></td>
 <td><p>17</p></td>
 </tr>

 <tr>
 <td><p>7.2.</p></td>
 <td><p>26</p></td>
 <td><p>31</p></td>
 <td><p>27</p></td>
 <td><p>22</p></td>
 <td><p>21</p></td>
 </tr>

 <tr>
 <td><p>8.</p></td>
 <td><p>0</p></td>
 <td><p>0</p></td>
 <td><p>0</p></td>
 <td><p>0</p></td>
 <td><p>0</p></td>
 </tr>

 <tr>
 <td><p><strong>Ukupno:</strong></p></td>
 <td><p><strong>2925</strong></p></td>
 <td><p><strong>2834</strong></p></td>
 <td><p><strong>2672</strong></p></td>
 <td><p><strong>2519</strong></p></td>
 <td><p><strong>2468</strong></p></td>
 </tr>

 </tbody>
</table>
<br><br><br>
<p style="text-align: center;"><strong>Broj korisnika zdravstvene zaštite i novčane naknade nezaposlenih lica na dan 31.12.2020. godine</strong></p>
<br><br>


  <table class="tablemobile"> 
    <thead>
        <tr>
            <th><p><strong>Vrsta naknade</strong></p></th>
            <th><p><strong>2016.</strong></p></th>
            <th><p><strong>2017.</strong></p></th>
            <th><p><strong>2018.</strong></p></th>
            <th><p><strong>2019.</strong></p></th>
            <th><p><strong>31.12.2020.</strong></p></th>
            </tr>
      </thead>
<tbody>


 <tr>
 <td><p>Broj nezaposlenih</p></td>
 <td><p><strong>2925</strong></p></td>
 <td><p><strong>2834</strong></p></td>
 <td><p><strong>2672</strong></p></td>
 <td><p><strong>2519</strong></p></td>
 <td><p><strong>2468</strong></p></td>
 </tr>

 <tr>
 <td><p>Zdravstvena zaštita</p></td>
 <td><p>1491</p></td>
 <td><p>1355</p></td>
 <td><p>1159</p></td>
 <td><p>992</p></td>
 <td><p>893</p></td>
 </tr>

 <tr>
 <td><p>Novnačana naknada</p></td>
 <td><p>82</p></td>
 <td><p>73</p></td>
 <td><p>85</p></td>
 <td><p>64</p></td>
 <td><p>86</p></td>
 </tr>

 <tr>
 <td><p><strong>Ukupno:</strong></p></td>
 <td><p><strong>1573</strong></p></td>
 <td><p><strong>1428</strong></p></td>
 <td><p><strong>1244</strong></p></td>
 <td><p><strong>1056</strong></p></td>
 <td><p><strong>979</strong></p></td>
 </tr>

 </tbody>
</table>
<br><br><br>
<p style="text-align: center;"><strong>Nezaposleni demobilisani vojni obveznici i članovi porodica poginulih i nestalih na dan 31.12.2020. godine</strong></p>
<br><br>


  <table class="tablemobile"> 
    <thead>
        <tr>
            <th><p><strong>Kategoija</strong></p></th>
            <th><p><strong>2016.</strong></p></th>
            <th><p><strong>2017.</strong></p></th>
            <th><p><strong>2018.</strong></p></th>
            <th><p><strong>2019.</strong></p></th>
            <th><p><strong>31.12.2020.</strong></p></th>
            </tr>
      </thead>
<tbody>


 <tr>
 <td><p>Demobilisani borci</p></td>
 <td><p>747</p></td>
 <td><p>722</p></td>
 <td><p>716</p></td>
 <td><p>667</p></td>
 <td><p>612</p></td>
 </tr>

 <tr>
 <td><p>Porodice poginulih</p></td>
 <td><p>58</p></td>
 <td><p>60</p></td>
 <td><p>55</p></td>
 <td><p>40</p></td>
 <td><p>44</p></td>
 </tr>

 <tr>
 <td><p>Porodice nestalih</p></td>
 <td><p>1</p></td>
 <td><p>0</p></td>
 <td><p>0</p></td>
 <td><p>0</p></td>
 <td><p>0</p></td>
 </tr>

 <tr>
 <td><p>RVI</p></td>
 <td><p>39</p></td>
 <td><p>33</p></td>
 <td><p>31</p></td>
 <td><p>32</p></td>
 <td><p>27</p></td>
 </tr>

 <tr>
 <td><p>Civilne žrtve rata</p></td>
 <td><p>2</p></td>
 <td><p>2</p></td>
 <td><p>1</p></td>
 <td><p>1</p></td>
 <td><p>1</p></td>
 </tr>

 <tr>
 <td><p>Ostali</p></td>
 <td><p>14</p></td>
 <td><p>12</p></td>
 <td><p>14</p></td>
 <td><p>11</p></td>
 <td><p>8</p></td>
 </tr>

 <tr>
 <td><p><strong>Ukupno:</strong></p></td>
 <td><p><strong>861</strong></p></td>
 <td><p><strong>829</strong></p></td>
 <td><p><strong>817</strong></p></td>
 <td><p><strong>751</strong></p></td>
 <td><p><strong>692</strong></p></td>
 </tr>

 </tbody>
</table>
    <br><br><br>
   <p><strong>Penzioneri</strong></p>
<br><br>
<p>Broj penzionera na području općine Busovača raste iz godine u godinu. </p>

<p>U tabeli koja slijedi dat je pregled broja penzionera u posljednje tri godine na području općine Busovača, po kategorijama.</p>
<br>
  <table class="tablemobile"> 
    <thead>
        <tr>
            <th><p>Godina</p></th>
            <th><p>Penzioneri</p></th>
            <th><p>Umirovljenici</p></th>
            <th><p>Ukupno</p></th>
            </tr>
      </thead>
<tbody>


 <tr>
 <td><p>2018.</p></td>
 <td><p>1160</p></td>
 <td><p>850</p></td>
 <td><p>2010</p></td>
 </tr>

 <tr>
 <td><p>2019.</p></td>
 <td><p>1180</p></td>
 <td><p>890</p></td>
 <td><p>2070</p></td>
 </tr>

 <tr>
 <td><p>2020.</p></td>
 <td><p>1190</p></td>
 <td><p>1009</p></td>
 <td><p>2199</p></td>
 </tr>

 </tbody>
</table>
<br><br><br>

<p><strong>Mladi</strong></p>

<p>Prema podacima popisa stanovništva iz 2013. godine, na području općine Busovača je živjelo 4.126 stanovnika starosne dobi od 15 do 30 godina što predstavlja 23% ukupne populacije. </p>

<p>Mladi Busovače su u dobroj mjeri organizovani i aktivni. </p>

<p>Partnerski odnos sa lokalnim vlastima je odavno uspostavljen, a isti je osnažen formiranjem Komisije za mlade kao stalnog radnog tijela Općinskog vijeća i Vijeća mladih općine Busovača u skladu sa Zakonom o mladima Federacije BiH. </p>

<p>Partnerski odnos kontinuirano je podržavan i promovisan što je imalo za rezultat realizaciju niza zajedničkih aktivnosti, finansijsku podršku i razne druge vidove pomoći lokalne uprave u realizaciji inicijativa mladih u različitim oblastima (kultura, sport, ekologija, izgradnja kapaciteta u pripremi i implementaciji planova, projekata). </p>
<br><br>
<p><strong>Stanje i kretanje prihoda i rashoda u općinskom budžetu</strong></p>
<br>
<p>Kada se posmatra period posljednjih pet godina, prihodi i rashodi u budžetu Općine Busovača su izgledali kako slijedi:</p>
<br>
  <table class="tablemobile">
    <thead>
        <tr>
            <th><p>Godina</p></th>
            <th><p>Prihodi</p></th>
            <th><p>Rashodi</p></th>
            <th><p>Razlika</p></th>
            </tr>
      </thead> 
<tbody>


 <tr>
 <td><p>2016.</p></td>
 <td><p>4.125.949,00 KM</p></td>
 <td><p>3.778.976,00 KM</p></td>
 <td><p>346.973,00 KM</p></td>
 </tr>

 <tr>
 <td><p>2017.</p></td>
 <td><p>4.483.544,00 KM</p></td>
 <td><p>4.242.271,00 KM</p></td>
 <td><p>241.273,00 KM</p></td>
 </tr>

 <tr>
 <td><p>2018.</p></td>
 <td><p>4.663.016,00 KM</p></td>
 <td><p>4.550.357,00 KM</p></td>
 <td><p>112.659,00 KM</p></td>
 </tr>

 <tr>
 <td><p>2019.</p></td>
 <td><p>5.330.901,00 KM</p></td>
 <td><p>4.979.753,00 KM</p></td>
 <td><p>351.148,00 KM</p></td>
 </tr>

 <tr>
 <td><p>2020. </p></td>
 <td><p>5.743.598,00 KM</p></td>
 <td><p>5.700.588,00 KM</p></td>
 <td><p>43.010,00 KM</p></td>
 </tr>

 </tbody>
</table>
<br><br><br>
<p>U ukupnoj strukturi prihoda porezni i neporezni prihodi izgledaju:</p>
<br><br>
  <table class="tablemobile"> 
    <thead>
        <tr>
            <th><p>Godina</p></th>
            <th><p>2016.</p></th>
            <th><p>2017.</p></th>
            <th><p>2018.</p></th>
            <th><p>2019.</p></th>
            <th><p>2020.</p></th>
            </tr>
      </thead> 
<tbody>


 <tr>
 <td><p>Porezni</p></td>
 <td><p>2.442.169,00</p></td>
 <td><p>2.688.986,00</p></td>
 <td><p>3.035.442,00</p></td>
 <td><p>3.324.759,00</p></td>
 <td><p>3.046.593,00</p></td>
 </tr>

 <tr>
 <td><p>Neporezni</p></td>
 <td><p>1.683.780,00</p></td>
 <td><p>1.794.558,00</p></td>
 <td><p>1.627.574,00</p></td>
 <td><p>2.006.142,00 </p></td>
 <td><p>2.697.005,00</p></td>
 </tr>

 <tr>
 <td><p>Ukupno:</p></td>
 <td><p>4.125.949,00</p></td>
 <td><p>4.483.544,00</p></td>
 <td><p>4.663.016,00</p></td>
 <td><p>5.330.901,00</p></td>
 <td><p>5.743.598,00</p></td>
 </tr>

 </tbody>
</table>

<br><br><br>
  <p><strong>Registrovani subjekti na području općine </strong></p>

<p>U tabeli koja slijedi prikazani su uporedni pokazatelji broja registrovanih subjekata na području općine Busovača na dane 31.12.2015. godine i 31.12.2020. godine.</p>
<br><br>
  <table class="tablemobile"> 
    <thead>
        <tr>
            <th><p>Godina</p></th>
            <th><p>DOO – DD</p></th>
            <th><p>STR</p></th>
            <th><p>SZR</p></th>
            <th><p>Ugostiteljstvo</p></th>
            <th><p>Poljoprivreda</p></th>
            <th><p>Ukupno</p></th>
            </tr>
      </thead> 
<tbody>


 <tr>
 <td><p>2015.</p></td>
 <td><p>109</p></td>
 <td><p>68</p></td>
 <td><p>101</p></td>
 <td><p>57</p></td>
 <td><p>32</p></td>
 <td><p>228</p></td>
 </tr>

 <tr>
 <td><p>2020.</p></td>
 <td><p>92</p></td>
 <td><p>66</p></td>
 <td><p>136</p></td>
 <td><p>51</p></td>
 <td><p>79</p></td>
 <td><p>332</p></td>
 </tr>

 </tbody>
</table>
<br><br><br>
<p>Rezultati poslovanja privrednih subjekata u 2020. godini govore slijedeće:</p>

<p><strong>Finansijski pokazatelji ekonomije:</strong></p>
<br><br>
  <table class="tablemobile">
    <thead>
        <tr>
            <th><p>Ukupan prihod</p></th>
            <th><p>Rashodi</p></th>
            <th><p>Dobit</p></th>
            </tr>
      </thead>  
<tbody>


 <tr>
 <td><p>123.544.302,90 KM</p></td>
 <td><p>111.880.081,12 KM</p></td>
 <td><p>13.664.221,78 KM</p></td>
 </tr>

 </tbody>
</table>


 

 





      </div>


    <div class="other-articles-container">
        <app-side-news></app-side-news>
    </div>
    


</div>

