
.main-container1{
    width: 100%;
    height: auto;
    margin: 30px 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
  }
  .links-container{
    width: 15%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    flex-direction: column;
  
  }
  
  .pagination-container ul {
    position: relative;
    background: #fff;
    display: flex;
    padding: 2px 10px;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  
  
  
  .pagination-container ul li {
    list-style: none;
    line-height: 50px;
    margin: 0 5px;
  }
  
  .pagination-container ul li.pageNumber {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
  }
  
  .pagination-container ul li a {
    display: block;
    text-decoration: none;
    color: #383838;
    font-weight: 500;
    border-radius: 50%;
  }
  
  .pagination-container ul li.pageNumber:hover a,
  .pagination-container ul li.pageNumber.active a {
    background: #383838;
    color: #fff;
  }
  
  .pagination-container ul li:first-child {
    margin-right: 30px;
    font-weight: 700;
    font-size: 15px;
  }
  
  .pagination-container ul li:last-child {
    margin-left: 30px;
    font-weight: 700;
    font-size: 15px;
  }
  
  
  .loader-container{
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: white;
      opacity: 0.95;
      z-index: 999;
  }
  
  
  
    
  input[type=text] {
      padding: 5px;
      margin-top: 8px;
      font-size: 17px;
      border: 1px solid black;
      
    }
    
  button {
      float: right;
      padding: 7px;
      margin-top: 8px;
      margin-right: 16px;
      background: #a87205;
      font-size: 17px;
      border: none;
      cursor: pointer;
      color: white
    }
    
  button:hover {
      background: #ccc;
    }
  .links-container h2{
    font-weight: 500;
    margin-bottom: 5px;
  }
  
  .links-container a{
    color: rgb(90, 90, 90);
    margin: 10px 0px;
    font-weight: 400;
    transition: 0.2s;
    cursor: pointer;
  }
  .links-container a:hover{
    color: rgb(31, 31, 31);
  }
  .links-container a:hover i{
    margin-left: 8px;
  }
  .horiz-line{
    border-color: rgba(209, 209, 209, 0.3);
  }
  .links-container i{
    transition: 0.2s;
    margin-left: 6px;
  }
  
  
  .content-container1{
  
    width: 55%;
    min-height: 100vh;
    height: auto;
    border-right: 1px solid rgb(187, 187, 187);
    border-left: 1px solid rgb(187, 187, 187);
    padding: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }
  
  
  
  
  .other-articles-container{
    width: 15%;
    height: 100vh;
    padding: 20px;
  }
  .other-articles-container h2{
    margin-bottom: 15px;
  }
  
  .inner-news-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
  }
  .news-box{
    margin-bottom: 50px;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
  .news-box img{
    max-width: 70%;
  }
  .inner-news-box{
    width: 90%;
    height: 30%;
    margin-top: 5px;
  }
  .inner-news-box h4{
    font-weight: 400;
  }
  .inner-news-box h3{
    font-weight: 600;
    margin: 5px 0;
  }
  .newsDate{
    color: #606063;
  }
  .newsSubTitle{
    color: #af7f1e;
  }
  
  table {
    overflow-x: auto;
    display: block;
    width: 95%;
    border-right-color: #ffffff;
    font-size: 16px;
    /* /* border: 1px solid #343a40; */
    border-collapse: collapse; 
    table-layout:fixed;
  }
  
  th, td {
    /* border: 1px solid #343a40; */
    padding: 16px 24px;
    text-align: left;
  }
  
  th {
    background-color: #087f5b;
    color: #fff;
    width: 25%;
  }
  
  tbody tr:nth-child(odd){
    background-color: #f8f9fa;
  }
  
  
  tbody tr:nth-child(even){
    background-color: #e9ecef;
  }
  .tablemobile {
    overflow-x: auto;
    display: block;
  }
  
  .main-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container{
    margin-top: 15px;
    width: 95%;
    min-height: 30vh;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
  
  }
  
  .inner-titles-container h2{
    color: rgb(70, 70, 70);
  }
  
  .news-titles-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 55px;
    margin-bottom: 15px;
  }
  
  .inner-titles-container{
    width: 65%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: row;
    
  }
  .inner-titles-container h2, h3{
    font-weight: 400;
  }
  .list-container{
    width: auto;
    max-width: 45%;
  
  }
  .list-container i{
    background-color: #c2bfbf;
    font-size: 17px;
    padding: 2px 7px 3.5px 7px;
    margin-right: 8px;
    margin-top: -2px;
    transition: 0.1s;
  
  }
  .item{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 15px;
  }
  .top{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .bottom{
    margin-top: 5px;
    margin-bottom: 8px;
  }
  .item button{
    background-color: rgb(4, 90, 4);
    color: white;
    margin-right: 10px;
    border: none;
    padding: 5px 8px;
    border-radius: 15px;
  }
  .second button{
    background-color: rgb(185, 107, 18);
  }
  .list-container i:hover{
    background-color: #CC9933;
    color: white;
  }
  
  .l-news {
    width: 100%;
  }
  .l-news__content {
    align-items: center;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
  }
  
  .content-container{
    align-items: center;
    display: flex; 
  }
  
  .l-news__content:first-child {
    border-top: 1px solid gray;
  }
  .l-news__content__day {
    margin-right: 25px;
  }
  .l-news__content__label {
    height: 25px;
    line-height: 25px;
    margin-right: 25px;
    text-align: center;
  
    padding: 0px 12px;
    border-radius: 10px;
  }
  .p-news__content {
    letter-spacing: 0.06em;
    transition: all 0.3s;
  }
  .p-news__content:hover {
    opacity: 0.5;
  }
  .p-news__content__day {
    color: gray;
    font-size: 13px;
  }
  .p-news__content__label {
    background-color: rgb(18, 99, 13);
    color: white;
    font-size: 10px;
  }
  .p-news__content__label2 {
    background-color: rgb(148, 123, 10);
    color: white;
    font-size: 10px;
  }
  .p-news__content__text {
    font-size: 14px;
  }
  .arrow-container{
    font-size: 20px;
  }
  .date-container{
    display: none;
  }
  
  @media only screen and (max-width: 1350px) {
    .inner-news-container{
        width: 65%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .inner-box h1{
        font-size: 20px;
    }
    .news-box{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        margin-bottom: 20px;
    }
    .news-box img{
        width: 30%;
        max-height: 70%;
    }
    .inner-news-box{
        margin-left: 15px;
    }
    .container{
      width: 95%;
  }
  .p-news__content__text {
      font-size: 12px;
  }
  .p-news__content__day {
      font-size: 12px;
  }
  .p-news__content__label {
      font-size: 8px;
  }
  }
  
  
  @media only screen and (max-width: 800px) {
    .l-news__content__day {
        margin-right: 10px;
    }
    .l-news__content__label {
   
        margin-right: 10px;
    }
    .p-news__content__text {
        font-size: 10px;
    }
    .p-news__content__day {
        font-size: 10px;
    }
    .img-container img{
        width: 800px;
        min-height: fit-content;
    }
  
    .inner-titles-container h2{
        font-size: 17px;
    }
    .inner-titles-container h3{
        font-size: 17px;
    }
  }
  
  
  @media only screen and (max-width: 750px) {
    .disappear{
        display: none;
    }
    .container{
        width: 80%;
    }
    .img-container img{
        width: 650px;
  
    }
  
    .inner-box h1{
        font-size: 17px;
    }
    .inner-titles-container{
        width: 80%;    
    }
    .inner-news-container{
        width: 80%;
      
    }
    .inner-news-box h3{
        font-size: 14px;
    }
    .inner-news-box p{
        font-size: 13px;
    }
    .p-news__content__text {
        font-size: 12px;
    }
    .p-news__content__day {
        font-size: 12px;
    }
  }
  
  
  
  
  /*responsiveness*/
  
  @media only screen and (max-width: 1100px) {
    h2{
        font-size: 18px;
    }
    h3{
        font-size: 15px;
    }
  }
  @media only screen and (max-width: 1000px) {
    .main-container1{
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .content-container1{
  
        width: 100%;
        min-height: 40vh;
        height: auto;
        border: none;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        order: 1;
    }
    
  
    .links-container{
        width: 95%;
        height: auto;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 20px;
        flex-direction: column;
        order: 2;
        border-top: 1px solid rgb(187, 187, 187)
    
    }
    .other-articles-container{
        width: 95%;
        height: auto;
        padding: 20px;
        order: 3;
        border-top: 1px solid rgb(187, 187, 187);
    }
  
  }
  @media only screen and (max-width: 450px) {
    input[type=text] {
      padding: 5px;
      font-size: 15px;
      width: 170px;     
    }
    
    button {
      padding: 6px;
      font-size: 15px;
    
    }
    
  }
  
  
  
  