<div class="main-container">
    <div class="links-container">
        <h2>Vezani linkovi:</h2>
        <a href="/o-opcini/o-nama">O nama<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/o-opcini/historijat">{{ 'historijat_naslov' | translate }}<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/o-opcini/geografija-i-demografija">{{ 'geo_demo_naslov' | translate }}<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/o-opcini/socio-ekonomski-profit">Socio-ekonomski profil<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/o-opcini/opcinski-nacelnik">Općinski načelnik<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/o-opcini/javne-ustanove-i-preduzeca">{{ 'javna_naslov' | translate }}<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/o-opcini/turizam">Turizam<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/o-opcini/kultura">Kultura<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/o-opcini/privreda">{{ 'privreda_naslov' | translate }}<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/o-opcini/obrazovna-i-socijalna-infrastruktura">Obrazovna i socijalna infrastruktura<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/o-opcini/sport">{{ 'sport_naslov' | translate }}<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/o-opcini/nvo">NVO sektor<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/o-opcini/mjesne-zajednice">Mjesne zajednice<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/o-opcini/javne-nabavke/page/1">Javne nabavke<i class="fa fa-angle-right"></i></a>
    </div>
    



    <div class="content-container">
        <h2>{{ 'sport_naslov' | translate }}</h2>
        <br>
        <br>
        <div style="white-space: pre-line"><p class="content"> {{ 'sport' | translate }}</p></div>
        <table>
            <thead>
                <tr>
                    <th >
                        <p><strong>Naziv</strong></p>
                    </th>
                    <th >
                        <p><strong>Sjedište</strong></p>
                    </th>
                    <th >
                        <p><strong>Telefon</strong></p>
                    </th>
                    <th >
                        <p><strong>Kontakt osoba</strong></p>
                    </th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                    <td  ><p>Košarkaški klub Busovača</p></td>
                    <td  ><p>16. avgust/kolovoz b.b.</p></td>
                    <td  ><p>063/334-500</p></td>
                    <td  ><p>Nikica Petrović</p></td>
                    </tr>
                    
                    <tr>
                    <td  ><p>Nogometni klub Busovača</p></td>
                    <td  ><p>Tisovačka b.b.</p></td>
                    <td  ><p>063/431-092</p></td>
                    <td  ><p>Josip Mravak</p></td>
                    </tr>
                    
                    <tr>
                    <td  ><p>Fudbalski klub „Kaćuni“</p>
                    
                    </td>
                    <td  ><p>Kaćuni b.b.</p></td>
                    <td  ><p>061/182-998</p>
                    
                    <p>062/143-748</p></td>
                    <td  ><p>Enes Mekić</p>
                    
                    <p>Kasim Hajdarević</p></td>
                    </tr>
                    
                    <tr>
                    <td  ><p>Teniski klub „Tisa“ Busovača</p></td>
                    <td  ><p>1.marta/ožujka b.b.</p></td>
                    <td  ><p>063/893-372</p></td>
                    <td  ><p>Dragan Laštro</p></td>
                    </tr>
                    
                    <tr>
                    <td  ><p>OFK Lugovi</p></td>
                    <td  ><p>Lugovi b.b.</p></td>
                    <td  ><p>062/117-346</p></td>
                    <td  ><p>Hrustan Lušija</p></td>
                    </tr>
                    
                    <tr>
                    <td  ><p>Karate klub „Napredak“</p></td>
                    <td  ><p>16. avgust/kolovoz b.b.</p></td>
                    <td  ><p>063/335-631</p></td>
                    <td  ><p>Žarko Petrović</p></td>
                    </tr>
                    
                    <tr>
                    <td  ><p>Auto moto klub Busovača</p></td>
                    <td  ><p>Kaonik b.b.</p></td>
                    <td  ><p>063/378-061</p></td>
                    <td  ><p>Slaviša Čavara</p></td>
                    </tr>
                    
                    <tr>
                    <td  ><p>Udruženje planinara „Tisovac“</p></td>
                    <td  ><p>Ravan b.b.</p></td>
                    <td  ><p>063/664-074</p></td>
                    <td  ><p>Robert Vrhovac</p></td>
                    </tr>
                    
                    <tr>
                    <td  ><p>Udruženje sportskih ribolovaca</p></td>
                    <td  ><p>Branitelja domovine b.b.</p></td>
                    <td  ><p>063/364-532</p></td>
                    <td  ><p>Ivica Tomčić</p></td>
                    </tr>
                    
                    <tr>
                    <td  ><p>Klub borilačkih vještina „SENSEI“</p></td>
                    <td  ><p>Krčevine b.b. </p></td>
                    <td  ><p>063/366-544</p></td>
                    <td  ><p>Pero Lovrić</p></td>
                    </tr>
                    
                    <tr>
                    <td  ><p>Skijaški klub Busovača</p></td>
                    <td  ><p>1.marta/ožujka b.b.</p></td>
                    <td  ><p>063/333-234</p></td>
                    <td  ><p>Goran Stipac</p></td>
                    </tr>
                    
                    <tr>
                    <td  ><p>Šahovski klub Busovača</p></td>
                    <td  ><p>Kaonik b.b.</p></td>
                    <td  ><p>061/173-515</p></td>
                    <td  ><p>Branislav Vujica</p></td>
                    </tr>
                    
                    <tr>
                    <td  ><p>Odbojkaški klub Busovača</p></td>
                    <td  ><p>1.marta/ožujka b.b.</p></td>
                    <td  ><p>063/874-617</p></td>
                    <td  ><p>Dragan Lovrić</p></td>
                    </tr>
                    
                    <tr>
                    <td  ><p>Karate klub „BUNKAI“</p></td>
                    <td  ><p>Musa Čazim Ćatić bb.</p></td>
                    <td  ><p>062/360-955</p>
                    
                    <p>061/865-332</p></td>
                    <td  ><p>Asim Hodžić</p>
                    
                    <p>Adnan Srebrenica</p></td>
                    </tr>
                    
                    <tr>
                    <td  ><p>Udruženje ribara „VIR“</p></td>
                    <td  ><p>Grablje bb.</p></td>
                    <td  ><p>063/707-016</p></td>
                    <td  ><p>Izudin Neslanović</p></td>
                    </tr>
                    
                    <tr>
                    <td  ><p>Nogometni klub „Rasno“</p></td>
                    <td  ><p>Hrasno bb.</p></td>
                    <td  ><p>063/411-925</p></td>
                    <td  ><p>Ivica Vujica</p>
                    
                    <p>Boro Vujica</p></td>
                    </tr>
                    
                    <tr>
                    <td  ><p>Sportski savez općine Busovača</p></td>
                    <td  ><p>16. avgust/kolovoz b.b.</p></td>
                    <td  ><p>063/488-022</p></td>
                    <td  ><p>Jozo Laštro</p></td>
                    </tr>
                    
                    <tr>
                    <td  ><p>Šahovski klub „Hrasno-Busovača“</p></td>
                    <td  ><p>Hrasno bb.</p></td>
                    <td  ><p>063/411-925</p></td>
                    <td  ><p>Vlado Vujica</p>
                    
                    <p>Boro Vujica</p></td>
                    </tr>
                    
                    <tr>
                    <td  ><p>Planinarsko društvo „TIM“</p></td>
                    <td  ><p>Ravanjski put bb</p></td>
                    <td  ><p>063/007-924</p></td>
                    <td  ><p>Goran Prusac</p></td>
                    </tr>
                    
                    <tr>
                    <td  ><p>Mažoretkinje Busovača</p></td>
                    <td  ><p>Branitelja domovine bb</p></td>
                    <td  ><p>063/469-742</p></td>
                    <td  ><p>Ana Marija Lucić</p></td>
                    </tr>
                    
                    <tr>
                    <td  ><p>Udruga mladih sportaša „ALFA“</p></td>
                    <td  ><p>Ravan bb.</p></td>
                    <td  ><p>063/937-335</p></td>
                    <td  ><p>Anto Petrović</p></td>
                    </tr>
                    
                    <tr>
                    <td  ><p>Klub borilačkih vještina „MUSA“</p></td>
                    <td  ><p>Putiš bb.</p></td>
                    <td  ><p>061/781-110</p></td>
                    <td  ><p>Nedim Klisura</p></td>
                    </tr>
                    
                    <tr>
                    <td  ><p>Odbojkaški klub Kaćuni</p></td>
                    <td  ><p>Kaćuni bb.</p></td>
                    <td  ><p>061/326-399</p></td>
                    <td  ><p>Nermin Hodžić</p></td>
                    </tr>

                    <tr>
                        <td  ><p>Klub borilačkih vještina "Budoka"</p></td>
                        <td  ><p>Skradno bb.</p></td>
                        <td  ><p>063/112-161</p></td>
                        <td  ><p>Marko Lovrić</p></td>
                        </tr>
                    
                        <tr>
                            <td  ><p>MIFITNES</p></td>
                            <td  ><p>Ive Andrića bb.</p></td>
                            <td  ><p>063/004-135</p></td>
                            <td  ><p>Mila Čavara</p></td>
                            </tr>
                        
            </tbody>
        </table>
    </div>


    <div class="other-articles-container">
        <app-side-news></app-side-news>
    </div>



</div>