<div class="main-container">
    <div class="links-container">
        <h2>Vezani linkovi:</h2>
        <h3>Historijat<i class="fa fa-angle-right"></i></h3>
        <h3>Geografija i demografija<i class="fa fa-angle-right"></i></h3>
        <h3>Socio-ekonomski profit<i class="fa fa-angle-right"></i></h3>
        <h3>Općinski načelnik<i class="fa fa-angle-right"></i></h3>
        <h3>Javna preduzeća i ustanove<i class="fa fa-angle-right"></i></h3>
        <h3>Privreda<i class="fa fa-angle-right"></i></h3>
        <h3>Turizam<i class="fa fa-angle-right"></i></h3>
        <h3>Kultura<i class="fa fa-angle-right"></i></h3>
        <h3>Obrazovna i socijalna infrastruktura<i class="fa fa-angle-right"></i></h3>
        <h3>Sport<i class="fa fa-angle-right"></i></h3>
        <h3>NVO sektor<i class="fa fa-angle-right"></i></h3>
        <h3>Mjesne zajednice<i class="fa fa-angle-right"></i></h3>
    </div>





    <div class="content-container">
        <h2>Sport</h2>
        <br>
        <br>
        <p>


            Busovačku društvenu infrastrukturu u oblasti razvoja sporta i sportske kulture predstavljaju
            22 sportske organizacije/udruženja. U okviru istih zastupljeno je 8 sportskih grana takmičarskog
            tipa i 4 grane rekreativnog. U prvoj grupi zastupljeni su: šah, karate, tenis, rukomet, auto-moto,
            nogomet, odbojka i košarka, a u rekreativnom sportu su: lov, ribolov, planinarstvo i i skijanje.
            <br><br>
            Infrastrukturu sportskih objekata u gradu čine 2 nogometna stadiona koji se nalaze u Busovači i
            Kaćunima, sportske dvorane u centralnim osnovnim školama i u Srednjoj školi u Busovači, SRC
            centri Pridolci i Busovačka planina, te sportska igrališta u mjesnim zajednicama.
            <br><br>
            Sportske aktivnosti u lokalnoj zajednici finansiraju se sredstvima iz granta za sport iz općinskog
            budžeta koji se doznačava na račun krovne organizacije Sportskog saveza općine Busovača, kao
            i na račune sportskih klubova registrovanih na području općine Busovača u iznosu od oko
            100.000,00 KM godišnje, kao i 10.000,00 KM namjenskih sredstava za održavanje nogometnih
            stadiona, zatim članarinom korisnika/članova sportskih klubova/udruženja, sredstvima sponzora i
            iz drugim izvorima prihoda.
        </p>
        <br><br>
        <p><strong>Sportski klubovi registrovani na području općine Busovača</strong></p>
        <br><br>
        <table>
            <thead>
                <tr>
                    <th valign="top">
                        <p><strong>Naziv</strong></p>
                    </th>
                    <th valign="top">
                        <p><strong>Sjedište</strong></p>
                    </th>
                    <th valign="top">
                        <p><strong>Telefon</strong></p>
                    </th>
                    <th valign="top">
                        <p><strong>Kontakt osoba</strong></p>
                    </th>
                </tr>
            </thead>
            <tbody>
                

                <tr>
                    <td valign="top">
                        <p>Košarkaški klub Busovača</p>
                    </td>
                    <td valign="top">
                        <p>16. avgust/kolovoz b.b.</p>
                    </td>
                    <td valign="top">
                        <p>063/334-500</p>
                    </td>
                    <td valign="top">
                        <p>Nikica Petrović</p>
                    </td>
                </tr>

                <tr>
                    <td valign="top">
                        <p>Nogometni klub Busovača</p>
                    </td>
                    <td valign="top">
                        <p>Tisovačka b.b.</p>
                    </td>
                    <td valign="top">
                        <p>063/431-092</p>
                    </td>
                    <td valign="top">
                        <p>Josip Mravak</p>
                    </td>
                </tr>

                <tr>
                    <td valign="top">
                        <p>Fudbalski klub „Kaćuni“</p>

                    </td>
                    <td valign="top">
                        <p>Kaćuni b.b.</p>
                    </td>
                    <td valign="top">
                        <p>061/182-998</p>

                        <p>061/618-790</p>
                    </td>
                    <td valign="top">
                        <p>Enes Mekić</p>

                        <p>Nedim Arnaut</p>
                    </td>
                </tr>

                <tr>
                    <td valign="top">
                        <p>Teniski klub „Tisa“ Busovača</p>
                    </td>
                    <td valign="top">
                        <p>1.marta/ožujka b.b.</p>
                    </td>
                    <td valign="top">
                        <p>063/893-372</p>
                    </td>
                    <td valign="top">
                        <p>Dragan Laštro</p>
                    </td>
                </tr>

                <tr>
                    <td valign="top">
                        <p>OFK Lugovi</p>
                    </td>
                    <td valign="top">
                        <p>Lugovi b.b.</p>
                    </td>
                    <td valign="top">
                        <p>062/117-346</p>
                    </td>
                    <td valign="top">
                        <p>Hrustan Lušija</p>
                    </td>
                </tr>

                <tr>
                    <td valign="top">
                        <p>Karate klub „Napredak“</p>
                    </td>
                    <td valign="top">
                        <p>16. avgust/kolovoz b.b.</p>
                    </td>
                    <td valign="top">
                        <p>063/767-442</p>
                    </td>
                    <td valign="top">
                        <p>Žarko Petrović</p>
                    </td>
                </tr>

                <tr>
                    <td valign="top">
                        <p>Auto moto klub Busovača</p>
                    </td>
                    <td valign="top">
                        <p>Kaonik b.b.</p>
                    </td>
                    <td valign="top">
                        <p>063/378-061</p>
                    </td>
                    <td valign="top">
                        <p>Slaviša Čavara</p>
                    </td>
                </tr>

                <tr>
                    <td valign="top">
                        <p>Udruženje planinara „Tisovac“</p>
                    </td>
                    <td valign="top">
                        <p>Ravan b.b.</p>
                    </td>
                    <td valign="top">
                        <p>063/664-074</p>
                    </td>
                    <td valign="top">
                        <p>Robert Vrhovac</p>
                    </td>
                </tr>

                <tr>
                    <td valign="top">
                        <p>Udruženje sportskih ribolovaca</p>
                    </td>
                    <td valign="top">
                        <p>Branilaca/branitelja domovine b.b.</p>
                    </td>
                    <td valign="top">
                        <p>030/732-697</p>

                        <p>063/364-532</p>
                    </td>
                    <td valign="top">
                        <p>Ivica Tomčić</p>
                    </td>
                </tr>

                <tr>
                    <td valign="top">
                        <p>Klub borilačkih vještina „SENSEI“</p>
                    </td>
                    <td valign="top">
                        <p>Krčevine b.b.</p>
                    </td>
                    <td valign="top">
                        <p>063/366-544</p>
                    </td>
                    <td valign="top">
                        <p>Pero Lovrić</p>
                    </td>
                </tr>

                <tr>
                    <td valign="top">
                        <p>Skijaški klub Busovača</p>
                    </td>
                    <td valign="top">
                        <p>1.marta/ožujka b.b.</p>
                    </td>
                    <td valign="top">
                        <p>063/333-234</p>
                    </td>
                    <td valign="top">
                        <p>Goran Stipac</p>
                    </td>
                </tr>

                <tr>
                    <td valign="top">
                        <p>Šahovski klub Busovača</p>
                    </td>
                    <td valign="top">
                        <p>Kaonik b.b.</p>
                    </td>
                    <td valign="top">
                        <p>061/173-515</p>
                    </td>
                    <td valign="top">
                        <p>Branislav Vujica</p>
                    </td>
                </tr>

                <tr>
                    <td valign="top">
                        <p>Odbojkaški klub Busovača</p>
                    </td>
                    <td valign="top">
                        <p>1.marta/ožujka b.b.</p>
                    </td>
                    <td valign="top">
                        <p>063/874-617</p>
                    </td>
                    <td valign="top">
                        <p>Dragan Lovrić</p>
                    </td>
                </tr>

                <tr>
                    <td valign="top">
                        <p>Karate klub „BUKAI“</p>
                    </td>
                    <td valign="top">
                        <p>Musa Čazim Ćatić bb.</p>
                    </td>
                    <td valign="top">
                        <p>062/360-955</p>

                        <p>062/188-958</p>
                    </td>
                    <td valign="top">
                        <p>Asim Hodžić</p>

                        <p>Adnan Srebrenica</p>
                    </td>
                </tr>

                <tr>
                    <td valign="top">
                        <p>Udruženje ribara „VIR“</p>
                    </td>
                    <td valign="top">
                        <p>Grablje bb.</p>
                    </td>
                    <td valign="top">
                        <p>063/707-016</p>
                    </td>
                    <td valign="top">
                        <p>Izudin Neslanović</p>
                    </td>
                </tr>

                <tr>
                    <td valign="top">
                        <p>Nogometni klub „Rasno“</p>
                    </td>
                    <td valign="top">
                        <p>Hrasno bb.</p>
                    </td>
                    <td valign="top">
                        <p>063/411-925</p>
                    </td>
                    <td valign="top">
                        <p>Ivica Vujica</p>

                    </td>
                </tr>

                <tr>
                    <td valign="top">
                        <p>Šahovski klub „Hrasno-Busovača“</p>
                    </td>
                    <td valign="top">
                        <p>Hrasno bb.</p>
                    </td>
                    <td valign="top">
                        <p>063/411-925</p>
                    </td>
                    <td valign="top">
                        <p>Boro Vujica</p>
                    </td>
                </tr>

                <tr>
                    <td valign="top">
                        <p>Planinarsko društvo „TIM“</p>
                    </td>
                    <td valign="top">
                        <p>Ravanjski put bb</p>
                    </td>
                    <td valign="top">
                        <p>063/484-745</p>
                    </td>
                    <td valign="top">
                        <p>Ljuban Grubešić</p>
                    </td>
                </tr>

                <tr>
                    <td valign="top">
                        <p>Mažoretkinje Busovača</p>
                    </td>
                    <td valign="top">
                        <p>Branitelja domovine bb</p>
                    </td>
                    <td valign="top">
                        <p>063/469-742</p>
                    </td>
                    <td valign="top">
                        <p>Dragana Bohutinski</p>
                    </td>
                </tr>

                <tr>
                    <td valign="top">
                        <p>Klub borilačkih vještina „MUSA“ Busovača</p>
                    </td>
                    <td valign="top">
                        <p>Putiš bb.</p>
                    </td>
                    <td valign="top">
                        <p>061/781-110</p>
                    </td>
                    <td valign="top">
                        <p>Nedim Klisura</p>
                    </td>
                </tr>

                <tr>
                    <td valign="top">
                        <p>Odbojkaški klub Kaćuni</p>
                    </td>
                    <td valign="top">
                        <p>Kaćuni bb.</p>
                    </td>
                    <td valign="top">
                        <p>061/326-399</p>
                    </td>
                    <td valign="top">
                        <p>Nermin Hodžić</p>
                    </td>
                </tr>

                <tr>
                    <td valign="top">
                        <p>Univerzalna sportska škola „Alfa“</p>
                    </td>
                    <td valign="top">
                        <p>Ravan - Busovača</p>
                    </td>
                    <td valign="top">
                        <p>063/937-335</p>
                    </td>
                    <td valign="top">
                        <p>Anto Petrović</p>
                    </td>
                </tr>

                <tr>
                    <td valign="top">
                        <p>Sportski savez općine Busovača</p>
                    </td>
                    <td valign="top">
                        <p>Krčevine bb.</p>
                    </td>
                    <td valign="top">
                        <p>063/488-022</p>

                        <p>066/123-237</p>
                    </td>
                    <td valign="top">
                        <p>Jozo Laštro</p>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>


    <div class="other-articles-container">
        <app-side-news></app-side-news>
    </div>



</div>