 <h2>Aktuelni članci</h2>
    <a class="pogledajSve" (click)="openAll()">Pogledaj sve</a>
    <div class="inner-news-container">
    
        <div class="news-box" *ngFor="let newsItem of news" (click)="openArticle(newsItem._id)">
          <img src="{{newsItem.selectedFile}}" alt="" >
          <div class="inner-news-box">
            <p class="newsSubTitle">{{newsItem.subTitle}}</p>
            <h3>{{newsItem.title}}</h3>
            <p class="newsDate">{{newsItem.createdAt}}</p>
          </div>
  
        </div>
    </div>