
.other-articles-container h2{
    margin-bottom: 15px;
}

.inner-news-container{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}
.news-box{
    margin-bottom: 50px;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
.news-box img{
    max-width: 70%;
}
.inner-news-box{
    width: 90%;
    height: 30%;
    margin-top: 5px;
}
.inner-news-box h4{
    font-weight: 400;
}
.inner-news-box h3{
    font-weight: 600;
    margin: 5px 0;
}
.newsDate{
    color: #606063;
}
.newsSubTitle{
    color: #af7f1e;
}
.pogledajSve{
    font-weight: 400;
    text-decoration: underline;
}



@media only screen and (max-width: 850px) {
    h2{
        font-size: 18px;
    }
    h3{
        font-size: 15px;
    }
   
}

@media only screen and (max-width: 1100px) {
    .news-box img{
        max-width: 30%;
    }
    .news-box{
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: row;
        margin-bottom: 30px;
    }
    .inner-news-box{
        width: 90%;
        height: 30%;
        margin-left: 10px;
        margin-top: 0px;
    }
}
@media only screen and (max-width: 500px) {
    .newsDate{
       font-size: 12px;
    }
    .inner-news-box h3{
        margin: 2px 0;
    }

}
@media only screen and (max-width: 400px) {
    h3{
        font-size: 14px;
    }
    .inner-news-box p{
        font-size: 12px;
    }
}