<div class="main-container">
    <div class="links-container">
        <h2>Vezani linkovi:</h2>
        <a href="/o-opcini/opcinski-nacelnik">Općinski načelnik<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/vijecnici">Općinski vijećnici<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/">Službeni glasnik<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/sluzbe-uprave">Službe uprave<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/aktuelnosti/page/1">{{ 'aktuelnosti_naslov' | translate }}<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/dokumenti">Dokumenti<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/dokumenti-i-zakljucci">Dokumenti i zaključci OV<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/javni-oglasi/page/1">Javni oglasi<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/radna-tijela-povjerenstva">{{ 'radna_tijela' | translate }}<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/obrasci">Obrasci<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/fotogalerija">Fotogalerija<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
    </div>
    





    <div class="content-container">
        <h2>Službe uprave</h2>
        <br>

        <br>
        <br>
        <table>
            <thead>
                <tr>
                    <th style="width: 50%;">
                        Naziv službe
                    </th>
                    <th style="width: 25%;">
                        Kontakt
                    </th>
                    <th style="width: 35%;">
                        E-mail
                    </th>
                </tr>
              </thead>
            <tbody>
              

                <tr>
                    <td>
                        Ured Općinskog načelnika i predsjedavajućeg/predsjedatelja Općinskog vijeća
                    </td>
                    <td>
                        (030)-732-152
                        <br>
                        (030)-732-184

                    </td>
                    <td>
                        <a href="mailto:Opcina.busovaca1@tel.net.ba">Opcina.busovaca1@tel.net.ba</a>
                        <br>
                        <a href="mailto:Opcina.busovaca2@tel.net.ba">Opcina.busovaca2@tel.net.ba</a>
<br>
                        <a href="mailto:Opcina.busovaca@hotmail.com">Opcina.busovaca@hotmail.com</a>
                    </td>
                </tr>

                <tr>
                    <td>
                        Služba za lokalni ekonomski razvitak/razvoj, obnovu i raseljene osobe
                    </td>
                    <td>
                        (030)-732-152
                    </td>
                    <td>
                        <a href="mailto:Opcina.busovaca1@tel.net.ba">Opcina.busovaca1@tel.net.ba</a> 
                    </td>
                </tr>

                <tr>
                    <td>
                        Služba za prostorno uređenje, urbanizam i stambene poslove
                    </td>
                    <td>
                        (030)-732-561
                    </td>
                    <td>
                        <a href="mailto:Naser.opcina@hotmail.com">Naser.opcina@hotmail.com</a>
                    </td>
                </tr>

                <tr>
                    <td>
                        Služba za finansije/finacije i trezor/riznicu
                    </td>
                    <td>
                        (030)-732-066
                    </td>
                    <td>
                        <a href="mailto:opcina.busovaca@tel.net.ba">opcina.busovaca@tel.net.ba</a> 
                        <br>
                        <a href="mailto:sluzbazafinancije@gmail.com">sluzbazafinancije@gmail.com</a>
                    </td>
                </tr>

                <tr>
                    <td>
                        Služba za opću upravu, društvene djelatnosti i boračko/braniteljsko-invalidsku zaštitu/skrb
                        
                    </td>
                    <td>
                        (030)-732-432
                    </td>
                    <td>
                        <a href="mailto:zeljkavujica@gmail.com">zeljkavujica@gmail.com</a>
                    </td>
                </tr>

                <tr>
                    <td>
                        Služba za geodetske i imovinsko-pravne poslove
                    </td>
                    <td>
                        (030)-732-172
                    </td>
                    <td>
                        <a href="mailto:Tunjo.lastro@tel.net.ba">Tunjo.lastro@tel.net.ba</a>
                    </td>
                </tr>

                <tr>
                    <td>
                        Služba za civilnu zaštitu
                    </td>
                    <td>
                        (030)-732-192
                    </td>
                    <td>
                        <a href="mailto:Nevenka.gavranovic@gmail.com">Nevenka.gavranovic@gmail.com</a>
                    </td>
                </tr>

            </tbody>
        </table>


    </div>


    <div class="other-articles-container">
        <app-side-news></app-side-news>
    </div>



</div>