<div class="main-container">
    <div class="links-container">
        <h2>Vezani linkovi:</h2>
        <h3>Historijat<i class="fa fa-angle-right"></i></h3>
        <h3>Geografija i demografija<i class="fa fa-angle-right"></i></h3>
        <h3>Socio-ekonomski profit<i class="fa fa-angle-right"></i></h3>
        <h3>Općinski načelnik<i class="fa fa-angle-right"></i></h3>
        <h3>Javna preduzeća i ustanove<i class="fa fa-angle-right"></i></h3>
        <h3>Privreda<i class="fa fa-angle-right"></i></h3>
        <h3>Turizam<i class="fa fa-angle-right"></i></h3>
        <h3>Kultura<i class="fa fa-angle-right"></i></h3>
        <h3>Obrazovna i socijalna infrastruktura<i class="fa fa-angle-right"></i></h3>
        <h3>Sport<i class="fa fa-angle-right"></i></h3>
        <h3>NVO sektor<i class="fa fa-angle-right"></i></h3>
        <h3>Mjesne zajednice<i class="fa fa-angle-right"></i></h3>
    </div>





    <div class="content-container">
        <h2>Službe uprave</h2>
        <br>

        <br>
        <br>
        <table>
            <thead>
                <tr>
                    <th>
                        <p>Naziv službe</p>
                    </th>
                    <th>
                        <p>Kontakt</p>
                    </th>
                    <th>
                        <p>E-mail</p>
                    </th>
                </tr>
              </thead>
            <tbody>
              

                <tr>
                    <td>
                        <p>Ured Općinskog načelnika i predsjedavajućeg/predsjedatelja Općinskog vijeća</p>
                    </td>
                    <td>
                        <p>(030) 732-152</p>

                        <p>(030) 732-184</p>

                    </td>
                    <td>
                        <p><a href="mailto:Opcina.busovaca1@tel.net.ba">Opcina.busovaca1@tel.net.ba</a></p>

                        <p><a href="mailto:Opcina.busovaca2@tel.net.ba">Opcina.busovaca2@tel.net.ba</a></p>

                        <p><a href="mailto:Opcina.busovaca@hotmail.com">Opcina.busovaca@hotmail.com</a></p>
                    </td>
                </tr>

                <tr>
                    <td>
                        <p>Služba za lokalni ekonomski razvitak/razvoj, obnovu i raseljene osobe</p>
                    </td>
                    <td>
                        <p>0(30) 732-152</p>
                    </td>
                    <td>
                        <p><a href="mailto:Opcina.busovaca1@tel.net.ba">Opcina.busovaca1@tel.net.ba</a> </p>
                    </td>
                </tr>

                <tr>
                    <td>
                        <p>Služba za prostorno uređenje, urbanizam i stambene poslove</p>
                    </td>
                    <td>
                        <p>(030) 732-561</p>
                    </td>
                    <td>
                        <p><a href="mailto:Naser.opcina@hotmail.com">Naser.opcina@hotmail.com</a></p>
                    </td>
                </tr>

                <tr>
                    <td>
                        <p>Služba za finansije/finacije i trezor/riznicu</p>
                    </td>
                    <td>
                        <p>(030) 732-066</p>
                    </td>
                    <td>
                        <p><a href="mailto:opcina.busovaca@tel.net.ba">opcina.busovaca@tel.net.ba</a> </p>

                        <p><a href="mailto:sluzbazafinancije@gmail.com">sluzbazafinancije@gmail.com</a></p>
                    </td>
                </tr>

                <tr>
                    <td>
                        <p>Služba za opću upravu, društvene djelatnosti i boračko/braniteljsko-invalidsku zaštitu/skrb
                        </p>
                    </td>
                    <td>
                        <p>(030) 732-432</p>
                    </td>
                    <td>
                        <p><a href="mailto:zeljkavujica@gmail.com">zeljkavujica@gmail.com</a></p>
                    </td>
                </tr>

                <tr>
                    <td>
                        <p>Služba za geodetske i imovinsko-pravne poslove</p>
                    </td>
                    <td>
                        <p>(030) 732-172</p>
                    </td>
                    <td>
                        <p><a href="mailto:Tunjo.lastro@tel.net.ba">Tunjo.lastro@tel.net.ba</a></p>
                    </td>
                </tr>

                <tr>
                    <td>
                        <p>Služba za civilnu zaštitu</p>
                    </td>
                    <td>
                        <p>(030) 732-192</p>
                    </td>
                    <td>
                        <p><a href="mailto:Nevenka.gavranovic@gmail.com">Nevenka.gavranovic@gmail.com</a></p>
                    </td>
                </tr>

            </tbody>
        </table>


    </div>


    <div class="other-articles-container">
        <app-side-news></app-side-news>
    </div>



</div>