<div class="main-container">
    <div class="links-container">
        <h2>Vezani linkovi:</h2>
        <a href="/o-opcini/opcinski-nacelnik">Općinski načelnik<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/vijecnici">Općinski vijećnici<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/">Službeni glasnik<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/sluzbe-uprave">Službe uprave<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/aktuelnosti/page/1">{{ 'aktuelnosti_naslov' | translate }}<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/dokumenti">Dokumenti<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/dokumenti-i-zakljucci">Dokumenti i zaključci OV<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/javni-oglasi/page/1">Javni oglasi<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/radna-tijela-povjerenstva">{{ 'radna_tijela' | translate }}<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/obrasci">Obrasci<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/fotogalerija">Fotogalerija<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
    </div>






    <div class="content-container">
        <h2>Službe uprave</h2>
        <br>

        <br>
        <br>
        <table>
            <thead>
                <tr>
                    <th style="width: 50%;">
                        Naziv službe
                    </th>
                    <th style="width: 25%;">
                        Kontakt
                    </th>
                    <th style="width: 35%;">
                        E-mail/Web
                    </th>
                </tr>
            </thead>
            <tbody>


                <tr>
                    <td>
                        Ured načelnika
                    </td>
                    <td>
                        (030)-732-152
                        <br>
                        (030)-732-184

                    </td>
                    <td>
                        <a href="mailto:opcina.busovaca1@tel.net.ba">opcina.busovaca1@tel.net.ba</a>
                        <br>
                        <a href="www.opcina.busovaca.com">www.opcina.busovaca.com</a>
                    </td>
                </tr>

                <tr>
                    <td>
                        Ured predsjedatelja općinskog vijeća
                    </td>
                    <td>
                        (030)-732-152
                        <br>
                        (030)-732-184

                    </td>
                    <td>
                        <a href="mailto:predsjedateljovbusovaca@gmail.com">predsjedateljovbusovaca@gmail.com</a>

                    </td>
                </tr>


                <tr>
                    <td>
                        Tajnik/sekretat ureda načelnika i predsjednik/predsjedatelj općinskog vijeća
                    </td>
                    <td>
                        030/732-184

                    </td>
                    <td>
                        <a href="mailto:opcina.busovaca@hotmail.com">opcina.busovaca@hotmail.com</a>

                    </td>
                </tr>

                <tr>
                    <td>
                        Služba za lokalni ekonomski razvitak/razvoj, obnovu i raseljene osobe
                    </td>
                    <td>
                        (030)-732-152
                        <br>
                        (030)-732-696
                    </td>
                    <td>
                        <a href="mailto:opcina.busovaca1@tel.net.ba">opcina.busovaca1@tel.net.ba</a>
                    </td>
                </tr>

                <tr>
                    <td>
                        Služba za prostorno uređenje, urbanizam i stambene poslove
                    </td>
                    <td>
                        030/732-561<br>
                        Inspekcija:<br>
                        030/732-547
                    </td>
                    <td>
                        <a href="mailto:naser.opcina@hotmail.com">naser.opcina@hotmail.com</a>
                    </td>
                </tr>

                <tr>
                    <td>
                        Služba za finansije/finacije i trezor/riznicu
                    </td>
                    <td>
                        (030)-732-066<br>
                        računovodstvo:<br>
                        030/732-050<br>
                        030/732-155<br>
                        030/732-145<br>
                    </td>
                    <td>
                        <a href="mailto:opcina.busovaca@tel.net.ba">opcina.busovaca@tel.net.ba</a>
                    </td>
                </tr>

                <tr>
                    <td>
                        Služba za opću upravu, društvene djelatnosti i boračko/braniteljsko-invalidsku zaštitu/skrb

                    </td>
                    <td>
                        (030)-732-432
                    </td>
                    <td>
                        <a href="mailto:zeljkavujica@gmail.com">zeljkavujica@gmail.com</a>
                    </td>
                </tr>

                <tr>
                    <td>
                        Služba za civilnu zaštitu
                    </td>
                    <td>
                        (030)-732-192
                    </td>
                    <td>
                        <a href="mailto:cz.op.busovaca@tel.net.ba">cz.op.busovaca@tel.net.ba</a>
                    </td>
                </tr>

                <tr>
                    <td>
                        Služba za geodetsko i imovinsko pravne poslove
                    </td>
                    <td>
                        (030)-732-172
                    </td>
                    <td>
                        <a href="mailto:katastar.busovaca@gmail.com">katastar.busovaca@gmail.com</a>
                    </td>
                </tr>

                <tr>
                    <td>
                        Služba za opću upravu, društvene djelatnosti i braniteljsko/boračko invalidsku skrb/zaštitu
                    </td>
                    <td>
                        030/732-432<br>
                        Matični ured: <br>
                        030/732-110<br>
                        BIZ:<br>
                        030/732-165
                    </td>
                    <td>
                        <a href="mailto:zeljka.vujica@gmail.com">zeljka.vujica@gmail.com</a>
                    </td>
                </tr>


            </tbody>
        </table>


    </div>


    <div class="other-articles-container">
        <app-side-news></app-side-news>
    </div>



</div>