<div class="main-container">
    <div class="links-container">
        <h2>Vezani linkovi:</h2>
        <h3>Historijat<i class="fa fa-angle-right"></i></h3>
        <h3>Geografija i demografija<i class="fa fa-angle-right"></i></h3>
        <h3>Socio-ekonomski profit<i class="fa fa-angle-right"></i></h3>
        <h3>Općinski načelnik<i class="fa fa-angle-right"></i></h3>
        <h3>Javna preduzeća i ustanove<i class="fa fa-angle-right"></i></h3>
        <h3>Privreda<i class="fa fa-angle-right"></i></h3>
        <h3>Turizam<i class="fa fa-angle-right"></i></h3>
        <h3>Kultura<i class="fa fa-angle-right"></i></h3>
        <h3>Obrazovna i socijalna infrastruktura<i class="fa fa-angle-right"></i></h3>
        <h3>Sport<i class="fa fa-angle-right"></i></h3>
        <h3>NVO sektor<i class="fa fa-angle-right"></i></h3>
        <h3>Mjesne zajednice<i class="fa fa-angle-right"></i></h3>
    </div>





    <div class="content-container">
        <h2>Općinski vijećnici</h2>
        <br>
        <br>
        <br>
        <p>
            Vijećnici Općinskog vijeća Busovača u mandantnom periodu 2020 - 2024. godine
        </p>
    <div class="main-title-container">
      <h1> STRANKA DEMOKRATSKE AKCIJE BOSNE I HERCEGOVINE </h1>
    </div> 
    <div class="inner-cards">
        <mat-card class="example-card">
            <mat-card-title-group>
              <mat-card-title>Hilmija Šečić</mat-card-title>
              <mat-card-subtitle>Rođen: 10.11.1960</mat-card-subtitle>
              <mat-card-subtitle>Adresa: Hozanovići</mat-card-subtitle>
              <mat-card-subtitle>Školska sprema: <br>
                VSS – dipl.ing. hemije, profesor</mat-card-subtitle>
              <mat-card-subtitle>Kontakt: 061/984-365      </mat-card-subtitle>
              <img src="https://opcina-busovaca.com/images/stories/portfolio/4.jpg" >
            </mat-card-title-group>
            <mat-card-content>
              
            </mat-card-content>
          </mat-card>

          <mat-card class="example-card">
            <mat-card-title-group>  
              <mat-card-title class="top-title">Adnan Čolo</mat-card-title>
              <mat-card-subtitle>Rođen: 07.05.1991</mat-card-subtitle>
              <mat-card-subtitle>Adresa: Bare bb</mat-card-subtitle>
              <mat-card-subtitle>Školska sprema: <br>
                SSS-Ekonomski tehničar</mat-card-subtitle>
              <mat-card-subtitle>Kontakt: 062/831-256 </mat-card-subtitle>
              <img src="https://opcina-busovaca.com/images/stories/portfolio/5.jpg" >
            </mat-card-title-group>
            <mat-card-content>
            </mat-card-content>
          </mat-card>

          <mat-card class="example-card">
            <mat-card-title-group>  
              <mat-card-title class="top-title">Ervin Prosjanović</mat-card-title>
              <mat-card-subtitle>Rođen: 08.02.1985</mat-card-subtitle>
              <mat-card-subtitle>Adresa: Turići</mat-card-subtitle>
              <mat-card-subtitle>Školska sprema: <br>
                VSS – dipl.ekonomist</mat-card-subtitle>
              <mat-card-subtitle>Kontakt: 061/690-321      </mat-card-subtitle>
              <img src="https://opcina-busovaca.com/images/stories/portfolio/8.jpg" >
            </mat-card-title-group>
            <mat-card-content>
            </mat-card-content>
          </mat-card>

          <mat-card class="example-card">
            <mat-card-title-group>  
              <mat-card-title class="top-title">Edin Kurtodža</mat-card-title>
              <mat-card-subtitle>Rođen: 10.11.1960</mat-card-subtitle>
              <mat-card-subtitle>Adresa: Šudine bb</mat-card-subtitle>
              <mat-card-subtitle>Školska sprema: <br>
                VSS – dipl. ekonomista</mat-card-subtitle>
              <mat-card-subtitle>Kontakt: 061/984-365      </mat-card-subtitle>
              <img src="https://opcina-busovaca.com/images/stories/portfolio/12.jpg" >
            </mat-card-title-group>
            <mat-card-content>
            </mat-card-content>
          </mat-card>

          <mat-card class="example-card">
            <mat-card-title-group>  
              <mat-card-title class="top-title">Edina Brkić</mat-card-title>
              <mat-card-subtitle>Rođen: 21.05.1979</mat-card-subtitle>
              <mat-card-subtitle>Adresa: Dobraljevo</mat-card-subtitle>
              <mat-card-subtitle>Školska sprema: <br>
                VSS - dipl.ekonomist</mat-card-subtitle>
              <mat-card-subtitle>Kontakt: 061/978-880      </mat-card-subtitle>
              <img src="https://opcina-busovaca.com/images/stories/portfolio/3.jpg" >
            </mat-card-title-group>
            <mat-card-content>
            </mat-card-content>
          </mat-card>

          <mat-card class="example-card">
            <mat-card-title-group>  
              <mat-card-title class="top-title">Senad Ibreljić</mat-card-title>
              <mat-card-subtitle>Rođen: 15.08.1975</mat-card-subtitle>
              <mat-card-subtitle>Adresa: Kadića strana</mat-card-subtitle>
              <mat-card-subtitle>Školska sprema: <br>
                SSS - Šumarski tehničar</mat-card-subtitle>
              <mat-card-subtitle>Kontakt: 061/780-237    </mat-card-subtitle>
              <img src="https://opcina-busovaca.com/images/stories/portfolio/10.jpg" >
            </mat-card-title-group>
            <mat-card-content>
            </mat-card-content>
          </mat-card>

          <mat-card class="example-card">
            <mat-card-title-group>  
              <mat-card-title class="top-title">Nasih Kermo</mat-card-title>
              <mat-card-subtitle>Rođen: 13.05.1963</mat-card-subtitle>
              <mat-card-subtitle>Adresa: Lončari</mat-card-subtitle>
              <mat-card-subtitle>Školska sprema: <br>
                penzioner</mat-card-subtitle>
              <mat-card-subtitle>Kontakt: 061/780-237    </mat-card-subtitle>
              <img src="https://opcina-busovaca.com/images/stories/portfolio/9.jpg" >
            </mat-card-title-group>
            <mat-card-content>
            </mat-card-content>
          </mat-card>

          <mat-card class="example-card">
            <mat-card-title-group>  
              <mat-card-title class="top-title">Senad Ibreljić</mat-card-title>
              <mat-card-subtitle>Rođen: 15.08.1975</mat-card-subtitle>
              <mat-card-subtitle>Adresa: Kadića strana</mat-card-subtitle>
              <mat-card-subtitle>Školska sprema: <br>
                SSS - Šumarski tehničar</mat-card-subtitle>
              <mat-card-subtitle>Kontakt: 061/780-237    </mat-card-subtitle>
              <img src="https://opcina-busovaca.com/images/stories/portfolio/12.jpg" >
            </mat-card-title-group>
            <mat-card-content>
            </mat-card-content>
          </mat-card>

          <mat-card class="example-card">
            <mat-card-title-group>  
              <mat-card-title class="top-title">Senad Ibreljić</mat-card-title>
              <mat-card-subtitle>Rođen: 15.08.1975</mat-card-subtitle>
              <mat-card-subtitle>Adresa: Kadića strana</mat-card-subtitle>
              <mat-card-subtitle>Školska sprema: <br>
                SSS - Šumarski tehničar</mat-card-subtitle>
              <mat-card-subtitle>Kontakt: 061/780-237    </mat-card-subtitle>
              <img src="https://opcina-busovaca.com/images/stories/portfolio/12.jpg" >
            </mat-card-title-group>
            <mat-card-content>
            </mat-card-content>
          </mat-card>
    </div>


    <div class="main-title-container">
      <h1>HRVATSKA DEMOKRATSKA ZAJEDNICA BOSNE I HERCEGOVINE </h1>
    </div> 
    <div class="inner-cards">
        <mat-card class="example-card">
            <mat-card-title-group>
              <mat-card-title>Hilmija Šečić</mat-card-title>
              <mat-card-subtitle>Rođen: 10.11.1960</mat-card-subtitle>
              <mat-card-subtitle>Adresa: Hozanovići</mat-card-subtitle>
              <mat-card-subtitle>Školska sprema: <br>
                VSS – dipl.ing. hemije, profesor</mat-card-subtitle>
              <mat-card-subtitle>Kontakt: 061/984-365      </mat-card-subtitle>
              <img src="https://opcina-busovaca.com/images/stories/portfolio/4.jpg" >
            </mat-card-title-group>
            <mat-card-content>
              
            </mat-card-content>
          </mat-card>

          <mat-card class="example-card">
            <mat-card-title-group>  
              <mat-card-title class="top-title">Adnan Čolo</mat-card-title>
              <mat-card-subtitle>Rođen: 07.05.1991</mat-card-subtitle>
              <mat-card-subtitle>Adresa: Bare bb</mat-card-subtitle>
              <mat-card-subtitle>Školska sprema: <br>
                SSS-Ekonomski tehničar</mat-card-subtitle>
              <mat-card-subtitle>Kontakt: 062/831-256 </mat-card-subtitle>
              <img src="https://opcina-busovaca.com/images/stories/portfolio/5.jpg" >
            </mat-card-title-group>
            <mat-card-content>
            </mat-card-content>
          </mat-card>

          <mat-card class="example-card">
            <mat-card-title-group>  
              <mat-card-title class="top-title">Hilmija Šečić</mat-card-title>
              <mat-card-subtitle>Rođen: 10.11.1960</mat-card-subtitle>
              <mat-card-subtitle>Školska sprema: <br>
                VSS – dipl.ing. hemije, profesor</mat-card-subtitle>
              <mat-card-subtitle>Kontakt: 061/984-365      </mat-card-subtitle>
              <img src="https://opcina-busovaca.com/images/stories/portfolio/4.jpg" >
            </mat-card-title-group>
            <mat-card-content>
            </mat-card-content>
          </mat-card>

          <mat-card class="example-card">
            <mat-card-title-group>  
              <mat-card-title class="top-title">Edin Kurtodža</mat-card-title>
              <mat-card-subtitle>Rođen: 10.11.1960</mat-card-subtitle>
              <mat-card-subtitle>Školska sprema: <br>
                VSS – dipl.ing. hemije, profesor</mat-card-subtitle>
              <mat-card-subtitle>Kontakt: 061/984-365      </mat-card-subtitle>
              <img src="https://opcina-busovaca.com/images/stories/portfolio/12.jpg" >
            </mat-card-title-group>
            <mat-card-content>
            </mat-card-content>
          </mat-card>
    </div>


    <div class="main-title-container">
      <h1> DEMOKRATSKA FRONTA BOSNE I HERCEGOVINE </h1>
    </div> 
    <div class="inner-cards">
        <mat-card class="example-card">
            <mat-card-title-group>
              <mat-card-title>Hilmija Šečić</mat-card-title>
              <mat-card-subtitle>Rođen: 10.11.1960</mat-card-subtitle>
              <mat-card-subtitle>Adresa: Hozanovići</mat-card-subtitle>
              <mat-card-subtitle>Školska sprema: <br>
                VSS – dipl.ing. hemije, profesor</mat-card-subtitle>
              <mat-card-subtitle>Kontakt: 061/984-365      </mat-card-subtitle>
              <img src="https://opcina-busovaca.com/images/stories/portfolio/4.jpg" >
            </mat-card-title-group>
            <mat-card-content>
              
            </mat-card-content>
          </mat-card>

          <mat-card class="example-card">
            <mat-card-title-group>  
              <mat-card-title class="top-title">Adnan Čolo</mat-card-title>
              <mat-card-subtitle>Rođen: 07.05.1991</mat-card-subtitle>
              <mat-card-subtitle>Adresa: Bare bb</mat-card-subtitle>
              <mat-card-subtitle>Školska sprema: <br>
                SSS-Ekonomski tehničar</mat-card-subtitle>
              <mat-card-subtitle>Kontakt: 062/831-256 </mat-card-subtitle>
              <img src="https://opcina-busovaca.com/images/stories/portfolio/5.jpg" >
            </mat-card-title-group>
            <mat-card-content>
            </mat-card-content>
          </mat-card>

          <mat-card class="example-card">
            <mat-card-title-group>  
              <mat-card-title class="top-title">Hilmija Šečić</mat-card-title>
              <mat-card-subtitle>Rođen: 10.11.1960</mat-card-subtitle>
              <mat-card-subtitle>Školska sprema: <br>
                VSS – dipl.ing. hemije, profesor</mat-card-subtitle>
              <mat-card-subtitle>Kontakt: 061/984-365      </mat-card-subtitle>
              <img src="https://opcina-busovaca.com/images/stories/portfolio/4.jpg" >
            </mat-card-title-group>
            <mat-card-content>
            </mat-card-content>
          </mat-card>

          <mat-card class="example-card">
            <mat-card-title-group>  
              <mat-card-title class="top-title">Edin Kurtodža</mat-card-title>
              <mat-card-subtitle>Rođen: 10.11.1960</mat-card-subtitle>
              <mat-card-subtitle>Školska sprema: <br>
                VSS – dipl.ing. hemije, profesor</mat-card-subtitle>
              <mat-card-subtitle>Kontakt: 061/984-365      </mat-card-subtitle>
              <img src="https://opcina-busovaca.com/images/stories/portfolio/12.jpg" >
            </mat-card-title-group>
            <mat-card-content>
            </mat-card-content>
          </mat-card>
    </div>

    <div class="main-title-container">
      <h1> SOCIJALDEMOKRATSKA PARTIJA BOSNE I HERECEGOVINE </h1>
    </div> 
    <div class="inner-cards">
        <mat-card class="example-card">
            <mat-card-title-group>
              <mat-card-title>Hilmija Šečić</mat-card-title>
              <mat-card-subtitle>Rođen: 10.11.1960</mat-card-subtitle>
              <mat-card-subtitle>Adresa: Hozanovići</mat-card-subtitle>
              <mat-card-subtitle>Školska sprema: <br>
                VSS – dipl.ing. hemije, profesor</mat-card-subtitle>
              <mat-card-subtitle>Kontakt: 061/984-365      </mat-card-subtitle>
              <img src="https://opcina-busovaca.com/images/stories/portfolio/4.jpg" >
            </mat-card-title-group>
            <mat-card-content>
              
            </mat-card-content>
          </mat-card>

          <mat-card class="example-card">
            <mat-card-title-group>  
              <mat-card-title class="top-title">Adnan Čolo</mat-card-title>
              <mat-card-subtitle>Rođen: 07.05.1991</mat-card-subtitle>
              <mat-card-subtitle>Adresa: Bare bb</mat-card-subtitle>
              <mat-card-subtitle>Školska sprema: <br>
                SSS-Ekonomski tehničar</mat-card-subtitle>
              <mat-card-subtitle>Kontakt: 062/831-256 </mat-card-subtitle>
              <img src="https://opcina-busovaca.com/images/stories/portfolio/5.jpg" >
            </mat-card-title-group>
            <mat-card-content>
            </mat-card-content>
          </mat-card>

          <mat-card class="example-card">
            <mat-card-title-group>  
              <mat-card-title class="top-title">Hilmija Šečić</mat-card-title>
              <mat-card-subtitle>Rođen: 10.11.1960</mat-card-subtitle>
              <mat-card-subtitle>Školska sprema: <br>
                VSS – dipl.ing. hemije, profesor</mat-card-subtitle>
              <mat-card-subtitle>Kontakt: 061/984-365      </mat-card-subtitle>
              <img src="https://opcina-busovaca.com/images/stories/portfolio/4.jpg" >
            </mat-card-title-group>
            <mat-card-content>
            </mat-card-content>
          </mat-card>

          <mat-card class="example-card">
            <mat-card-title-group>  
              <mat-card-title class="top-title">Edin Kurtodža</mat-card-title>
              <mat-card-subtitle>Rođen: 10.11.1960</mat-card-subtitle>
              <mat-card-subtitle>Školska sprema: <br>
                VSS – dipl.ing. hemije, profesor</mat-card-subtitle>
              <mat-card-subtitle>Kontakt: 061/984-365      </mat-card-subtitle>
              <img src="https://opcina-busovaca.com/images/stories/portfolio/12.jpg" >
            </mat-card-title-group>
            <mat-card-content>
            </mat-card-content>
          </mat-card>
    </div>
        
         </div>


    <div class="other-articles-container">
        <app-side-news></app-side-news>
    </div>
    


</div>
