<div class="main-container">
  <div class="links-container">
    <h2>Vezani linkovi:</h2>
    <a href="/o-opcini/opcinski-nacelnik">Općinski načelnik<i class="fa fa-angle-right"></i></a>
    <hr class="horiz-line" style="width: 95%;">
    <a href="/vijecnici">Općinski vijećnici<i class="fa fa-angle-right"></i></a>
    <hr class="horiz-line" style="width: 95%;">
    <a href="/">Službeni glasnik<i class="fa fa-angle-right"></i></a>
    <hr class="horiz-line" style="width: 95%;">
    <a href="/sluzbe-uprave">Službe uprave<i class="fa fa-angle-right"></i></a>
    <hr class="horiz-line" style="width: 95%;">
    <a href="/aktuelnosti/page/1">{{ 'aktuelnosti_naslov' | translate }}<i class="fa fa-angle-right"></i></a>
    <hr class="horiz-line" style="width: 95%;">
    <a href="/dokumenti">Dokumenti<i class="fa fa-angle-right"></i></a>
    <hr class="horiz-line" style="width: 95%;">
    <a href="/dokumenti-i-zakljucci">Dokumenti i zaključci OV<i class="fa fa-angle-right"></i></a>
    <hr class="horiz-line" style="width: 95%;">
    <a href="/javni-oglasi/page/1">Javni oglasi<i class="fa fa-angle-right"></i></a>
    <hr class="horiz-line" style="width: 95%;">
    <a href="/radna-tijela-povjerenstva">{{ 'radna_tijela' | translate }}<i class="fa fa-angle-right"></i></a>
    <hr class="horiz-line" style="width: 95%;">
    <a href="/obrasci">Obrasci<i class="fa fa-angle-right"></i></a>
    <hr class="horiz-line" style="width: 95%;">
    <a href="/fotogalerija">Fotogalerija<i class="fa fa-angle-right"></i></a>
    <hr class="horiz-line" style="width: 95%;">
</div>





    <div class="content-container">
        <h2>Općinski vijećnici</h2>
        <br>
        <br>
        <p>
            Vijećnici Općinskog vijeća Busovača u mandantnom periodu 2020 - 2024. godine
        </p>
    <div class="main-title-container">
      <h1> STRANKA DEMOKRATSKE AKCIJE BOSNE I HERCEGOVINE </h1>
    </div> 
    <div class="inner-cards">
        <mat-card class="example-card">
            <mat-card-title-group>
              <mat-card-title>Hilmija Šečić</mat-card-title>
              <mat-card-subtitle class="under-title">Predsjednik kluba SDA BiH</mat-card-subtitle>
              <mat-card-subtitle>Rođen: 10.11.1960.</mat-card-subtitle>
              <mat-card-subtitle>Adresa: Hozanovići</mat-card-subtitle>
              <mat-card-subtitle>Školska sprema: <br>
                VSS - dipl.ing. hemije, profesor</mat-card-subtitle>
              <mat-card-subtitle>Kontakt: 061/984-365</mat-card-subtitle>
              <img src="../../../assets/img/vijecnici/4.jpg" >
            </mat-card-title-group>
            <mat-card-content>
              
            </mat-card-content>
          </mat-card>

          <mat-card class="example-card">
            <mat-card-title-group>  
              <mat-card-title class="top-title">Adnan Čolo</mat-card-title>
              <mat-card-subtitle>Rođen: 07.05.1991.</mat-card-subtitle>
              <mat-card-subtitle>Adresa: Bare bb</mat-card-subtitle>
              <mat-card-subtitle>Školska sprema: <br>
                SSS-Ekonomski tehničar</mat-card-subtitle>
              <mat-card-subtitle>Kontakt: 062/831-256 </mat-card-subtitle>
              <img src="../../../assets/img/vijecnici/5.jpg" >
            </mat-card-title-group>
            <mat-card-content>
            </mat-card-content>
          </mat-card>

          <mat-card class="example-card">
            <mat-card-title-group>  
              <mat-card-title class="top-title">Ervin Prosjanović</mat-card-title>
              <mat-card-subtitle>Rođen: 08.02.1985.</mat-card-subtitle>
              <mat-card-subtitle>Adresa: Turići</mat-card-subtitle>
              <mat-card-subtitle>Školska sprema: <br>
                VSS - dipl.ekonomist</mat-card-subtitle>
              <mat-card-subtitle>Kontakt: 061/690-321      </mat-card-subtitle>
              <img src="../../../assets/img/vijecnici/8.jpg" >
            </mat-card-title-group>
            <mat-card-content>
            </mat-card-content>
          </mat-card>

          <mat-card class="example-card">
            <mat-card-title-group>  
              <mat-card-title class="top-title">Edin Kurtodža</mat-card-title>
              <mat-card-subtitle>Rođen: 02.11.1981.</mat-card-subtitle>
              <mat-card-subtitle>Adresa: Šudine bb</mat-card-subtitle>
              <mat-card-subtitle>Školska sprema: <br>
                VSS - dipl. ekonomista</mat-card-subtitle>
              <mat-card-subtitle>Kontakt: 061/984-365      </mat-card-subtitle>
              <img src="../../../assets/img/vijecnici/12.jpg" >
            </mat-card-title-group>
            <mat-card-content>
            </mat-card-content>
          </mat-card>

          <mat-card class="example-card">
            <mat-card-title-group>  
              <mat-card-title class="top-title">Edina Brkić</mat-card-title>
              <mat-card-subtitle>Rođen: 21.05.1979.</mat-card-subtitle>
              <mat-card-subtitle>Adresa: Dobraljevo</mat-card-subtitle>
              <mat-card-subtitle>Školska sprema: <br>
                VSS - dipl.ekonomist</mat-card-subtitle>
              <mat-card-subtitle>Kontakt: 061/978-880      </mat-card-subtitle>
              <img src="../../../assets/img/vijecnici/3.jpg" >
            </mat-card-title-group>
            <mat-card-content>
            </mat-card-content>
          </mat-card>

          <mat-card class="example-card">
            <mat-card-title-group>  
              <mat-card-title class="top-title">Senad Ibreljić</mat-card-title>
              <mat-card-subtitle>Rođen: 15.08.1975.</mat-card-subtitle>
              <mat-card-subtitle>Adresa: Kadića strana</mat-card-subtitle>
              <mat-card-subtitle>Školska sprema: <br>
                SSS - Šumarski tehničar</mat-card-subtitle>
              <mat-card-subtitle>Kontakt: 061/780-237    </mat-card-subtitle>
              <img src="../../../assets/img/vijecnici/10.jpg" >
            </mat-card-title-group>
            <mat-card-content>
            </mat-card-content>
          </mat-card>

          <mat-card class="example-card">
            <mat-card-title-group>  
              <mat-card-title class="top-title">Nasih Kermo</mat-card-title>
              <mat-card-subtitle>Rođen: 13.05.1963.</mat-card-subtitle>
              <mat-card-subtitle>Adresa: Lončari</mat-card-subtitle>
              <mat-card-subtitle>Školska sprema: <br>
                penzioner</mat-card-subtitle>
              <mat-card-subtitle>Kontakt: 061/780-237    </mat-card-subtitle>
              <img src="../../../assets/img/vijecnici/9.jpg" >
            </mat-card-title-group>
            <mat-card-content>
            </mat-card-content>
          </mat-card>

          <mat-card class="example-card">
            <mat-card-title-group>  
              <mat-card-title class="top-title">Emrah Mešanović</mat-card-title>
              <mat-card-subtitle>Rođen: 30.09.1991.</mat-card-subtitle>
              <mat-card-subtitle>Adresa: Podstijena bb</mat-card-subtitle>
              <mat-card-subtitle>Školska sprema: <br>
                VSS-prof.matematike i informatike</mat-card-subtitle>
              <mat-card-subtitle>Kontakt:  062/112-706    </mat-card-subtitle>
              <img src="../../../assets/img/vijecnici/11.jpg" >
            </mat-card-title-group>
            <mat-card-content>
            </mat-card-content>
          </mat-card>

          <mat-card class="example-card">
            <mat-card-title-group>  
              <mat-card-title class="top-title">Semir Brkić</mat-card-title>
              <mat-card-subtitle>Rođen: 27.02.1992.</mat-card-subtitle>
              <mat-card-subtitle>Adresa: Dobraljevo bb</mat-card-subtitle>
              <mat-card-subtitle>Školska sprema: <br>
                VSS - magistar šumarstva</mat-card-subtitle>
              <mat-card-subtitle>Kontakt: 062/240-268    </mat-card-subtitle>
              <img src="../../../assets/img/vijecnici/1.jpg" >
            </mat-card-title-group>
            <mat-card-content>
            </mat-card-content>
          </mat-card>


          <mat-card class="example-card">
            <mat-card-title-group>  
              <mat-card-title class="top-title">Samir Srebrenica</mat-card-title>
              <mat-card-subtitle>Rođen: 02.04.1991.</mat-card-subtitle>
              <mat-card-subtitle>Adresa: Solakovići bb</mat-card-subtitle>
              <mat-card-subtitle>Školska sprema: <br>
                VSS -prof. islamske teologije</mat-card-subtitle>
              <mat-card-subtitle>Kontakt: 062/928-437    </mat-card-subtitle>
              <img src="../../../assets/img/vijecnici/7.jpg" >
            </mat-card-title-group>
            <mat-card-content>
            </mat-card-content>
          </mat-card>


          <mat-card class="example-card">
            <mat-card-title-group>  
              <mat-card-title class="top-title">Nermin Biogradlija</mat-card-title>
              <mat-card-subtitle>Rođen: 25.01.1967.</mat-card-subtitle>
              <mat-card-subtitle>Adresa: Dolac bb</mat-card-subtitle>
              <mat-card-subtitle>Školska sprema: <br>
                SSS -mašinski tehničar</mat-card-subtitle>
              <mat-card-subtitle>Kontakt: 061/597-999    </mat-card-subtitle>
              <img src="../../../assets/img/vijecnici/2.jpg" >
            </mat-card-title-group>
            <mat-card-content>
            </mat-card-content>
          </mat-card>


          <mat-card class="example-card">
            <mat-card-title-group>  
              <mat-card-title class="top-title">Kenan Smaka</mat-card-title>
              <mat-card-subtitle>Rođen: 13.04.1981.</mat-card-subtitle>
              <mat-card-subtitle>Adresa: Kaćuni bb</mat-card-subtitle>
              <mat-card-subtitle>Školska sprema: <br>
                SSS -mašinski tehničar</mat-card-subtitle>
              <mat-card-subtitle>Kontakt: 061/605-408    </mat-card-subtitle>
              <img src="../../../assets/img/vijecnici/6.jpg" >
            </mat-card-title-group>
            <mat-card-content>
            </mat-card-content>
          </mat-card>
    </div>


    <div class="main-title-container">
      <h1>HRVATSKA DEMOKRATSKA ZAJEDNICA BOSNE I HERCEGOVINE </h1>
    </div> 
    <div class="inner-cards">
        <mat-card class="example-card">
            <mat-card-title-group>
              <mat-card-title>Josip Mravak</mat-card-title>
              <mat-card-subtitle class="under-title">Predsjednik OV</mat-card-subtitle>
              <mat-card-subtitle>Rođen: 18.06.1986.</mat-card-subtitle>
              <mat-card-subtitle>Adresa: Ravan bb</mat-card-subtitle>
              <mat-card-subtitle>Školska sprema: <br>
                VSS - dipl. ekonomist</mat-card-subtitle>
              <mat-card-subtitle>Kontakt: 063/431-092      </mat-card-subtitle>
              <img src="../../../assets/img/vijecnici/josip%20mravak%203.jpg" >
            </mat-card-title-group>
            <mat-card-content>
              
            </mat-card-content>
          </mat-card>

          <mat-card class="example-card">
            <mat-card-title-group>  
              <mat-card-title class="top-title">Marko Šantić</mat-card-title>
              <mat-card-subtitle class="under-title">Zamjenik Predsjednika OV</mat-card-subtitle>
              <mat-card-subtitle>Rođen: 14.11.1984.</mat-card-subtitle>
              <mat-card-subtitle>Adresa: Bare bb</mat-card-subtitle>
              <mat-card-subtitle>Školska sprema: <br>
                VSS - prof. tjelesnog</mat-card-subtitle>
              <mat-card-subtitle>Kontakt: 063/156-824 </mat-card-subtitle>
              <img src="../../../assets/img/vijecnici/vijecnici%20u%20ov%20busovaca5.jpg" >
            </mat-card-title-group>
            <mat-card-content>
            </mat-card-content>
          </mat-card>

          <mat-card class="example-card">
            <mat-card-title-group>  
              <mat-card-title class="top-title">Slaven Katava</mat-card-title>
              <mat-card-subtitle>Rođen: 03.06.1982.</mat-card-subtitle>
              <mat-card-subtitle>Adresa: A.B. Šimić</mat-card-subtitle>
              <mat-card-subtitle>Školska sprema: <br>
                VSS - prof. engleskog jezika i književnosti</mat-card-subtitle>
              <mat-card-subtitle>Kontakt: 063/204-909      </mat-card-subtitle>
              <img src="../../../assets/img/vijecnici/vijecnici%20u%20ov%20busovaca3.jpg" >
            </mat-card-title-group>
            <mat-card-content>
            </mat-card-content>
          </mat-card>

          <mat-card class="example-card">
            <mat-card-title-group>  
              <mat-card-title class="top-title">Danijela Trogrlić</mat-card-title>
              <mat-card-subtitle>Rođen: 23.11.1983.</mat-card-subtitle>
              <mat-card-subtitle>Adresa: Kupres bb</mat-card-subtitle>
              <mat-card-subtitle>Školska sprema: <br>
                VSS - prof.njemačkog jezika</mat-card-subtitle>
              <mat-card-subtitle>Kontakt: 063/489-522     </mat-card-subtitle>
              <img src="../../../assets/img/vijecnici/vijecnici%20u%20ov%20busovaca4.jpg" >
            </mat-card-title-group>
            <mat-card-content>
            </mat-card-content>
          </mat-card>
          <mat-card class="example-card">
            <mat-card-title-group>  
              <mat-card-title class="top-title">Dario Marušić</mat-card-title>
              <mat-card-subtitle>Rođen: 10.12.1990.</mat-card-subtitle>
              <mat-card-subtitle>Adresa: Jazvine bb</mat-card-subtitle>
              <mat-card-subtitle>Školska sprema: <br>
                VSS-magistar inžinjer</mat-card-subtitle>
              <mat-card-subtitle>Kontakt: 063/442-904    </mat-card-subtitle>
              <img src="../../../assets/img/vijecnici/vijecnici%20u%20ov%20busovaca7.jpg" >
            </mat-card-title-group>
            <mat-card-content>
            </mat-card-content>
          </mat-card>
          <mat-card class="example-card">
            <mat-card-title-group>  
              <mat-card-title class="top-title">Goran Milić</mat-card-title>
              <mat-card-subtitle>Rođen: 11.09.1983.</mat-card-subtitle>
              <mat-card-subtitle>Adresa: Solakovići bb</mat-card-subtitle>
              <mat-card-subtitle>Školska sprema: <br>
                VSS - dipl.inžinjer elektrotehnike</mat-card-subtitle>
              <mat-card-subtitle>Kontakt: 063/363-654    </mat-card-subtitle>
              <img src="../../../assets/img/vijecnici/vijecnici%20u%20ov%20busovaca6.jpg" >
            </mat-card-title-group>
            <mat-card-content>
            </mat-card-content>
          </mat-card>
          <mat-card class="example-card">
            <mat-card-title-group>  
              <mat-card-title class="top-title">Dragan Lovrić</mat-card-title>
              <mat-card-subtitle>Rođen: 04.07.1980.</mat-card-subtitle>
              <mat-card-subtitle>Adresa: Polje</mat-card-subtitle>
              <mat-card-subtitle>Školska sprema: <br>
                VSS - prof. tjelesnog</mat-card-subtitle>
              <mat-card-subtitle>Kontakt: 063/874-617     </mat-card-subtitle>
              <img src="../../../assets/img/vijecnici/vijecnici%20u%20ov%20busovaca2.jpg" >
            </mat-card-title-group>
            <mat-card-content>
            </mat-card-content>
          </mat-card>
          <mat-card class="example-card">
            <mat-card-title-group>  
              <mat-card-title class="top-title">Dario Plavčić</mat-card-title>
              <mat-card-subtitle>Rođen: 04.01.1995.</mat-card-subtitle>
              <mat-card-subtitle>Adresa: Željeznička bb</mat-card-subtitle>
              <mat-card-subtitle>Školska sprema: <br>
                VSS - ekonomist-poslovni menađment</mat-card-subtitle>
              <mat-card-subtitle>Kontakt: 063/336-410    </mat-card-subtitle>
              <img src="../../../assets/img/vijecnici/vijecnici%20u%20ov%20busovaca8.jpg" >
            </mat-card-title-group>
            <mat-card-content>
            </mat-card-content>
          </mat-card>
          <mat-card class="example-card">
            <mat-card-title-group>  
              <mat-card-title class="top-title">Marija Ćosić</mat-card-title>
              <mat-card-subtitle>Rođen: 04.01.1996.</mat-card-subtitle>
              <mat-card-subtitle>Adresa: 1.mart/ožujak</mat-card-subtitle>
              <mat-card-subtitle>Školska sprema: <br>
                VSS - bachleor kriminologije</mat-card-subtitle>
              <mat-card-subtitle>Kontakt: 063/761-619     </mat-card-subtitle>
              <img src="../../../assets/img/vijecnici/vijecnici%20u%20ov%20busovaca9.jpg" >
            </mat-card-title-group>
            <mat-card-content>
            </mat-card-content>
          </mat-card>
          <mat-card class="example-card">
            <mat-card-title-group>  
              <mat-card-title class="top-title">Ivana Smoljo</mat-card-title>
              <mat-card-subtitle>Rođen: 18.09.1982.</mat-card-subtitle>
              <mat-card-subtitle>Adresa: Buselji</mat-card-subtitle>
              <mat-card-subtitle>Školska sprema: <br>
                VSS - dipl.iur</mat-card-subtitle>
              <mat-card-subtitle>Kontakt: 063/612-801     </mat-card-subtitle>
              <img src="../../../assets/img/vijecnici/vijecnici%20u%20ov%20busovaca1.jpg" >
            </mat-card-title-group>
            <mat-card-content>
            </mat-card-content>
          </mat-card>
    </div>


    <div class="main-title-container">
      <h1> DEMOKRATSKA FRONTA BOSNE I HERCEGOVINE </h1>
    </div> 
    <div class="inner-cards">
        <mat-card class="example-card">
            <mat-card-title-group>
              <mat-card-title>Remzija Kutić</mat-card-title>
              <mat-card-subtitle>Rođen: 14.02.1961.</mat-card-subtitle>
              <mat-card-subtitle>Adresa: Kaćuni bb</mat-card-subtitle>
              <mat-card-subtitle>Školska sprema: <br>
                SSS - Šumarski tehničar</mat-card-subtitle>
              <mat-card-subtitle>Kontakt:  061/278-320      </mat-card-subtitle>
              <img src="../../../assets/img/vijecnici/remzija%20kutic1.jpg" >
            </mat-card-title-group>
            <mat-card-content>
              
            </mat-card-content>
          </mat-card>

      
    </div>

    <div class="main-title-container">
      <h1> SOCIJALDEMOKRATSKA PARTIJA BOSNE I HERECEGOVINE </h1>
    </div> 
    <div class="inner-cards">
        <mat-card class="example-card">
            <mat-card-title-group>
              <mat-card-title>Faruk Šečić</mat-card-title>
              <mat-card-subtitle>Rođen: 27.03.1970.</mat-card-subtitle>
              <mat-card-subtitle>Adresa: Hozanovići</mat-card-subtitle>
              <mat-card-subtitle>Školska sprema: <br>
                SSS - Elektro mehaničar - energetičar</mat-card-subtitle>
              <mat-card-subtitle>Kontakt: 062/960-640    </mat-card-subtitle>
              <img src="../../../assets/img/vijecnici/img_1.jpg" >
            </mat-card-title-group>
            <mat-card-content>
              
            </mat-card-content>
          </mat-card>

          <mat-card class="example-card">
            <mat-card-title-group>  
              <mat-card-title class="top-title">Refik Lušija</mat-card-title>
              <mat-card-subtitle>Rođen: 21.06.1956.</mat-card-subtitle>
              <mat-card-subtitle>Adresa: Hozanovići</mat-card-subtitle>
              <mat-card-subtitle>Školska sprema: <br>
                VSS -dipl.ekonomist</mat-card-subtitle>
              <mat-card-subtitle>Kontakt: 062/960-640 </mat-card-subtitle>
              <img src="../../../assets/img/vijecnici/img_2.jpg" >
            </mat-card-title-group>
            <mat-card-content>
            </mat-card-content>
          </mat-card>

       
    </div>
        
         </div>


    <div class="other-articles-container">
        <app-side-news></app-side-news>
    </div>
    


</div>
