.w3-content,.w3-auto{margin-left:auto;margin-right:auto}.w3-content{max-width:980px}.w3-auto{max-width:1140px}
.w3-display-container:hover .w3-display-hover{display:block}.w3-display-container:hover span.w3-display-hover{display:inline-block}.w3-display-hover{display:none}
.w3-display-topright{position:absolute;right:0;top:0}
.w3-small{font-size:12px!important}
.w3-container,.w3-panel{padding:0.01em 16px}
.w3-container:after,.w3-container:before,.w3-panel:after,.w3-panel:before,.w3-row:after,.w3-row:before,.w3-row-padding:after,.w3-row-padding:before,
.w3-cell-row:before,.w3-cell-row:after,.w3-clear:after,.w3-clear:before,.w3-bar:before,.w3-bar:after{content:"";display:table;clear:both}
.w3-padding-16{padding-top:16px!important;padding-bottom:16px!important}
.w3-black,.w3-hover-black:hover{color:#fff!important;background-color:#000!important}
.w3-display-container{position:relative}
.w3-display-container:hover .w3-display-hover{display:block}.w3-display-container:hover span.w3-display-hover{display:inline-block}.w3-display-hover{display:none}
.w3-display-position{position:absolute}
.w3-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.w3-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.w3-btn,.w3-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.w3-disabled,.w3-btn:disabled,.w3-button:disabled{cursor:not-allowed;opacity:0.3}.w3-disabled *,:disabled *{pointer-events:none}
.w3-button{white-space:normal}
.w3-button:hover{color:#000!important;background-color:#ccc!important}
.w3-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.w3-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.w3-content{
    width: 95%;
}
.mySlides {display:none;}
.loader-container{
    position: absolute;
	height: 100%;
	width: 100%;
	background-color: white;
	opacity: 0.95;
	z-index: 999;
}

.content-container p{
    font-size: 16.5px;
}
.dl{
    color: rgb(84, 133, 207);
    cursor:pointer;
    
}

.main-container{
    width: 100%;
    height: auto;
    margin: 30px 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
}
.links-container{
    width: 20%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    flex-direction: column;

}
.links-container h2{
    font-weight: 500;
    margin-bottom: 5px;
}

.links-container a{
    color: rgb(90, 90, 90);
    margin: 10px 0px;
    font-weight: 400;
    transition: 0.2s;
    cursor: pointer;
}
.links-container a:hover{
    color: rgb(31, 31, 31);
}
.links-container a:hover i{
    margin-left: 8px;
}
.horiz-line{
    border-color: rgba(209, 209, 209, 0.3);
}
.links-container i{
    transition: 0.2s;
    margin-left: 6px;
}
.content-container{
    width: 45%;
    min-height: 100vh;
    height: auto;
    border-right: 1px solid rgb(187, 187, 187);
    border-left: 1px solid rgb(187, 187, 187);
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.other-articles-container{
    width: 20%;
    min-height: 100vh;
    height: auto;
    padding: 20px;
}
.other-articles-container h2{
    margin-bottom: 15px;
}

.inner-news-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}
.news-box{
    margin-bottom: 50px;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
.news-box img{
    max-width: 70%;
}
.inner-news-box{
    width: 90%;
    height: 30%;
    margin-top: 5px;
}
.inner-news-box h4{
    font-weight: 400;
}
.inner-news-box h3{
    font-weight: 600;
    margin: 5px 0;
}
.newsDate{
    color: #606063;
}
.newsSubTitle{
    color: #af7f1e;
}


/*MAIN CONTENT, EVEERYTHING ABOVE REUSABLE*/



.datoteke{
    overflow: hidden;
    width: 95%;
    margin-top: 10px;
}

.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .iframe-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }

.content-container img{
    max-width: 100%;
}
.inner-content-text{
    width: 90%;
    height: 100%;
}
.inner-content-text h1{
    margin: 8px 0;
}
.subTitle-container{
    width: 90%;
    margin-bottom: 5px;
    color: #af7f1e;

}
.subTitle-container h4{
    font-weight: 500;
}
.dateAdded{
    color: rgb(116, 116, 116);
    margin-bottom: 20px;
}
.content{
    margin-top: 20px;
    text-align: start;
    font-size: 20px;
    color: rgb(54, 53, 53)
}
/*responsiveness*/

@media only screen and (max-width: 850px) {
    h1{
        font-size: 20px;
    }
    h2{
        font-size: 18px;
    }
    h3{
        font-size: 15px;
    }
    .inner-content-text p{
        font-size: 15px;
    }
}
@media only screen and (max-width: 830px) {
    .main-container{
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .content-container{

        width: 95%;
        min-height: 40vh;
        height: auto;
        border: none;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        order: 1;
    }
    .links-container{
        width: 95%;
        height: auto;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 20px;
        flex-direction: column;
        order: 2;
        border-top: 1px solid rgb(187, 187, 187)
    
    }
    .other-articles-container{
        width: 95%;
        height: auto;
        padding: 20px;
        order: 3;
        border-top: 1px solid rgb(187, 187, 187);
    }
  
}





