<div class="main-container">
    <div class="links-container">
        <h2>Vezani linkovi:</h2>
        <a href="/o-opcini/o-nama">O nama<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/o-opcini/historijat">Historijat<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/o-opcini/geografija-i-demografija">Geografija i demografija<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/o-opcini/socio-ekonomski-profit">Socio-ekonomski profit<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/o-opcini/javne-ustanove-i-preduzeca">Javna preduzeća i ustanove<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/o-opcini/turizam">Turizam<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/o-opcini/kultura">Kultura<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/o-opcini/obrazovna-i-socijalna-infrastruktura">Obrazovna i socijalna infrastruktura<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/o-opcini/sport">Sport<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/o-opcini/nvo">NVO sektor<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/o-opcini/mjesne-zajednice">Mjesne zajednice<i class="fa fa-angle-right"></i></a>
    </div>






    <div class="content-container">
        <h2>Biografija</h2>
        <br>
        <div class="imgs-container">
            <img src="assets/img/AsimMekic.jpg" alt="">
            <div class="contact-info">
                <h2 class="nacelnik-title">Općinski načelnik Asim Mekić</h2>
                <h4><strong>Tel:</strong> (030) 732-152</h4>
                <h4><strong>Faks:</strong> (030) 733-038</h4>
                <h4><strong>E-mail:</strong> opcina.busovaca1@tel.net.ba</h4>
                
            </div>
        </div>
        
        <br>
        <br>
        <p>
            Rođen je 14.09.1959. godine u naseljenom mjestu Mehurići, općina Busovača. Završio je Srednju tehničku školu nakon čega upisuje Mašinski fakultet Univerziteta u Zenici. Po
završetku studija stiče zvanje diplomiranog mašinskog inženjera, ali i profesora mašinstva
i stručnih predmeta iz oblasti mašinstva. Prije rata bio je zaposlen Tvornici za proizvodnju
vatrostalnog materijala „Vatrostalna“ Busovača. Bio je pripadnik Teritorijalne odbrane i
Armije Republike Bosne i Hercegovine do izbora za predsjednika Ratnog predsjedništva
Općine Busovača.
Za vrijeme rata i neposredno poslije obavljao je dužnost predsjednika Ratnog
predsjedništva
općine Busovača, nakon čega je bio ministar u Vladi Srednjobosanskog kantona u dva
mandata, te kantonalni, a poslije i federalni zastupnik – delegat u Domu naroda, te
ponovo načelnik Općine Busovača od 2008. godine do sada.
Član je SDA BiH, te dugogodišnji predsjednik Općinske organizacije SDA Busovača.
Trenutno je predsjednik SDA Srednjobosanskog kantona, član Glavnog odbora i
Predsjedništva
SDA BiH.
        </p>
        <br><br><br>
        <p><strong>Nadležnosti općinskog načelnika</strong></p>
        <br><br>
        <p>Nosilac izvršne vlasti u okviru prava i dužnosti općine je Općinski načelnik. Općinskog načelnika biraju građani općine neposrednim glasanjem. Općinski načelnik u obavljanju poslova iz samoupravnog djelokruga općine obavlja poslove koji se odnose na: </p>

<br>
<p>· predstavlja i zastupa Općinu,</p>
<p>· osigurava izvršavanje odluka i drugih akata Općinskog vijeća i odgovoran je za njihovo provođenje,</p>
<p>· podnosi prijedlog Proračuna Općine,</p>
<p>· odgovoran je za izvršavanje proračuna Općine,</p>
<p>· obnaša upravljački nadzor nad zakonitošću rada javnih ustanova i poduzeća kojim je osnivač Općina, te im daje upute za rad,</p>
<p>· donosi akte iz svoje mjerodavnosti,</p>
<p>· predlaže Općinskom vijeću odluke i druge akte,</p>
<p>· osigurava izradu i Općinskom vijeću podnosi na usvajanje ekonomske planove,razvojne planove,investicijske programe, prostorne i urbanističke planove i ostale planske i regulatorne dokumente što se odnose na korištenje i upravljanje zemljištem, uključujući zoniranje i korištenje javnog zemljišta,</p>
<p>· provodi politiku Općine sukladno odlukama Općinskog vijeća,</p>
<p>· izvršava zakone i druge propise čije je izvršenje povjereno Općini,</p>
<p>· utvrđuje ustrojstvo službi za upravu i drugih službi Općine,</p>
<p>· donosi Pravilnik o unutarnjem ustrojstvu općinskih službi,</p>
<p>· realizira suradnju Općine sa drugim općinama, gradovima, međunarodnim drugim organizacijama sukladno odlukama i zaključcima Općinskog vijeća i njegovih radnih tijela,</p>
<p>· podnosi izvješće Općinskom vijeću o ostvarivanju politike Općine i svojim aktivnostima,</p>
<p>· odlučuje o pitanjima iz radnog odnosa zaposlenika sukladno zakonu,</p>
<p>· brine se o zakonitom i pravodobnom obnašanju poslova iz mjerodavnosti općinskih službi i poduzima mjere za osiguranje njihovog učinkovitijeg rada,</p>
<p>· sklapa ugovore i druge pravne poslove sukladno zakonu, Statutu Općine i odluci Općinskog vijeća,</p>
<p>· brine se o urednom i pravilnom korištenju imovine i sredstava rada,</p>
<p>· obnaša i druge poslove utvrđene zakonom, drugim propisima i Statutom Općine.</p>


     </div>


    <div class="other-articles-container">
        <app-side-news></app-side-news>
    </div>
    


</div>



