<div class="main-container">
    <div class="links-container">
        <h2>Vezani linkovi:</h2>
        <a href="/o-opcini/o-nama">O nama<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/o-opcini/historijat">{{ 'historijat_naslov' | translate }}<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/o-opcini/geografija-i-demografija">{{ 'geo_demo_naslov' | translate }}<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/o-opcini/socio-ekonomski-profit">Socio-ekonomski profil<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/o-opcini/opcinski-nacelnik">Općinski načelnik<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/o-opcini/javne-ustanove-i-preduzeca">{{ 'javna_naslov' | translate }}<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/o-opcini/turizam">Turizam<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/o-opcini/kultura">Kultura<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/o-opcini/privreda">{{ 'privreda_naslov' | translate }}<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/o-opcini/obrazovna-i-socijalna-infrastruktura">Obrazovna i socijalna infrastruktura<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/o-opcini/sport">{{ 'sport_naslov' | translate }}<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/o-opcini/nvo">NVO sektor<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/o-opcini/mjesne-zajednice">Mjesne zajednice<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/o-opcini/javne-nabavke/page/1">Javne nabavke<i class="fa fa-angle-right"></i></a>
    </div>
    







    <div class="content-container">
        <h2 class="nacelnik-title">Općinski načelnik Asim Mekić</h2>
        <br>
        <div class="imgs-container">
            <img src="assets/img/AsimMekic.jpg" alt="">
            <div class="contact-info">
                <h4><strong><i class="fa fa-phone"></i></strong> (030) 732-152</h4>
                <h4><strong><i class="fa fa-fax" aria-hidden="true"></i></strong> (030) 733-038</h4>
                <h4><strong><i class="fa fa-envelope"></i></strong> opcina.busovaca1@tel.net.ba</h4>

            </div>
        </div>
        <h2 style="margin-top: 25px;">Biografija</h2>

        <br>
        <br>
        <div style="white-space: pre-line"><p class="content"> {{ 'nacelnik_biografija' | translate }}</p></div>
        <br><br><br>
        <p><strong>Nadležnosti općinskog načelnika</strong></p>
        <br><br>
        <p>Nosilac izvršne vlasti u okviru prava i dužnosti općine je Općinski načelnik. Općinskog načelnika biraju
            građani općine neposrednim glasanjem. Općinski načelnik u obavljanju poslova iz samoupravnog djelokruga
            općine obavlja poslove koji se odnose na: </p>

        <br>
        <ul>
            <li>predstavlja i zastupa Općinu,</li>
            <li>podnosi prijedlog Proračuna Općine, </li>
            <li> odgovoran je za izvršavanje proračuna Općine,</li>
            <li>obnaša upravljački nadzor nad zakonitošću rada javnih ustanova i poduzeća kojim je osnivač Općina, te im daje upute za rad, </li>
            <li>donosi akte iz svoje mjerodavnosti, </li>
            <li> predlaže Općinskom vijeću odluke i druge akte,</li>
            <li> osigurava izradu i Općinskom vijeću podnosi na usvajanje ekonomske planove,razvojne planove,investicijske programe, prostorne i urbanističke planove i ostale planske i regulatorne dokumente što se odnose na korištenje i upravljanje zemljištem, uključujući zoniranje i korištenje javnog zemljišta,</li>
            <li> provodi politiku Općine sukladno odlukama Općinskog vijeća,</li>
            <li> izvršava zakone i druge propise čije je izvršenje povjereno Općini,</li>
            <li> utvrđuje ustrojstvo službi za upravu i drugih službi Općine,</li>
            <li> donosi Pravilnik o unutarnjem ustrojstvu općinskih službi,</li>
            <li> realizira suradnju Općine sa drugim općinama, gradovima, međunarodnim drugim organizacijama sukladno odlukama i zaključcima Općinskog vijeća i njegovih radnih tijela,</li>
            <li> podnosi izvješće Općinskom vijeću o ostvarivanju politike Općine i svojim aktivnostima,</li>
            <li> odlučuje o pitanjima iz radnog odnosa zaposlenika sukladno zakonu,</li>
            <li> brine se o zakonitom i pravodobnom obnašanju poslova iz mjerodavnosti općinskih službi i poduzima mjere za osiguranje njihovog učinkovitijeg rada,</li>
            <li>sklapa ugovore i druge pravne poslove sukladno zakonu, Statutu Općine i odluci Općinskog vijeća, </li>
            <li>brine se o urednom i pravilnom korištenju imovine i sredstava rada, </li>
            <li>obnaša i druge poslove utvrđene zakonom, drugim propisima i Statutom Općine.</li>
        </ul>
    </div>


    <div class="other-articles-container">
        <app-side-news></app-side-news>
    </div>



</div>