.main-container{
    width: 100%;
    height: auto;
    margin: 30px 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
}
.links-container{
    width: 20%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    flex-direction: column;

}
.links-container h2{
    font-weight: 500;
}

.links-container h3{
    margin-top: 20px;
    font-weight: 400;
}
i{
    margin-left: 10px;
}

.content-container{

    width: 45%;
    min-height: 100vh;
    height: auto;
    border-right: 1px solid rgb(187, 187, 187);
    border-left: 1px solid rgb(187, 187, 187);
    padding: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.content-container p{
    width: 95%;
    text-align: justify;
    font-size: 16px;
}
.nacelnik-title{
    margin-bottom: 20px;
}

.content-container img{
    max-width: 95%;
}

.other-articles-container{
    width: 20%;
    height: 100vh;
    padding: 20px;
}
.other-articles-container h2{
    margin-bottom: 15px;
}

.inner-news-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}
.news-box{
    margin-bottom: 50px;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
.news-box img{
    max-width: 70%;
}
.inner-news-box{
    width: 90%;
    height: 30%;
    margin-top: 5px;
}
.inner-news-box h4{
    font-weight: 400;
}
.inner-news-box h3{
    font-weight: 600;
    margin: 5px 0;
}
.newsDate{
    color: #606063;
}
.newsSubTitle{
    color: #af7f1e;
}
.imgs-container{
    width: 90%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    margin-top: 5px;
    align-items: flex-end;
    flex-direction: row;
}
.imgs-container img{
    max-height: 220px;
    margin-right: 15px;
}

table {
    width: 95%;
    border-right-color: #ffffff;
    font-size: 16px;
    /* /* border: 1px solid #343a40; */
    border-collapse: collapse; 
  }
  
  th, td {
    /* border: 1px solid #343a40; */
    padding: 16px 24px;
    text-align: left;
  }

  th {
    background-color: #087f5b;
    color: #fff;
    width: 25%;
  }

  tbody tr:nth-child(odd){
    background-color: #f8f9fa;
  }

  
  tbody tr:nth-child(even){
    background-color: #e9ecef;
  }



/*responsiveness*/

@media only screen and (max-width: 1100px) {
    .main-container{
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .content-container{

        width: 90%;
        min-height: 100vh;
        height: auto;
        border: none;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        order: 1;
    }
    .links-container{
        width: 95%;
        height: auto;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 20px;
        flex-direction: column;
        order: 2;
        border-top: 1px solid rgb(187, 187, 187)
    
    }
    .other-articles-container{
        width: 95%;
        height: auto;
        padding: 20px;
        order: 3;
        border-top: 1px solid rgb(187, 187, 187);
    }
  
}
@media only screen and (max-width: 850px) {
    h2{
        font-size: 18px;
    }
    h3{
        font-size: 15px;
    }
}
@media only screen and (max-width: 500px) {
    .imgs-container img{
        max-height: 200px;
    }
    .contact-info h4{
        font-size: 14px;
    }   
}
@media only screen and (max-width: 430px) {
    .imgs-container img{
        max-height: 160px;
    }
    h3{
        font-size: 14px;
    }
    .contact-info h4{
        font-size: 12px;
    }   
    .content-container{
        width: 95%;
    }
}
@media only screen and (max-width: 300px) {
    .imgs-container img{
        max-height: 140px;
    }
    h3{
        font-size: 13px;
    }
    .contact-info h4{
        font-size: 10px;
    }
    .content-container{
        width: 99%;
    }
}
