<footer>
	<div class="content">
		<div class="top">
			<div class="logo-details">
				<span class="logo_name">Općina Busovača</span>
			</div>
			
		</div>
		<div class="link-boxes">
			<ul class="box">
				<li class="link_name">Lokacija</li>
				<li><a>Ul. 16. avgusta/kolovoza bb</a></li>
				<li><a>72260 Busovača</a></li>
			
			</ul>
			
			<ul class="box">
				<li class="link_name">Linkovi</li>
				<li><a href="/">Naslovna</a></li>
				<li><a href="/o-opcini/o-nama">O nama</a></li>
				<li><a href="/aktuelnosti/page/1">Aktuelnosti</a></li>
				<li><a href="/vijecnici">Općinsko vijeće</a></li>
			
			</ul>
			<ul class="box">
				<li class="link_name">Kontakt</li>
				<li><a>Tel: (030)-732-152</a></li>
				<li><a>Fax: (030)-733-038</a></li>
				<li><a href="mailto:opcina.busovaca1@tel.net.ba">opcina.busovaca1@tel.net.ba</a></li>
				
			</ul>
		
		</div>
	</div>
	    <div class="bottom-details">
      <div class="bottom_text">
        <span class="copyright_text">Copyright © 2021 <a href="#">Općina Busovača.</a></span>
        <span class="policy_terms">
			<!--
          <a href="https://www.linkedin.com/in/alem-hodzic-7a79a81a0/">Developed by Alem Hodžić</a>
			-->
        </span>
      </div>
    </div>
</footer>