<div class="main-container">
    <div class="links-container">
        <h2>Vezani linkovi:</h2>
        <a href="/o-opcini/opcinski-nacelnik">Općinski načelnik<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/vijecnici">Općinski vijećnici<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/">Službeni glasnik<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/sluzbe-uprave">Službe uprave<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/aktuelnosti/page/1">{{ 'aktuelnosti_naslov' | translate }}<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/dokumenti">Dokumenti<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/dokumenti-i-zakljucci">Dokumenti i zaključci OV<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/javni-oglasi/page/1">Javni oglasi<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/radna-tijela-povjerenstva">{{ 'radna_tijela' | translate }}<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/obrasci">Obrasci<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/fotogalerija">Fotogalerija<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
    </div>
    





    <div class="content-container">
        <h2>{{ 'radna_tijela' | translate }}</h2>

        <br>
        <br>
        <p>
            Općinsko vijeće Busovača, sukladno Statutu, ima stalna i povremena radna tijela i povjerenstva/komisije koja
            u okviru svojih obveza razmatraju prijedloge odluka i drugih akata, te druga pitanja koja su na dnevnom redu
            sjednica Općinskog vijeća, i o istima daju svoja mišljenja i prijedloge. Radna tijela i povjerenstva imaju
            pravo Općinskom vijeću predlagati donošenje određenih odluka i drugih akata.
            Stalna povjerenstva / komisije Općinskog vijeća Busovača su:
        </p>
        <br><br>
        <ul>
            <li>Povjerenstvo /komisija za propise,</li>
            <li>Povjerenstvo/komisija za budžet,</li>
            <li>Povjerenstvo/komisija za prigovore, predstavke i prijedloge,</li>
            <li>Povjerenstvo/komisija za društvene djelatnosti i poslove mjesnih zajednica,</li>
            <li>Povjerenstvo/komisija za ljudska prava, ravnopravnost spolova i odnose sa vjerskim zajednicama,</li>
            <li>Povjerenstvo/komisija za izbor i imenovanja,</li>
            <li>Povjerenstvo/komisija za mlade,</li>
            <li>Povjerenstvo/komisija za planiranje općinskog razvoja</li>    
        </ul>
    </div>


    <div class="other-articles-container">
        <app-side-news></app-side-news>
    </div>



</div>