.logo-container{
    width: 100%;
    height: 10vh;
	background-color: #2C303A;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*#070969 - blue*/


.logo-container img{
    width: 210px;
}

#filler{
    width: 100%;
    height: 6.5vh;
    display: none;
	background-color: #2C303A;

}

.navbar-container {
	margin-top: -2px;
	width: 100%;
	height: 6.5vh;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10;
	padding: 10px;
	background-color: #2C303A;
}

.fixed {
    top: 0;
    position: fixed;
	box-shadow: 0 4px 10px 0px rgba(0,0,0,0.03);
	-moz-box-shadow: 0 4px 10px 0px rgba(0,0,0,0.03);
	-webkit-box-shadow: 0 4px 10px 0px rgba(0,0,0,0.03);
}

.inner-container {
	height: 100%;
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.navbar-logo-container {
	width: 50%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: auto;
}

.navbar-logo-container img {
	width: 125px;
	padding: 3px;
}

.navbar-headings-container {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.navbar-headings {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.push{
	margin-right: 55px;
}
.push2{
	margin-left: 55px;
}
.navbar-headings a {
	color: #e0e7ee;
	padding: 0 10px;
	cursor: pointer;
	transition: 0.2s;
	font-weight: 400;
	font-size: 1rem;
}

.navbar-headings h4 {
	color: #e7ecf1;
	padding: 0 20px;
	cursor: pointer;
	transition: 0.2s;
	font-weight: 400;
	font-size: 1rem;
	transition: 0.2s;
}
.navbar-headings h4:hover{
	color: #ffffff;
}
.navbar-headings a:hover{
	color: #ffffff;
}

.navbar-headings h4:hover {
	color: #88cdd1;
}

/*HAMBURGER MENU*/

.menu {
	display: none;
	position: absolute;
	top: 20;
	right: 20px;
	background-color: transparent;
	border: none;
	cursor: pointer;
	padding: 0;
}

.line {
	fill: none;
	stroke: black;
	stroke-width: 6;
	transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
	stroke-dasharray: 60 207;
	stroke-width: 6;
}

.line2 {
	stroke-dasharray: 60 60;
	stroke-width: 6;
}

.line3 {
	stroke-dasharray: 60 207;
	stroke-width: 6;
}

.opened .line1 {
	stroke-dasharray: 90 207;
	stroke-dashoffset: -134;
	stroke-width: 6;
}

.opened .line2 {
	stroke-dasharray: 1 60;
	stroke-dashoffset: -30;
	stroke-width: 6;
}

.opened .line3 {
	stroke-dasharray: 90 207;
	stroke-dashoffset: -134;
	stroke-width: 6;
}

.hamburger-content {
	display: none;
	position: fixed;
	background-color: white;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	top: 7vh;
}

.inner-ham-content {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
}

.ham-items {
	width: 100%;
	height: 30%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
}

.ham-items h4 {
	color: #3A415E;
	cursor: pointer;
	transition: 0.2s;
	font-weight: 400;
}

.ham-items h4:hover {
	color: #88cdd1;
}

.ham-items img {
	width: 90%;
}

.display-content {
	display: flex;
	z-index: 20;
}


/* The sidebar menu */
.sidebar {
	height: 100%; /* 100% Full-height */
	width: 0; /* 0 width - change this with JavaScript */
	position: fixed; /* Stay in place */
	z-index: 10; /* Stay on top */
	top: 0;
	left: 0;
	background-color: #292c35; 
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 60px; /* Place content 60px from the top */

  }
  
  #mySidebar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(48, 48, 48, 0.3);
	box-shadow: inset 0 0 6px rgba(48, 48, 48, 0.3);
	background-color: #414141;
}

#mySidebar::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#mySidebar::-webkit-scrollbar-thumb
{
	background-color: #20232b;

}


  /* The sidebar links */
  .sidebar a {
	padding: 8px 8px 8px 30px;
	text-decoration: none;
	font-size: 22px;
	color: #a5a4a4;
	display: block;
	transition: 0.3s;
  }
  .sidebar img{
	  width: 250px;
	  padding: 8px 8px 30px 30px;
  }
  .sidebar hr{
	  height: 0.5px;
	  border-color: rgb(177, 177, 177, 0.5);
	  color: rgb(177, 177, 177, 0.5);
	  background-color: rgb(177, 177, 177, 0.5);
	  width: 80%;
	  margin: 8px 8px 4px 30px;
  }
  .under_menu a{
	padding: 8px 8px 8px 30px;
	text-decoration: none;
	font-size: 18px;
	color: #a5a4a4;
	display: block;
	transition: 0.3s;
  }
  #mySidebar a{
	  cursor: pointer;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
	color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
  }
  
  /* The button used to open the sidebar */
  .openbtn {
	font-size: 20px;
	cursor: pointer;
	background-color: #111;
	color: white;
	padding: 10px 15px;
	border: none;
  }
  
  .openbtn:hover {
	background-color: #444;
  }
  

  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
	.sidebar {padding-top: 15px;}
	.sidebar a {font-size: 18px;}
  }



@media only screen and (max-width: 1400px) {
	.navbar-headings a{
		font-size: 1rem;
	}
}
@media only screen and (max-width: 1300px) {
	.navbar-headings a{
		font-size: 0.85rem;
	}

		
}

@media only screen and (max-width: 1060px) {


	.disabledClass {
		display: none;
	}
	.navbar-headings{
		justify-content: space-between;
	}

	.navbar-headings a{
		font-size: 1.1rem;
	}
}

@media only screen and (max-width: 660px) {
	.logo-container img {
		width: 180px;
		padding: 0;
	}
	.inner-container{
		width: 100%;
	}
  .navbar-container {
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;

  }
  .navbar-headings a {

	font-size: 0.9rem;
}
}
@media only screen and (max-width: 460px) {
	.logo-container img {
		width: 165px;
		padding: 0;
	}
}
