<div class="logo-container">
    <img src="assets/img/logotext.png" alt="">
</div>
<div id="filler"></div>
<div class="navbar-container" id="navbar">
    <div class="inner-container">
        <div class="navbar-headings-container">
            <button class="menu" onclick="this.classList.toggle('opened');this.setAttribute('aria-expanded', this.classList.contains('opened'))" aria-label="Main Menu">
                <svg width="50" height="50" viewBox="0 0 100 100">
                  <path class="line line1" d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058" />
                  <path class="line line2" d="M 20,50 H 80" />
                  <path class="line line3" d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942" />
                </svg>
              </button>
            
           <div class="navbar-headings">
            <h4 (click)="openNav()"><i class="fa fa-bars"></i> Izbornik</h4>
            <h4 >Općinski načelnik</h4>
            <h4 >Općinsko vijeće</h4>
            <h4 >Mjesne zajednice</h4>
            <h4 >Kontakt</h4>
            <h4 >Podaci</h4>
        
           </div>
          
        </div>
    </div>
</div>
<div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
    <a (click)="toggle[1] = !toggle[1]">Aktuelnosti <i *ngIf="!toggle[1]" class="fa fa-angle-down"></i> <i *ngIf="toggle[1]" class="fa fa-angle-up"></i></a>
        <div class="under_menu" [hidden]="!toggle[1]">     
             <a>Item 1</a>
        </div>

    <a (click)="toggle[2] = !toggle[2]">Dokumenti <i *ngIf="!toggle[2]" class="fa fa-angle-down"></i> <i *ngIf="toggle[2]" class="fa fa-angle-up"></i></a>
        <div  class="under_menu" [hidden]="!toggle[2]">     
             <a>Strategije</a>
             <a>Budžeti</a>
             <a>Zahtjevi</a>
             
        </div>  
    
       
  
    

    <a href="#">Services</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>
  </div>
  
