<div class="main-container">
    <div class="links-container">
        <h2>Vezani linkovi:</h2>
        <a href="/o-opcini/opcinski-nacelnik">Općinski načelnik<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/vijecnici">Općinski vijećnici<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/">Službeni glasnik<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/sluzbe-uprave">Službe uprave<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/aktuelnosti/page/1">{{ 'aktuelnosti_naslov' | translate }}<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/dokumenti">Dokumenti<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/dokumenti-i-zakljucci">Dokumenti i zaključci OV<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/javni-oglasi/page/1">Javni oglasi<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/radna-tijela-povjerenstva">{{ 'radna_tijela' | translate }}<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/obrasci">Obrasci<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/fotogalerija">Fotogalerija<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
    </div>
    




    <div class="content-container">
        <h2>Obrasci</h2>
        <br>

        <br>
        <table class="tablemobile">
            <thead>
                <tr>
                    <th>
                        <p><strong>Naziv</strong></p>
                    </th>
                    <th>
                        <p><strong>Preuzmi</strong></p>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <p>Obrazac zahtjeva za sufinansiranje</p>
                    </td>
                    <td><a href="../../../assets/files/Obrazac Zahtjeva za sufinansiranje sa pozicije Subvencije privatnim preduzećima i poduzetnicima za 2021.godinu.docx" download><i class="fa fa-download"></i></a></td>
                </tr>

                <tr>
                    <td>
                        <p>Obavijest o početku obavljanja djelatnosti</p>
                    </td>
                    <td><a href="../../../assets/files/Obavijest o početku obavljanja djelatnosti.pdf" download><i class="fa fa-download"></i></a></td>
                </tr>

                <tr>
                    <td>
                        <p>Obavijest o ponovnom početku rada</p>
                    </td>
                    <td><a href="../../../assets/files/Obavijest o ponovnom početku rada.pdf" download><i
                                class="fa fa-download"></i></a></td>
                </tr>


                <tr>
                    <td>
                        <p>Privremena obustava obavljanja obrta</p>
                    </td>
                    <td><a href="../../../assets/files/Privremena obustava obavljanja obrta.pdf" download><i
                                class="fa fa-download"></i></a></td>
                </tr>

                <tr>
                    <td>
                        <p>Zahtjev za izdavanje dvojezične kućne liste</p>
                    </td>
                    <td><a href="../../../assets/files/Zahtjev za izdavanje dvojezične kućne liste.pdf" download><i
                                class="fa fa-download"></i></a></td>
                </tr>

                <tr>
                    <td>
                        <p>Zahtjev za izdavanje odobrenja o obavljanju ugostiteljske djelatnosti (osnivanje
                            ugostiteljske radnje)</p>
                    </td>
                    <td><a href="../../../assets/files/Zahtjev za izdavanje odobrenja o obavljanju ugostiteljske djelatnosti (osnivanje ugostiteljske radnje).pdf"
                            download><i class="fa fa-download"></i></a></td>
                </tr>

                <tr>
                    <td>
                        <p>Zahtjev za izdavanje odobrenja o osnivanju obrtničke radnje</p>
                    </td>
                    <td><a href="../../../assets/files/Zahtjev za izdavanje odobrenja o osnivanju obrtničke radnje.pdf"
                            download><i class="fa fa-download"></i></a></td>
                </tr>

                <tr>
                    <td>
                        <p>Zahtjev za izdavanje odobrenja za građenje </p>
                    </td>
                    <td><a href="../../../assets/files/Zahtjev za izdavanje odobrenja za građenje.pdf" download><i
                                class="fa fa-download"></i></a></td>
                </tr>

                <tr>
                    <td>
                        <p>Zahtjev za izdavanje odobrenja za obavljanje djelatnosti javnog prijevoza tereta </p>
                    </td>
                    <td><a href="../../../assets/files/Zahtjev za izdavanje odobrenja za obavljanje djelatnosti javnog prijevoza tereta.pdf"
                            download><i class="fa fa-download"></i></a></td>
                </tr>

                <tr>
                    <td>
                        <p>Zahtjev za izdavanje odobrenja za obavljanje djelatnosti prijevoza za osobne potrebe </p>
                    </td>
                    <td><a href="../../../assets/files/Zahtjev za izdavanje odobrenja za obavljanje djelatnosti prijevoza za osobne potrebe.pdf"
                            download><i class="fa fa-download"></i></a></td>
                </tr>

                <tr>
                    <td>
                        <p>Zahtjev za izdavanje odobrenja za obavljanje djelatnosti taksi prijevoza </p>
                    </td>
                    <td><a href="../../../assets/files/Zahtjev za izdavanje odobrenja za obavljanje djelatnosti taksi prijevoza.pdf"
                            download><i class="fa fa-download"></i></a></td>
                </tr>

                <tr>
                    <td>
                        <p>Zahtjev za izdavanje odobrenja za rad na blagdan Sv. Ante</p>
                    </td>
                    <td><a href="../../../assets/files/Zahtjev za izdavanje odobrenja za rad na blagdan Sv. Ante.pdf"
                            download><i class="fa fa-download"></i></a></td>
                </tr>

                <tr>
                    <td>
                        <p>Zahtjev za izdavanje potvrde o uzdržavanju, koja je namijenjena za inozemstvouzdržavanje i
                            pomaganje osoba siromašnog stanja </p>
                    </td>
                    <td><a href="../../../assets/files/Zahtjev za izdavanje potvrde o uzdržavanju, koja je namijenjena za inozemstvouzdržavanje i pomaganje osoba siromašnog stanja.pdf"
                            download><i class="fa fa-download"></i></a></td>
                </tr>

                <tr>
                    <td>
                        <p>Zahtjev za izdavanje rješenja o osnivanju trgovačke radnje </p>
                    </td>
                    <td><a href="../../../assets/files/Zahtjev za izdavanje rješenja o osnivanju trgovačke radnje.pdf"
                            download><i class="fa fa-download"></i></a></td>
                </tr>

                <tr>
                    <td>
                        <p>Zahtjev za izdavanje rješenja o stalnom prestanku obavljanja obrta, odnosno djelatnosti
                            srodnih obrtu </p>
                    </td>
                    <td><a href="../../../assets/files/Zahtjev za izdavanje rješenja o stalnom prestanku obavljanja obrta, odnosno djelatnosti srodnih obrtu.pdf"
                            download><i class="fa fa-download"></i></a></td>
                </tr>

                <tr>
                    <td>
                        <p>Zahtjev za izdavanje rješenja o stalnom prestanku rada trgovačke radnje </p>
                    </td>
                    <td><a href="../../../assets/files/Zahtjev za izdavanje rješenja o stalnom prestanku rada trgovačke radnje.pdf"
                            download><i class="fa fa-download"></i></a></td>
                </tr>

                <tr>
                    <td>
                        <p>Zahtjev za izdavanje rješenja o stalnom prestanku rada ugostiteljske radnje, odnosno
                            obavljanju ugostiteljske djelatnosti </p>
                    </td>
                    <td><a href="../../../assets/files/Zahtjev za izdavanje rješenja o stalnom prestanku rada ugostiteljske radnje, odnosno obavljanju ugostiteljske djelatnosti.pdf"
                            download><i class="fa fa-download"></i></a></td>
                </tr>

                <tr>
                    <td>
                        <p>Zahtjev za izdavanje rješenja o stalnom prestanku rada </p>
                    </td>
                    <td><a href="../../../assets/files/Zahtjev za izdavanje rješenja o stalnom prestanku rada.pdf"
                            download><i class="fa fa-download"></i></a></td>
                </tr>

                <tr>
                    <td>
                        <p>Zahtjev za izdavanje rješenja o urbanističkoj saglasnosti </p>
                    </td>
                    <td><a href="../../../assets/files/Zahtjev za izdavanje rješenja o urbanističkoj saglasnosti.pdf"
                            download><i class="fa fa-download"></i></a></td>
                </tr>

                <tr>
                    <td>
                        <p>Zahtjev za izdavanje rješenja o utvrđivanju minim. - tehničkih uvjeta i opremljenosti poslov.
                            prostorija za obavljanje ugostiteljske djelatnosti </p>
                    </td>
                    <td><a href="../../../assets/files/Zahtjev za izdavanje rješenja o utvrđivanju minim. - tehničkih uvjeta i opremljenosti poslov.  prostorija za obavljanje ugostiteljske djelatnosti.pdf"
                            download><i class="fa fa-download"></i></a></td>
                </tr>

                <tr>
                    <td>
                        <p>Zahtjev za izdavanje uvjerenja </p>
                    </td>
                    <td><a href="../../../assets/files/Zahtjev za izdavanje uvjerenja.pdf" download><i
                                class="fa fa-download"></i></a></td>
                </tr>

                <tr>
                    <td>
                        <p>Zahtjev za izlazak na lice mjesta </p>
                    </td>
                    <td><a href="../../../assets/files/Zahtjev za izlazak na lice mjesta.pdf" download><i
                                class="fa fa-download"></i></a></td>
                </tr>

                <tr>
                    <td>
                        <p>Zahtjev za izmjenu rješenja o odobrenju gradnje-promjena vlasnika </p>
                    </td>
                    <td><a href="../../../assets/files/Zahtjev za izmjenu  rješenja o odobrenju gradnje-promjena vlasnika.pdf"
                            download><i class="fa fa-download"></i></a></td>
                </tr>

                <tr>
                    <td>
                        <p>Zahtjev za izmjenu rješenja o odobrenju gradnje </p>
                    </td>
                    <td><a href="../../../assets/files/Zahtjev za izmjenu  rješenja o odobrenju gradnje.pdf" download><i
                                class="fa fa-download"></i></a></td>
                </tr>

                <tr>
                    <td>
                        <p>Zahtjev za izmjenu odobrenja o obavljanju prijevoza za osobne potrebe </p>
                    </td>
                    <td><a href="../../../assets/files/Zahtjev za izmjenu odobrenja o obavljanju  prijevoza za osobne potrebe.pdf"
                            download><i class="fa fa-download"></i></a></td>
                </tr>
                <tr>
                    <td>
                        <p>Zahtjev za izmjenu odobrenja o obavljanju prijevoza tereta </p>
                    </td>
                    <td><a href="../../../assets/files/Zahtjev za izmjenu odobrenja o obavljanju prijevoza tereta.pdf"
                            download><i class="fa fa-download"></i></a></td>
                </tr>
                <tr>
                    <td>
                        <p>Zahtjev za izmjenu rješenja o odobrenju upotrebe objekta </p>
                    </td>
                    <td><a href="../../../assets/files/Zahtjev za izmjenu rješenja o odobrenju  upotrebe objekta.pdf"
                            download><i class="fa fa-download"></i></a></td>
                </tr>
                <tr>
                    <td>
                        <p>Zahtjev za izmjenu rješenja o urbanističkoj saglasnosti </p>
                    </td>
                    <td><a href="../../../assets/files/Zahtjev za izmjenu rješenja o urbanističkoj saglasnosti.pdf"
                            download><i class="fa fa-download"></i></a></td>
                </tr>
                <tr>
                    <td>
                        <p>Zahtjev za izmjenu rješenja </p>
                    </td>
                    <td><a href="../../../assets/files/Zahtjev za izmjenu rješenja.pdf" download><i
                                class="fa fa-download"></i></a></td>
                </tr>
                <tr>
                    <td>
                        <p>Zahtjev za ostvarivanje prava na zdravstvenu zaštitu </p>
                    </td>
                    <td><a href="../../../assets/files/Zahtjev za ostvarivanje prava na zdravstvenu zaštitu.pdf"
                            download><i class="fa fa-download"></i></a></td>
                </tr>
                <tr>
                    <td>
                        <p>Zahtjev za ovjeru cjenovnika i normativa </p>
                    </td>
                    <td><a href="../../../assets/files/Zahtjev za ovjeru cjenovnika i normativa.pdf" download><i
                                class="fa fa-download"></i></a></td>
                </tr>
                <tr>
                    <td>
                        <p>Zahtjev za ponovnu ocjenu invalidnosti </p>
                    </td>
                    <td><a href="../../../assets/files/Zahtjev za ponovnu ocjenu invalidnosti.pdf" download><i
                                class="fa fa-download"></i></a></td>
                </tr>
                <tr>
                    <td>
                        <p>Zahtjev za prestanak rada poslovne jedinice ili uredskog prostora </p>
                    </td>
                    <td><a href="../../../assets/files/Zahtjev za prestanak rada poslovne jedinice ili uredskog prostora.pdf"
                            download><i class="fa fa-download"></i></a></td>
                </tr>
                <tr>
                    <td>
                        <p>Zahtjev za pristup informacijama </p>
                    </td>
                    <td><a href="../../../assets/files/Zahtjev za pristup informacijama.pdf" download><i
                                class="fa fa-download"></i></a></td>
                </tr>
                <tr>
                    <td>
                        <p>Zahtjev za privremeno zauzimanje javne površine </p>
                    </td>
                    <td><a href="../../../assets/files/Zahtjev za privremeno zauzimanje javne površine.pdf" download><i
                                class="fa fa-download"></i></a></td>
                </tr>
                <tr>
                    <td>
                        <p>Zahtjev za privremenu obustavu rada </p>
                    </td>
                    <td><a href="../../../assets/files/Zahtjev za privremenu obustavu rada.pdf" download><i
                                class="fa fa-download"></i></a></td>
                </tr>
                <tr>
                    <td>
                        <p>Zahtjev za produljenje važnosti građevinske dozvole </p>
                    </td>
                    <td><a href="../../../assets/files/Zahtjev za produljenje važnosti građevinske dozvole.pdf"
                            download><i class="fa fa-download"></i></a></td>
                </tr>
                <tr>
                    <td>
                        <p>Zahtjev za produljenje važnosti rješenja o urbanističkoj suglasnosti </p>
                    </td>
                    <td><a href="../../../assets/files/Zahtjev za produljenje važnosti rješenja o urbanističkoj suglasnosti.pdf"
                            download><i class="fa fa-download"></i></a></td>
                </tr>
                <tr>
                    <td>
                        <p>Zahtjev za promjenu kulture zemljišta </p>
                    </td>
                    <td><a href="../../../assets/files/Zahtjev za promjenu kulture zemljišta.pdf" download><i
                                class="fa fa-download"></i></a></td>
                </tr>
                <tr>
                    <td>
                        <p>Zahtjev za promjenu podataka u registru poljoprivrednih gazdinstavagospodarstava i registar
                            klijenata </p>
                    </td>
                    <td><a href="../../../assets/files/Zahtjev za promjenu podataka u registru poljoprivrednih gazdinstavagospodarstava i registar klijenata.pdf"
                            download><i class="fa fa-download"></i></a></td>
                </tr>
                <tr>
                    <td>
                        <p>Zahtjev za tehnički prijem objekta i izdavanje odobrenja za upotrebu </p>
                    </td>
                    <td><a href="../../../assets/files/Zahtjev za tehnički prijem objekta i izdavanje odobrenja za upotrebu.pdf"
                            download><i class="fa fa-download"></i></a></td>
                </tr>
                <tr>
                    <td>
                        <p>Zahtjev za upis u registar poljoprivrednih gazdinstavagospodarstava i registar klijenata </p>
                    </td>
                    <td><a href="../../../assets/files/Zahtjev za upis u registar poljoprivrednih gazdinstavagospodarstava i registar klijenata.pdf"
                            download><i class="fa fa-download"></i></a></td>
                </tr>
                <tr>
                    <td>
                        <p>Zahtjev za upis u registar pčelara i pčelinjaka FBiH </p>
                    </td>
                    <td><a href="../../../assets/files/Zahtjev za upis u registar pčelara i pčelinjaka FBiH.pdf"
                            download><i class="fa fa-download"></i></a></td>
                </tr>
                <tr>
                    <td>
                        <p>Zahtjev za utvrđivanje minimalno tehničkih uvjeta </p>
                    </td>
                    <td><a href="../../../assets/files/Zahtjev za utvrđivanje minimalno tehničkih uvjeta.pdf"
                            download><i class="fa fa-download"></i></a></td>
                </tr>

            </tbody>
        </table>
    </div>


    <div class="other-articles-container">
        <app-side-news></app-side-news>
    </div>



</div>