
.main-container{
    width: 100%;
    height: auto;
    margin: 30px 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
}
.links-container{
    width: 20%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    flex-direction: column;

}
.links-container h2{
    font-weight: 500;
    margin-bottom: 5px;
}

.links-container a{
    color: rgb(90, 90, 90);
    margin: 10px 0px;
    font-weight: 400;
    transition: 0.2s;
    cursor: pointer;
}
.links-container a:hover{
    color: rgb(31, 31, 31);
}
.links-container a:hover i{
    margin-left: 8px;
}
.horiz-line{
    border-color: rgba(209, 209, 209, 0.3);
}
.links-container i{
    transition: 0.2s;
    margin-left: 6px;
}

.content-container{

    width: 45%;
    min-height: 100vh;
    height: auto;
    border-right: 1px solid rgb(187, 187, 187);
    border-left: 1px solid rgb(187, 187, 187);
    padding: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.content-container p{
    font-size: 15px;
}

.content-container img{
    max-width: 95%;
}

.other-articles-container{
    width: 20%;
    height: 100vh;
    padding: 20px;
}
.other-articles-container h2{
    margin-bottom: 15px;
}

.inner-news-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}
.news-box{
    margin-bottom: 50px;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
.news-box img{
    max-width: 70%;
}
.inner-news-box{
    width: 90%;
    height: 30%;
    margin-top: 5px;
}
.inner-news-box h4{
    font-weight: 400;
}
.inner-news-box h3{
    font-weight: 600;
    margin: 5px 0;
}
.newsDate{
    color: #606063;
}
.newsSubTitle{
    color: #af7f1e;
}

table {
    overflow-x: auto;
    display: block;
    width: 95%;
    border-right-color: #ffffff;
    font-size: 16px;
    /* /* border: 1px solid #343a40; */
    border-collapse: collapse; 
    table-layout:fixed;
  }
  
  th, td {
    /* border: 1px solid #343a40; */
    padding: 16px 24px;
    text-align: left;
  }

  th {
    background-color: #087f5b;
    color: #fff;

  }

  tbody tr:nth-child(odd){
    background-color: #f8f9fa;
  }

  
  tbody tr:nth-child(even){
    background-color: #e9ecef;
  }
  .tablemobile {
    overflow-x: auto;
    display: block;
}



/*responsiveness*/

@media only screen and (max-width: 950px) {
    h2{
        font-size: 18px;
    }
    h3{
        font-size: 15px;
    }
}
@media only screen and (max-width: 850px) {
    .main-container{
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .content-container{

        width: 100%;
        min-height: 100vh;
        height: auto;
        border: none;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        order: 1;
    }
    .links-container{
        width: 95%;
        height: auto;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 20px;
        flex-direction: column;
        order: 2;
        border-top: 1px solid rgb(187, 187, 187)
    
    }
    .other-articles-container{
        width: 95%;
        height: auto;
        padding: 20px;
        order: 3;
        border-top: 1px solid rgb(187, 187, 187);
    }
  
}



