<div class="modal-container">
    <div class="form-container">
        <div class="top-form">
            <h3>Dodavanje fotografije</h3>
        </div>
    
        <div class="contact-container">
    
          <div class="contact-description">
              <form class="contact-form" [formGroup] = "formdata" (ngSubmit) = "onClickSubmit(formdata.value)">
                <input type="file"
                (change)="handleUpload($event)" placeholder="slika" name="selectedFile" tabindex="2" formControlName="selectedFile"
                />
                  <div class="btn-container">
                    <button class="close-btn" value="CLOSE" type="button" (click)="closeDialog()">Zatvori</button>
                    <button class="send-btn" type="submit" value="Send">Dodaj</button>
                  </div> 
              </form>
           
          </div>
    
      </div>
    </div>
</div>
