<div class="counters-container">
    <div class="cnter">
        <div class="top"><h1>17910</h1></div>
        <div class="mid"><img src="assets/img/line.png" alt=""></div>
        <div class="bottom"><h2>Broj<br>stanovnika</h2></div>
    </div>
    <div class="cnter">
        <div class="top"><h1>16.08.1371</h1></div>
        <div class="mid"><img src="assets/img/line.png" alt=""></div>
        <div class="bottom"><h2>Prvo<br>spominjanje</h2></div>
    </div>
    <div class="cnter">
        <div class="top"><h1>72260</h1></div>
        <div class="mid"><img src="assets/img/line.png" alt=""></div>
        <div class="bottom"><h2>Poštanski<br>broj</h2></div>
    </div>
    <div class="cnter">
        <div class="top"><h1>157.5 km²</h1></div>
        <div class="mid"><img src="assets/img/line.png" alt=""></div>
        <div class="bottom"><h2>Površina</h2></div>
    </div>
</div>