<div class="counters-container">
    <div class="cnter">
        <div class="top"><animated-digit [digit]="17910" [duration]="2000"></animated-digit></div>
        <div class="mid"><img src="assets/img/line.png" alt=""></div>
        <div class="bottom"><h2>Broj<br>stanovnika</h2></div>
    </div>
    <div class="cnter">
        <div class="top"><h1>16.08.</h1><animated-digit [digit]="1371" [duration]="2000"></animated-digit></div>
        <div class="mid"><img src="assets/img/line.png" alt=""></div>
        <div class="bottom"><h2>Prvo<br>spominjanje</h2></div>
    </div>
    <div class="cnter">
        <div class="top"><animated-digit [digit]="72260" [duration]="2000"></animated-digit></div>
        <div class="mid"><img src="assets/img/line.png" alt=""></div>
        <div class="bottom"><h2>Poštanski<br>broj</h2></div>
    </div>
    <div class="cnter">
        <div class="top"><animated-digit [digit]="157" [duration]="2000"></animated-digit><h1>.5 km²</h1></div>
        <div class="mid"><img src="assets/img/line.png" alt=""></div>
        <div class="bottom"><h2>Površina<br>općine</h2></div>
    </div>
</div>