<div class="main-container">
  <div class="links-container">
    <h2>Vezani linkovi:</h2>
    <a href="/o-opcini/o-nama">O nama<i class="fa fa-angle-right"></i></a>
    <hr class="horiz-line" style="width: 95%;">
    <a href="/o-opcini/historijat">Historijat<i class="fa fa-angle-right"></i></a>
    <hr class="horiz-line" style="width: 95%;">
    <a href="/o-opcini/geografija-i-demografija">Geografija i demografija<i class="fa fa-angle-right"></i></a>
    <hr class="horiz-line" style="width: 95%;">
    <a href="/o-opcini/socio-ekonomski-profit">Socio-ekonomski profit<i class="fa fa-angle-right"></i></a>
    <hr class="horiz-line" style="width: 95%;">
    <a href="/o-opcini/opcinski-nacelnik">Općinski načelnik<i class="fa fa-angle-right"></i></a>
    <hr class="horiz-line" style="width: 95%;">
    <a href="/o-opcini/javne-ustanove-i-preduzeca">Javna preduzeća i ustanove<i class="fa fa-angle-right"></i></a>
    <hr class="horiz-line" style="width: 95%;">
    <a href="/o-opcini/turizam">Turizam<i class="fa fa-angle-right"></i></a>
    <hr class="horiz-line" style="width: 95%;">
    <a href="/o-opcini/obrazovna-i-socijalna-infrastruktura">Obrazovna i socijalna infrastruktura<i class="fa fa-angle-right"></i></a>
    <hr class="horiz-line" style="width: 95%;">
    <a href="/o-opcini/sport">Sport<i class="fa fa-angle-right"></i></a>
    <hr class="horiz-line" style="width: 95%;">
    <a href="/o-opcini/nvo">NVO sektor<i class="fa fa-angle-right"></i></a>
    <hr class="horiz-line" style="width: 95%;">
    <a href="/o-opcini/mjesne-zajednice">Mjesne zajednice<i class="fa fa-angle-right"></i></a>
</div>




    <div class="content-container">
        <h2>Kultura</h2>
        <br>
        <hr style="width: 90%; margin-bottom: 10px;">



        <div class="w3-content w3-display-container">

            <div class="w3-display-container mySlides">
              <img src="../../../../assets/img/kultura/1.jpg">
              <div class="w3-display-topright w3-small w3-container w3-padding-16 w3-black">
                1/13
              </div>
            </div>
            
            <div class="w3-display-container mySlides">
              <img src="../../../../assets/img/kultura/2.jpg">
              <div class="w3-display-topright w3-small w3-container w3-padding-16 w3-black">
                2/13
              </div>
            </div>
            
            <div class="w3-display-container mySlides">
              <img src="../../../../assets/img/kultura/13.jpg">
              <div class="w3-display-topright w3-small w3-container w3-padding-16 w3-black">
                3/13
              </div>
            </div>

            <div class="w3-display-container mySlides">
                <img src="../../../../assets/img/kultura/4.jpg">
                <div class="w3-display-topright w3-small w3-container w3-padding-16 w3-black">
                  4/13
                </div>
              </div>

              <div class="w3-display-container mySlides">
                <img src="../../../../assets/img/kultura/5.jpg">
                <div class="w3-display-topright w3-small w3-container w3-padding-16 w3-black">
                  5/13
                </div>
              </div>

              <div class="w3-display-container mySlides">
                <img src="../../../../assets/img/kultura/6.jpg">
                <div class="w3-display-topright w3-small w3-container w3-padding-16 w3-black">
                  6/13
                </div>
              </div>

              <div class="w3-display-container mySlides">
                <img src="../../../../assets/img/kultura/7.jpg">
                <div class="w3-display-topright w3-small w3-container w3-padding-16 w3-black">
                  7/13
                </div>
              </div>

              <div class="w3-display-container mySlides">
                <img src="../../../../assets/img/kultura/8.jpg">
                <div class="w3-display-topright w3-small w3-container w3-padding-16 w3-black">
                  8/13
                </div>
              </div>
              <div class="w3-display-container mySlides">
                <img src="../../../../assets/img/kultura/9.jpg">
                <div class="w3-display-topright w3-small w3-container w3-padding-16 w3-black">
                  9/13
                </div>
              </div>
              <div class="w3-display-container mySlides">
                <img src="../../../../assets/img/kultura/10.jpg">
                <div class="w3-display-topright w3-small w3-container w3-padding-16 w3-black">
                  10/13
                </div>
              </div>
              <div class="w3-display-container mySlides">
                <img src="../../../../assets/img/kultura/11.jpg">
                <div class="w3-display-topright w3-small w3-container w3-padding-16 w3-black">
                  11/13
                </div>
              </div>
              <div class="w3-display-container mySlides">
                <img src="../../../../assets/img/kultura/12.jpg">
                <div class="w3-display-topright w3-small w3-container w3-padding-16 w3-black">
                  12/13
                </div>
              </div>
              <div class="w3-display-container mySlides">
                <img src="../../../../assets/img/kultura/13.jpg">
                <div class="w3-display-topright w3-small w3-container w3-padding-16 w3-black">
                  13/13
                </div>
              </div>
             
              
            <button class="w3-button w3-display-left w3-black" (click)="plusDivs(-1)">&#10094;</button>
            <button class="w3-button w3-display-right w3-black" (click)="plusDivs(1)">&#10095;</button>
            
            </div>

        <br>
        <p>Bez ikakve sumnje, nositelj kulturnih događanja na području općine Busovača svakako je HKD „Napredak“, čija
            je prva podružnica u Busovači utemeljena 1907. godine kao društvo za financijsku potporu učenika i studenata
            i njihov smještaj u domove.
            <br><br>
            Rad Podružnice HKD „Napredak“ obnovljen je 1991. godine, a danas isto sa mnogo uspjeha organizira smotre
            folklora, tamburaša, izvornih grupa, književne večeri, Lipanjske dane kulture i Božične dane kulture. Od
            1994. godine, neprekidno, ovo društvo organizira dječiji festival „MAK“ (Mali akordi) gdje najmlađi imaju
            priliku pokazati svoj pjevački talent. Festival je redovito propraćen nastupima poznatih izvođača, a neki od
            onih koji su tim povodom gostovali u Busovači su: Minea, Vesna Pisarević, Divlje Ruže, Sanja Doležal,
            Žanamari i mnogi drugi.
            <br><br>


            Od 1998. godine traje izgradnja Doma kulture u Busovači, a njegovi radovi su pri kraju. U sastavu istog će
            se nalaziti: prostorije za rad udruga, gradska knjižnica, studio Radio „Busovača“, te uredi društva. U
            organizaciji HKD „Napredak“ u ovim prostorima se održavaju kružoci stranih jezika i informatike, a
            utemeljena je i humanitarna sekcija pod vodstvom gospođe Ružice laštro čiji je temeljni cilj pomoć
            najugroženijim.
            <br><br>


            Gradska knjižnica Busovača osnovana je od strane Narodnog odbora općine Busovača 1959. godine. U sudski
            registar je upisna pod nazivom Javna ustanova "Gradska knjižnica" Busovača i od 2000. godine nastavlja sa
            radom kao samostalna javna ustanova. Knjižnica je smještena u prostorijama Doma kulture HKD „Napredak“, a
            raspolaže prostorom od 169 m2, prostorom za smještaj knjiga i slobodan pristup fondu, čitaonicom sa 20-tak
            čitalačkih mjesta, uredom za obradu knjiga (ured ravnateljice) i internet kutkom. Početni fond knjižnice je
            bio 3.000 knjiga, a danas knjižnica raspolaže fondom od 19.800 knjiga. Članovi i članice su osobe svih
            dobnih skupina, a prosječno se godišenje učlani 750 korisnika. Osnovna djelatnost je knjižničarska
            djelatnost koja obuhvata sustavno prikupljanje, stručnu obradu, pohranjivanje, čuvanje i davanje na
            korištenje različitih vrsta knjižničke građe i informacija svojim korisnicima i korisnicama. Pored osnovne
            djelatnosti, knjižnica nastoji različitim vrstama usluga zadovoljiti kulturne, informacijske i obrazovne
            potrebe trenutnih i potencijalnih korisnika/ca na području općine Busovača i susjednih općina. U suradnji sa
            školama iz Busovače organizira aktivnosti namijenjene poticanju čitanja kod djece i odraslih, sudjeluje u
            cjeloživotnom obrazovanju, te građanima i građankama Busovače omogućava kvalitetno provođenje slobodnog
            vremena.
            <br><br>


            Nositelj kulturnih događanja na području općine Busovača svakako je i Bošnjačka zajednica kulture "Preporod"
            Busovača sa sjedištem u Kaćunima, osnovana je 10.04.2008. godine, kao neprofitna organizacija koja opstaje
            zahvaljujući volonterskom radu. Društvo djeluje kroz više sekcija: likovna sekcija , hor, sekcija vokalnih
            solista, dramska sekcija i folklorna sekcija koja je ujedno i najbrojnija. Od nedavno djeluje i Sekcija
            žena. Bošnjačka zajednica kulture "Preporod" Busovača - Kaćuni broji više od 200 aktivnih članova, te veliki
            broj simpatizera.
            <br><br>


            Kulturnom razvitku Busovače svakako umnogome doprinosi Organizacija ABF Uddevalla – Centar u Busovači koji
            je osnovan 2004. godine. Do danas kružoke informatike, engleskog, njemačkog, talijanskog jezika, krojenja i
            šivenja, prošlo je oko 2.000 polaznika. Ovaj Centar ima i svoj odjel u Kaćunima sa istim sadržajima, a ono
            što ga umnogome čini posebnim jeste činjenica da sami „proizvode“ svoje kadrove – vođe kružoka.Za rezultate
            postignute u kratkom periodu stiglo je i zasluženo priznanje. Odlukom Općinskog vijeća Busovača dana
            16.08.2007. godine, Organizaciji ABF Uddevalla – Centar u Busovači dodijeljena je Srebrena plaketa općine
            Busovača. Zasluga je to svih koji rade u ovom Centru, a ista ponajviše pripada gospodi: Irfan Rizvić,
            koordinator Centra, te vođe kružoka: Marija Relota, Emir Buljubašić, Slaven Katava (trenutačno i predsjednik
            Upravnog vijeća Centra), Nermana Deljkić, Mersiha Ekmeščić, Jasmina Imamović, Alma Hodžić, Jelena Kurevija,
            Zoran Borković, Josip Lukin, Predrag Husejnović, Sanela Hodžić, Nermana Solić....
            <br>
            Planovi za ubuduće odnose se na otvaranje novih odjela u svim većim mjestima sa ciljem približavanja usluga
            samim građanima, te proširenje usluga na održavanje tema interesantnih za našu sredinu.
            <br><br>


            Da nije slučajno dobila Zlatnu plaketu općine Busovača, Osnovna glazbena škola u Busovači utemeljena 1995.
            godine kao područni odjel Glazbene škole „Jakov Gotovac“ Novi Travnik, pokazali su njeni dosadašnji
            rezultati. U okviru škole postoje odsjeci za glasovir, gitaru, harmoniku i puhačke instrumente, a njeni
            polaznici su već nekoliko puta imali javne koncerte ozbiljne glazbe.
        </p>

    </div>


    <div class="other-articles-container">
        <app-side-news></app-side-news>
    </div>



</div>