<div class="container">  
    <form id="contact" (submit)="sendEmail($event)">
      <h3>OPĆINA BUSOVAČA</h3>
      <h4>Kontakt forma</h4>
      <fieldset>
        <input placeholder="Ime" type="text" tabindex="1" required autofocus  name="user_name" id="name">
      </fieldset>
      <fieldset>
        <input placeholder="Email" type="email" tabindex="2" required name="user_email" id="email">
      </fieldset>
      <fieldset>
        <input placeholder="Broj telefona" type="tel" tabindex="3" required name="phone_number">
      </fieldset>
      <fieldset>
        <textarea name="message" placeholder="Vaša poruka..." tabindex="5" required id="message"></textarea>
      </fieldset>
      <fieldset>
        <button name="submit" type="submit" id="contact-submit" data-submit="...Slanje">Pošalji</button>
      </fieldset>
      <fieldset>
        <button class="closeBtn" (click)="closeDialog()">Zatvori</button>
      </fieldset>
      <div class="success" *ngIf="success">
        <p>Poruka uspješno poslana.</p>
      </div>
    </form>
  
  </div>