<div class="nav-cont"></div>
<div class="admin-container">
    <div class="posts-container">
        <div class="post-container" *ngFor="let item of posts">
            <img src="{{item.selectedFile}}" alt="">
            <div class="titles-container">
                <h2>{{item.title}}</h2>
                <h3>{{item.subTitle}}</h3>
            </div>
            <div class="buttons-container">
                <button (click)="openDialog(item._id)">EDIT</button>
                <button (click)="deleteItem(item._id)">DELETE</button>
            </div>
        </div>
    </div>

    <div class="form-container">
        <div class="section-form">
            <form [formGroup] = "formdata" (ngSubmit) = "onClickSubmit(formdata.value)">
                <div class="intro">
                    <h1>Kreiranje novosti</h1>
                    <h2>Unesite novu novost putem forme ispod:</h2>
                </div>
                <input type="text" value="" placeholder="Naslov" name="title" tabindex="1" formControlName="title"/>
                <input type="text" value="" placeholder="Podnaslov" name="subTitle" tabindex="3" formControlName="subTitle"/>
                <input type="file" value="" (change)="handleUpload($event)" placeholder="slika" name="selectedFile" tabindex="2" formControlName="selectedFile"/>
                
                <input type="text" value="" placeholder="Tagovi - odvoji zarezom (npr: biznis,sport,poljoprivreda)" name="tags" formControlName="tags"/>
                <textarea placeholder="Glavni dio" name="Message" tabindex="5" rows="10" formControlName="body"></textarea>
                <input type="submit" value="Dodaj" tabindex="6" />
            </form>
        </div>
    </div>
</div>