<div class="main-container">
  <div class="links-container">
    <h2>Vezani linkovi:</h2>
    <a href="/o-opcini/o-nama">O nama<i class="fa fa-angle-right"></i></a>
    <hr class="horiz-line" style="width: 95%;">
    <a href="/o-opcini/historijat">Historijat<i class="fa fa-angle-right"></i></a>
    <hr class="horiz-line" style="width: 95%;">
    <a href="/o-opcini/geografija-i-demografija">Geografija i demografija<i class="fa fa-angle-right"></i></a>
    <hr class="horiz-line" style="width: 95%;">
    <a href="/o-opcini/socio-ekonomski-profit">Socio-ekonomski profil<i class="fa fa-angle-right"></i></a>
    <hr class="horiz-line" style="width: 95%;">
    <a href="/o-opcini/opcinski-nacelnik">Općinski načelnik<i class="fa fa-angle-right"></i></a>
    <hr class="horiz-line" style="width: 95%;">
    <a href="/o-opcini/javne-ustanove-i-preduzeca">Javna preduzeća i ustanove<i class="fa fa-angle-right"></i></a>
    <hr class="horiz-line" style="width: 95%;">
    <a href="/o-opcini/turizam">Turizam<i class="fa fa-angle-right"></i></a>
    <hr class="horiz-line" style="width: 95%;">
    <a href="/o-opcini/kultura">Kultura<i class="fa fa-angle-right"></i></a>
    <hr class="horiz-line" style="width: 95%;">
    <a href="/o-opcini/obrazovna-i-socijalna-infrastruktura">Obrazovna i socijalna infrastruktura<i class="fa fa-angle-right"></i></a>
    <hr class="horiz-line" style="width: 95%;">
    <a href="/o-opcini/sport">Sport<i class="fa fa-angle-right"></i></a>
    <hr class="horiz-line" style="width: 95%;">
    <a href="/o-opcini/nvo">NVO sektor<i class="fa fa-angle-right"></i></a>
    <hr class="horiz-line" style="width: 95%;">
    <a href="/o-opcini/mjesne-zajednice">Mjesne zajednice<i class="fa fa-angle-right"></i></a>
</div>






    <div class="content-container">
        <h2>Turizam</h2>
        <br>
        <div class="w3-content w3-display-container">

            <div class="w3-display-container mySlides">
              <img src="../../../../assets/img/turizam/1.jpg">
              <div class="w3-display-topright w3-small w3-container w3-padding-16 w3-black">
                1/9
              </div>
            </div>
            
            <div class="w3-display-container mySlides">
              <img src="../../../../assets/img/turizam/2.jpg">
              <div class="w3-display-topright w3-small w3-container w3-padding-16 w3-black">
                2/9
              </div>
            </div>
            
            <div class="w3-display-container mySlides">
              <img src="../../../../assets/img/turizam/9.jpg">
              <div class="w3-display-topright w3-small w3-container w3-padding-16 w3-black">
                3/9
              </div>
            </div>

            <div class="w3-display-container mySlides">
                <img src="../../../../assets/img/turizam/4.jpg">
                <div class="w3-display-topright w3-small w3-container w3-padding-16 w3-black">
                  4/9
                </div>
              </div>

              <div class="w3-display-container mySlides">
                <img src="../../../../assets/img/turizam/5.jpg">
                <div class="w3-display-topright w3-small w3-container w3-padding-16 w3-black">
                  5/9
                </div>
              </div>

              <div class="w3-display-container mySlides">
                <img src="../../../../assets/img/turizam/6.jpg">
                <div class="w3-display-topright w3-small w3-container w3-padding-16 w3-black">
                  6/9
                </div>
              </div>

              <div class="w3-display-container mySlides">
                <img src="../../../../assets/img/turizam/7.jpg">
                <div class="w3-display-topright w3-small w3-container w3-padding-16 w3-black">
                  7/9
                </div>
              </div>

              <div class="w3-display-container mySlides">
                <img src="../../../../assets/img/turizam/8.jpg">
                <div class="w3-display-topright w3-small w3-container w3-padding-16 w3-black">
                  8/9
                </div>
              </div>
              <div class="w3-display-container mySlides">
                <img src="../../../../assets/img/turizam/9.jpg">
                <div class="w3-display-topright w3-small w3-container w3-padding-16 w3-black">
                  9/9
                </div>
              </div>
        
        
              
             
              
            <button class="w3-button w3-display-left w3-black" (click)="plusDivs(-1)">&#10094;</button>
            <button class="w3-button w3-display-right w3-black" (click)="plusDivs(1)">&#10095;</button>
            
            </div>
       
        <br>
        <br>
        <p>
            U posljednje vrijeme Busovača postaje turistički interesantna destinacija i za goste iz različitih
            dijelova Bosne i Hercegovine. Bilo da ste planinar, biciklista, avanturista, ribar, ili ste zaljubljeni
            u zimske sportove, Busovača svakim danom nudi sve više sadržaja u kojima mogu uživati i djeca
            i odrasli. Tu se prije svega ističu Pridolci i Busovačka planina, ali i revir na rijeci Lašvi na
            Kaoniku, Hotel Tisa sa terenima za futsal i tenis, balon za futsal u Kaćunima, bogata
            ugostiteljska ponuda, ali i ponuda različitih kulturno-sportskih događaja.
            Mnogo je toga što samo od sebe ukazuje na činjenicu da bi Busovača uz jedan ozbiljan i
            organizovan pristup, mogla postati turističk interesantna destinacija i za one najprobirljivije
            klijente koji žude za korisnim i aktivnim „trošenjem“ slobodnog vremena koje se pokazalo
            kao najbolji recept za očuvanje zdravlja. Prije svega to su netaknute prirodne ljepote ovdašnjih
            planina i rijeka, sam geostrategijski položaj općine, ali i mnoge vrste tradicionalnih zanimanja,
            te uvijek izazovna ponuda sela koja još uvijek nije dovoljno izražena.
            Nekada je izletište Tisovac, nadomak središta općine Busovača, bilo mjesto gdje su dolazili
            mnogi gosti iz susjednih općina, željni odmora u blagodetima prirode. Danas je Tisovac veoma
            često svratište onih koji žude nekim novim turističkim i rekreativnim sadržajima na malo
            udaljenijim lokalitetima.
            <br><br>
            U ovom trenutku može se konstatovati da su zimski i ljetni turizam na ovim prostorima u
            ekspanziji, zahvaljujući prije svega izuzetno atraktivnim lokalitetima Pridolci i Busovačka
            planina. SRC &quot;Pridolci&quot; je smješten na oko 1200 m.n.v. Tu se nalazi ski staza dužine oko 1200 m
            a širine od 20 do 50 metara kao i ski lift sa sidrima i mali baby l. Busovačka planina se nalazi
            iznad grada Busovača. Pravi je izazov za korisnu potrošnju slobodnog vremena, kako zbog svoje
            izrazite izoliranosti, tako i zbog ugodne klime. Ima ski stazu u duzini 800m - početak na
            nadmorskoj visini 1500 metara, kraj na nadmorskoj visini 1640 metara.
            Kada je riječ o Pridolcima i Busovačkoj planini Općina Busovača dugoročno ima plan ove dvije
            zimske i ljetne ljepotice pretvoriti u ozbiljne sportsko – rekreacione centre, a već sada je mnogo
            toga urađeno što privlači na hiljade lokalnih, ali i turista iz susjednih općina i cijele Bosne i
            Hercegovine.
            <br><br>
            Kako su oduvijek važni putevi vodili baš kroz Busovaču, tako se stvorila i višedecenijska
            tradicija dobrih restorana i kvalitetne kuhinje, a na tragu te iste tradicije na području općine
            Busovača i danas možemo naći najbolje pečenje, ali i mnogobrojne druge specijalitete. Restorani
            „Sarajlić“, „Manes“, „kod Fehre“, „Oaza“, „Sunce“, koji se nalaze uz magistralni put, mjesta su
            gdje svakodnevno svraćaju i turisti, ali i putnici namjernici, šoferi i svi oni koji svoj predah
            planiraju baš za ovo područje jer i sami znaju da su specijaliteti sa ovih krajeva oni o kojima se
            priča i gdje se uvijek iznova dolazi.
            U samom gradu Busovača također je ugostiteljska ponuda uvijek na visokom nivou. Restorani
            „Party“, „Venecija“, „Oskar“ i mnogi drugi, mjesta su koja će i najvećim gurmanima izmamiti
            osmijeh na lice. U Busovači se nalazi i jedan od ljepših svadbenih salona u Centralnoj BiH –
            Svadbeni salon Party, ali i hotel „Tisa“ sa pratećom infrastrukturom.
            <br><br>
            Putnici, turisti, ali i domaće stanovništvo u Busovači mogu da posjete i vide nadgrobne
            spomenike stećke koji svjedoče o historijskom bogatstvu Busovače, kao mjestu gdje su se
            oduvijek susretale različite kulture, tradicije i običaji.
            U naselju Donje Krčevine, na lokalitetu Ravan kod sela Hozanovići, u naselju Dobraljevo, te u
            naseljenom mjestu Ravan nalaze se nekropole sa većim brojem stećaka, koji su uglavnom u
            obliku sanduka, a manji broj u obliku sljemenjaka.
            <br><br>
            <strong>Vjerski turizam</strong>
            <br><br>
            Jedan od značajnijih događaja koji ovom gradu daje posebnu čar je proslava blagdana svetoga
            Ante. 13. juna svake godine grad je preplavljen kako domaćim, tako i stanovništvom iz drugih
            gradova. Neki čak dolaze iz inozemstva samo da bi u Busovači proslavili Svetoga Antu.
            Obilježavanje Svetog Ante u Busovači je oduvijek bila prilika da u Busovaču dođu vjernici,
            turisti, ali i zabavljači iz cijelog regiona, pa su tako Busovaču kroz vrijeme posjećivali najbolji
            gutači vatre, madžioničari, muzičari, ali i mnogobrojni turisti iz cijele Bosne i Hercegovine i
            regiona.
            <br><br>
             Tekija u Kaćunima najveća je građevina takve vrste na Balkanu.. Podijeljena je na tri dijela,
            tačnije tri sprata, a na svakom je zasebna ustanova: privatna klinika Hadžimejlić, opremljena
            najsavremenijom opremom, hastahana Mesudija, centar u kojemu je naglasak stavljen na
            odvikavanje od poroka, kao i na liječenje duševnih bolesti, i na samom vrhu tekija kao mjesto za
            sve koji žele uputiti dove Bogu. Dan tekije obilježava se s prvim danom proljeća, 21. marta, i
            tada se okupi više hiljada vjernika.
        </p>
    </div>


    <div class="other-articles-container">
        <app-side-news></app-side-news>
    </div>



</div>