
.translate-titles{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.modal-container {
	width: auto;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: scroll;
}

.modal-container h1 {
	font-size: 2rem;
}

.single-row{
	width: 100%;
	display: flex;
}

.form-container {
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: auto;
	flex-direction: column;
}

.top-form {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: #292E43;
}

.top-form p {
	padding: 10px;
}
.top-form h1{
	padding: 10px;
}

.example-form {
	padding: 20px;
	min-width: 200px;
	max-width: 700px;
	width: 100%;
	border-radius: 20px;
}

.example-full-width {
	width: 100%;
}

td {
	padding-right: 8px;
}

.btn-container {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
}


form {
	padding: 20px 20px;
	border: 4px solid #f1f1f1;
}

input[type=text] {
	width: 100%;
	padding: 16px 8px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid rgb(0, 0, 0, 0.1);
	border-radius: 5px;
	box-sizing: border-box;
}

input[type=textarea] {
	width: 100%;
	padding: 10px 10px 120px 8px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid rgb(0, 0, 0, 0.1);
	border-radius: 5px;
	box-sizing: border-box;
}
textarea{
	width: 100%;
	padding: 10px 10px 10px 8px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid rgb(0, 0, 0, 0.1);
	border-radius: 5px;
	box-sizing: border-box;
}

button {
	background-color: #292E43;
	color: white;
	padding: 14px 0;
	border: none;
	cursor: pointer;
	width: 50%;
	border-radius: 5px;
	font-weight: 500;
	text-transform: uppercase;
	transition: 0.5s;
}
.send-btn{
	background-color: #85D7DB;
	border: 1px solid white;
	color: white;
}

.send-btn:hover {
	background-color: #a8ecf0;
	color: white;
}
.close-btn:hover{
	background-color: #343b53;
}

.close-btn {
	margin-right: 20px;
}

.errors-container {
	width: 100%;
	margin: 0 auto;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	color: crimson;
	font-weight: bold;
}

.success_container {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 2px solid rgb(50, 124, 50);
	;
}

.closed {
	display: none;
}

.success {
	margin: 10px;
	color: rgb(50, 124, 50);
}

.success_close {
	cursor: pointer;
	margin: 10px;
	padding: 5px;
	color:rgb(50, 124, 50);
}

#contact_us {
	display: none;
}
@media only screen and (max-width: 1500px) {
	.modal-container h1 {
		font-size: 2rem;
	}
}

@media only screen and (max-width: 1330px) {
	.top-form {
		height: auto;
		flex-direction: column;
		text-align: center;
		justify-content: space-evenly;
	}
	.top-form img {
		transform: rotate(90deg);

	}
}


@media only screen and (max-width: 1050px) {
	.modal-container {
		width: 70vw;
		height: 80vh;
	}
	.top-form img {
		display: none;
	}
}

@media only screen and (max-width: 800px) {


	.contact-info-container {
		height: 500px;
		flex-direction: column;
		font-size: 14px;
	}

	.phones-container {
		width: 60%;
	}

	.address-container {
		width: 60%;
	}

	.email-container {
		width: 60%;
	}

	.modal-container h1 {
		font-size: 2rem;
	}

	.top-form p {
		padding: 0;
	}
	.close-btn {
		margin-right: 5px;
	}
}

@media only screen and (max-width: 600px) {
	.contact-text {
		font-size: 15px;
	}

	.top-form {
		font-size: 13px;
	}

	.contact-info-container {
		height: 500px;
		flex-direction: column;
		font-size: 12px;
	}

	.phones-container {
		width: 60%;
	}

	.address-container {
		width: 60%;
	}

	.email-container {
		width: 60%;
	}

	.errors-container {
		font-size: 0.5rem;
		padding: 0;
	}

	.success_container {
		font-size: 0.5rem;
	}
}

@media only screen and (max-width: 420px) {
	.modal-container h1 {
		font-size: 1.7rem;
	}

	.top-form img {
		display: none;
	}

	button {
		font-size: 0.6rem;
		font-weight: 400;
	}

}