<div class="modal-container">
    <div class="form-container">
        <div class="top-form">
            <h3>Dodavanje servisne informacije</h3>
        </div>
    
        <div class="contact-container">
    
          <div class="contact-description">
              <form class="contact-form" [formGroup] = "formdata" (ngSubmit) = "onClickSubmit(formdata.value)">
                <h5>BS</h5>
                    <input
                    type="text"  placeholder="Naslov BS" name="title" tabindex="1" formControlName="title" 
                    />
                    <textarea placeholder="Tekst BS" name="Message" tabindex="5" rows="10" formControlName="body"></textarea>
                    <br><br>
                    <h5>HR</h5>
                    <input
                    type="text"  placeholder="Naslov HR" name="title" tabindex="1" formControlName="titleHR" 
                    />
        
               
                  
                    <textarea placeholder="Tekst HR" name="Message" tabindex="5" rows="10" formControlName="bodyHR"></textarea>
  
              
                  

                  <div class="btn-container">

                    <button class="send-btn" type="submit" value="Dodaj">Dodaj</button>
                    <button class="close-btn" value="CLOSE" type="button" (click)="closeDialog()">Zatvori</button>
                </div> 
              </form>
           
          </div>
    
      </div>
    </div>
</div>
