<div class="main-container">
    <div class="links-container">
        <h2>Vezani linkovi:</h2>
        <a href="/o-opcini/o-nama">O nama<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/o-opcini/historijat">{{ 'historijat_naslov' | translate }}<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/o-opcini/geografija-i-demografija">{{ 'geo_demo_naslov' | translate }}<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/o-opcini/socio-ekonomski-profit">Socio-ekonomski profil<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/o-opcini/opcinski-nacelnik">Općinski načelnik<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/o-opcini/javne-ustanove-i-preduzeca">{{ 'javna_naslov' | translate }}<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/o-opcini/turizam">Turizam<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/o-opcini/kultura">Kultura<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/o-opcini/privreda">{{ 'privreda_naslov' | translate }}<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/o-opcini/obrazovna-i-socijalna-infrastruktura">Obrazovna i socijalna infrastruktura<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/o-opcini/sport">{{ 'sport_naslov' | translate }}<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/o-opcini/nvo">NVO sektor<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/o-opcini/mjesne-zajednice">Mjesne zajednice<i class="fa fa-angle-right"></i></a>
    </div>







    <div class="content-container">
        <h2>Mjesne zajednice</h2>
        <br>
        <br>
        <p>
            Na području Općine osnivaju se mjesne zajednice kao obavezan oblik mjesne samouprave putem kojih građani
            sudjeluju u odlučivanju o poslovima iz samoupravnog djelokruga i lokalnim poslovima koji neposredno i
            svakodnevno utječu na njihov život i rad.
            <br>
            <br>
            Mjesnu zajednicu osniva Općinsko vijeće odlukom.Mjesna zajednica se osniva za jedno naseljeno mjesto, više
            međusobno povezanih manje naseljenih mjesta ili za veći dio naselja koji u odnosu na ostale dijelove naselja
            čini prostornu i urbanu cijelinu.
            <br>
            <br>
            Inicijativu, odnosno prijedlog za osnivanje mjesne zajednice mogu pokrenuti građani i njihove organizacije i
            udruženja sa područja naseljenog mjesta na kojem imaju prebivalište odnosno sjedište, Općisnki načelnik i
            Općinsko vijeće putem svojih vijećnika. Ako građani podnose prijedlog odnosno inicijativu, svojim potpisom
            mora ga podržati najmanje deset posto (10%) birača upisanih u centralni birački spisak sa područja za koje
            se predlaže osnivanje mjesne zajednice. Osim podataka o podmosiocu inicijative ili predlagaču za osnivanje
            mjesne zajednice, prijedlog sadrži podatke o:
            - nazivu i sjedištu mjesne zajednice,
            - područje naseljenog mejsta za koje se traći osnivanje mjesne zajednice, i
            - obrazložen razlog podnošenja prijedloga odnosno inicijative.
            Uz inicijativu i prijedlog za osnivanje mjesne zajednice dostavlja se Općisnkom vijeću, ako ono nije
            predlagač, i nacrt statuta mjesne zajednice. Ako Općinsko vijeće prihvati inicijativu, odnosno prijedlog,
            zadužit će nadležnu službu Općine da pripremi prijedlog odluke o osnivanju mjesne zajednice.
            <br>
            <br>
            Mjesna zajednica ima svojstvo pravnog lica. Mjesna zajednica se upisuje u registar mjesnih zajendica koji
            vodi nadležna služba Općine. Mjesna zajednica ima Statut. Statutom mjesne zajednice utvrđuju se; poslovi i
            organizacija mjesne zajednice, organi mjesne zajednice, radna tijela, način njihovog rada i odlučivanja,
            javnost rada i informisanja, saradnja sa općinskim i drugim organima i organizacijama i druga pitanja od
            značaja za rad mjesne zajednice.
            <br>
            <br>
            Organi mjesne zajednice su:
            1. savjet mjesne zajednice,
            2. predsjednik mjesne zajednice.
            <br>
            <br>
            Organi mjesne zajednice imaju ovlaštenja i odgovornosti utvrđene Statutom mjesne zajednice. Organih mjesne
            zajednice mogu davati inicijative o pitanjima iz nadležnosti mjesne zajednice, Općine i instutucija koje
            vrše javna ovlaštenja.
            <br>
            <br>
            Savjet mjesne zajednice je organ odlučivanja i konsultovanja o pitanjima od neposrednog interesa za građane
            mjesne zajednice. Prije donošenja odluke iz svoje nadležnosti, savjet mjesne zajednice je dužan konsultovati
            zbor građana mjesne zajednice o pitanjima utvrđenim stututom mjesne zajednice. Savjet mjesne zajednice
            biraju građani s područja mjesne zajednice koji imaju opće biračko pravo. Članovi savjeta mjesne zajednice
            biraju se neposredno na zboru, odnosno, tajnim glasanjem na način i po postupku utvrđenim odlukom Općinskog
            vijeća. Mjesni zbor građana može punovažno odlučivati ako je prisutna jedna desetina građana. Rezultate
            izbora za članove Savjeta mjesne zajednice potvrđuje Općinsko vijeće. Izbori za članove savjeta mjesne
            zajednice održavaju se u pravilu istovremeno u svim mjesnim zajednicama, u roku od 3 (tri) do 6 (šest)
            mjeseci nakon održanih lokalnih izbora. Mandat članova savjeta mjesne zajednice traje četiri godine. Savjet
            mjesnih zajednica za svoj rad odgovora Općisnkom vijeću i u tom cilju obavezno mu podnosi godišnji izvještaj
            o svom radu.
            <br>
            <br>
            Kandidat sa liste za izbor članova Savjeta mjesne zajednice sa najvećim brojem osvojenih glasova je
            predsjednik mjesne zajednice i po funkciji je predsjednik Savjeta mjesne zajednice. Savjet mjesne zajednice
            iz svog sastava bira većinom glasova svih članova zamjenika predsjednika Savjeta mjesne zajednice.
            Predsjdenik mjesne zajednice i član Savjeta može biti opozvan po postupku i na način utvrđen Statutom mjesne
            zajednice. Funkcije predsjednika i članova Savjeta mjesne zajednice su počasne. Predsjednik Savjeta mjesne
            zajednice odgovora za svoj rad građanima i Savjetu mjesne zajednice. Zbor građana saziva se za dio područja
            mjesne zajednice koji čini određenu cjelinu (naselje, di naselja, stambeni bloki slično), a što se određuje
            Statutom mjesne zajednice. Zbor građana vodi predsjednik Savjeta mjesne zajednice ili njegov zamjenik.
        </p>
        <p><br>
        </p>
        <br>
        <strong>Pregled registrovanih mjesnih zajednica na području Općine Busovača</strong>
        <br><br>
        <table>
            <thead>
                <tr>
                    <th><strong> R.B.</strong></th>
                    <th style="width: 20%;"><strong>Naziv MZ<br>
                        </strong></th>
                    <th style="width: 20%;"><strong>Naseljena mjesta<br>
                        </strong></th>
                    <th style="width: 20%;"><strong>Predsjednik MZ</strong></th>
                    <th><strong>Adresa</strong></th>
                    <th style="width: 20%;"><strong>Telefon</strong></th>
                </tr>
            </thead>
            <tbody>
               

                <tr>
                    <td> 1.</td>
                    <td><strong>MZ Putiš</strong><br>
                    </td>
                    <td> Putiš, Jelinak, Grablje<br>
                    </td>
                    <td><strong>Nezir Bulut<br>
                        </strong></td>
                    <td>Jelinak bb<br>
                    </td>
                    <td>062/288-931<br>
                    </td>
                   
                </tr>

                <tr>
                    <td> 2.</td>
                    <td><strong>MZ Merdani<br>
                        </strong></td>
                    <td>Meradni, Katići<br>
                    </td>
                    <td><strong>Izudin Neslanović<br>
                        </strong></td>
                    <td>Merdani bb<br>
                    </td>
                    <td>063/707-016<br>
                    </td>
                   
                </tr>

                <tr>
                    <td> 3.</td>
                    <td><strong>MZ Kaonik<br>
                        </strong></td>
                    <td>Kaonik, Granice, Strane, Lončari, Podjele, Skradno (dio)<br>
                    </td>
                    <td><strong>Josip Marić<br>
                        </strong></td>
                    <td>Podjele bb<br>
                    </td>
                    <td>
                        <p>063/992-898</p>
                    </td>
                   
                </tr>

                <tr>
                    <td> 4.</td>
                    <td><strong>MZ Bare<br>
                        </strong></td>
                    <td>Jazvine, Bare<br>
                    </td>
                    <td><strong>Marko Šantić<br>
                        </strong></td>
                    <td> Bare bb<br>
                    </td>
                    <td>063/156-824<br>
                    </td>
                   
                </tr>

                <tr>
                    <td> 5.</td>
                    <td><strong>MZ Hrasno<br>
                        </strong></td>
                    <td>Hrasno, Donja Rovna<br>
                    </td>
                    <td><strong>Boro Vujica<br>
                        </strong></td>
                    <td>Hrasno bb<br>
                    </td>
                    <td>063/004-657<br>
                    </td>
                   
                </tr>

                <tr>
                    <td> 6.</td>
                    <td><strong>MZ Gornja Rovna<br>
                        </strong></td>
                    <td>Gornja Rovna, Kovačevac<br>
                    </td>
                    <td><strong>Muamer Sivro</strong></td>
                    <td>G. Rovna bb<br>
                    </td>
                    <td>061/930-767<br>
                    </td>
                   
                </tr>

                <tr>
                    <td> 7.</td>
                    <td><strong>MZ Buselji<br>
                        </strong></td>
                    <td>Buselji<br>
                    </td>
                    <td><strong>Anđelko Tomičić<br>
                        </strong></td>
                    <td>Buselji bb<br>
                    </td>
                    <td>063/338-840<br>
                    </td>
                   
                </tr>

                <tr>
                    <td>8.<br>
                    </td>
                    <td><strong>MZ "Ivančica"<br>
                        </strong></td>
                    <td>Ravan, Kupres<br>
                    </td>
                    <td><strong>Zoran Smoljo<br>
                        </strong></td>
                    <td>Kupres bb<br>
                    </td>
                    <td>063/811-909</td>
                   
                </tr>

                <tr>
                    <td> 9.</td>
                    <td><strong>MZ Carica<br>
                        </strong></td>
                    <td>Carica<br>
                    </td>
                    <td><strong>Vinko Batinić<br>
                        </strong></td>
                    <td>Carica bb<br>
                    </td>
                    <td>063/486-347</td>
                   
                </tr>

                <tr>
                    <td> 10.</td>
                    <td><strong>MZ Kula - Skradno<br>
                        </strong></td>
                    <td>Kula, Skradno (dio)<br>
                    </td>
                    <td><strong>Miroslav Relota<br>
                        </strong></td>
                    <td>Kula bb<br>
                    </td>
                    <td>063/469-749</td>
                   
                </tr>

                <tr>
                    <td> 11.</td>
                    <td><strong>MZ Luka<br>
                        </strong></td>
                    <td>Naselje Luka<br>
                    </td>
                    <td><strong>Milenko Kokić</strong><br>
                    </td>
                    <td>Luka bb<br>
                    </td>
                    <td>063/823-028</td>
                   
                </tr>

                <tr>
                    <td> 12.</td>
                    <td><strong>MZ Busovača I<br>
                        </strong></td>
                    <td>dio n.m. Busovača<br>
                    </td>
                    <td><strong>Drago Milinović<br>
                        </strong></td>
                    <td>Tisovačka bb<br>
                    </td>
                    <td>063/426-915<br>
                    </td>
                   
                </tr>

                <tr>
                    <td> 13.</td>
                    <td><strong>MZ Busovača II<br>
                        </strong></td>
                    <td>dio.n.m. Busovača<br>
                    </td>
                    <td><strong>Marko Sučić<br>
                        </strong></td>
                    <td>N.Š. Zrinski bb<br>
                    </td>
                    <td>063/999-221<br>
                    </td>
                   
                </tr>

                <tr>
                    <td> 14.</td>
                    <td><strong>GMZ Busovača<br>
                        </strong></td>
                    <td>dio n.m. Busovača</td>
                    <td><strong>Ivica Tomičić</strong><br>
                    </td>
                    <td>Branitelja domovine<br>
                    </td>
                    <td> 063/364-532</td>
                   
                </tr>

                <tr>
                    <td> 15.</td>
                    <td><strong>MZ Solakovići<br>
                        </strong></td>
                    <td>Solakovići <br>
                    </td>
                    <td><strong>Vjekoslav Šušnja</strong></td>
                    <td>Solakovići bb<br>
                    </td>
                    <td>063/333-495</td>
                   
                </tr>

                <tr>
                    <td> 16.</td>
                    <td><strong>MZ Polje <br>
                        </strong></td>
                    <td>Polje, Prosje<br>
                    </td>
                    <td><strong>Josip Pleić<br>
                        </strong></td>
                    <td>Polje bb<br>
                    </td>
                    <td>063/364-719<br>
                    </td>
                   
                </tr>

                <tr>
                    <td> 17.</td>
                    <td><strong>MZ Kaćuni<br>
                        </strong></td>
                    <td>Kaćuni, Podstijena, Bukovci, Nezirovići, Milavice, Krvavčići, Mehurići<br>
                    </td>
                    <td><strong>Enes Mekić<br>
                        </strong></td>
                    <td>Silos bb<br>
                    </td>
                    <td>061/182-998<br>
                    </td>
                   
                </tr>

                <tr>
                    <td> 18.</td>
                    <td><strong>MZ Lugovi<br>
                        </strong></td>
                    <td>Zarače, Dolac, Turići, Dobraljevo, Hozanovići, Mihaljevići, Stubica, Šudine, Javor, Podbare<br>
                    </td>
                    <td><strong>Edin Hajdarević</strong><br>
                    </td>
                    <td>Mihaljevići bb<br>
                    </td>
                    <td>062/448-607<br>
                    </td>
                   
                </tr>

                <tr>
                    <td> 19.</td>
                    <td><strong>MZ Gusti Grab<br>
                        </strong></td>
                    <td>Gusti Grab, Oselište<br>
                    </td>
                    <td><strong>Slavko Batista<br>
                        </strong></td>
                    <td>Gusti Grab bb<br>
                    </td>
                    <td> 063/481-508<br>
                    </td>
                   
                </tr>

                <tr>
                    <td> 20.<br>
                    </td>
                    <td><strong>MZ Juričeve Bare</strong></td>
                    <td> Naselje Juričeve Bare</td>
                    <td><strong>Josip Krišto<br>
                        </strong></td>
                    <td>Juričive Bare bb<br>
                    </td>
                    <td>063/246-975<br>
                    </td>
                   
                </tr>

                <tr>
                    <td> 21.</td>
                    <td><strong>MZ Krčevine-Kula</strong><br>
                    </td>
                    <td>Krčevine, dio n.m. Kula<br>
                    </td>
                    <td><strong>Marko Milić</strong><br>
                    </td>
                    <td>Krčevine bb<br>
                    </td>
                    <td>063/879-031<br>
                    </td>
                   
                </tr>

                <tr>
                    <td> 22.</td>
                    <td><strong>MZ Bukovci</strong><br>
                    </td>
                    <td> Bukovci</td>
                    <td><strong>Ušmer Karaula</strong></td>
                    <td>Bukovci bb<br>
                    </td>
                    <td>061/787-719</td>
                   
                </tr>

            </tbody>
        </table>

        <p><br>
        </p>

    </div>


    <div class="other-articles-container">
        <app-side-news></app-side-news>
    </div>



</div>