

.main-container{
    width: 100%;
    height: auto;
    margin: 30px 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
}
.links-container{
    width: 20%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    flex-direction: column;

}
.links-container h2{
    font-weight: 500;
    margin-bottom: 5px;
}

.links-container a{
    color: rgb(90, 90, 90);
    margin: 10px 0px;
    font-weight: 400;
    transition: 0.2s;
    cursor: pointer;
}
.links-container a:hover{
    color: rgb(31, 31, 31);
}
.links-container a:hover i{
    margin-left: 8px;
}
.horiz-line{
    border-color: rgba(209, 209, 209, 0.3);
}
.links-container i{
    transition: 0.2s;
    margin-left: 6px;
}

.photo-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 1rem;
    margin: 0 auto;
    padding: 2rem 1rem;
    width: 100%;
  }
  .loader {
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #a87205; /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
.pagination-container{
  margin-top: 50px;
}


ul {
  position: relative;
  background: #fff;
  display: flex;
  padding: 2px 10px;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}


ul li {
  list-style: none;
  line-height: 50px;
  margin: 0 5px;
}

ul li.pageNumber {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}

ul li a {
  display: block;
  text-decoration: none;
  color: #383838;
  font-weight: 500;
  border-radius: 50%;
}

ul li.pageNumber:hover a,
ul li.pageNumber.active a {
  background: #383838;
  color: #fff;
}

ul li:first-child {
  margin-right: 30px;
  font-weight: 700;
  font-size: 15px;
}

ul li:last-child {
  margin-left: 30px;
  font-weight: 700;
  font-size: 15px;
}

  .card {
    padding: 1rem;
    border-radius: 4px;
    background-color: #fff;
    transition: transform 300ms ease-in;
    box-shadow: 
      0 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
  }
  
  .card:focus {
    outline: 2px solid #1D4ED8; 
  }
  
  .card-wrapper {
    position: relative;
    overflow: hidden;
  }
  
  img {
    display: block;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: bottom;
    border-radius: 3px;
    transform: scale(1.1);
    transition: transform 500ms linear;
  }
  
  .card-wrapper:hover img {
    transform: scale(1.15);
  }
  
  .hidden-cover {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleY(0);
    transition: transform 250ms ease-in;
    background: linear-gradient(transparent 5%, hsl(0, 0%, 5%, 0.6));
    transform-origin: top;
    will-change: transform;
  }
  
  .card-wrapper:hover .hidden-cover {
    transform: scaleY(1);
  }
  
  h4 {
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 2rem;
    font-size: 2rem;
    padding: 0.3rem 0.8rem;
    border-radius: 4px;
    overflow: hidden;
    font-family: "Oswald";
    color: hsl(0, 0%, 100%);
    text-transform: uppercase;
    letter-spacing: 2px;
    transform: translateY(100%);
    transform-origin: bottom;
    transition: transform 250ms ease-out;
    will-change: transform;
  }
  
  .card-wrapper:hover h4 {
    transform: translateY(-2rem);
  }


.content-container{

    width: 45%;
    min-height: 100vh;
    height: auto;
    border-right: 1px solid rgb(187, 187, 187);
    border-left: 1px solid rgb(187, 187, 187);
    padding: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.content-container p{
    width: 95%;
    text-align: justify;
    font-size: 15px;
}

.content-container img{
    max-width: 95%;
}
.other-articles-container{
  width: 20%;
  min-height: 100vh;
  height: auto;
  padding: 20px;
}
.other-articles-container h2{
    margin-bottom: 15px;
}

.inner-news-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}
.news-box{
    margin-bottom: 50px;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
.news-box img{
    max-width: 70%;
}
.inner-news-box{
    width: 90%;
    height: 30%;
    margin-top: 5px;
}
.inner-news-box h4{
    font-weight: 400;
}
.inner-news-box h3{
    font-weight: 600;
    margin: 5px 0;
}
.newsDate{
    color: #606063;
}
.newsSubTitle{
    color: #af7f1e;
}

table {
    overflow-x: auto;
    display: block;
    width: 95%;
    border-right-color: #ffffff;
    font-size: 16px;
    /* /* border: 1px solid #343a40; */
    border-collapse: collapse; 
    table-layout:fixed;
  }
  
  th, td {
    /* border: 1px solid #343a40; */
    padding: 16px 24px;
    text-align: left;
  }

  th {
    background-color: #087f5b;
    color: #fff;
    width: 25%;
  }

  tbody tr:nth-child(odd){
    background-color: #f8f9fa;
  }

  
  tbody tr:nth-child(even){
    background-color: #e9ecef;
  }
  .tablemobile {
    overflow-x: auto;
    display: block;
}



/*responsiveness*/

@media only screen and (max-width: 950px) {
    h2{
        font-size: 18px;
    }
    h3{
        font-size: 15px;
    }
}
@media only screen and (max-width: 850px) {
    .main-container{
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .content-container{

        width: 95%;
        min-height: 100vh;
        height: auto;
        border: none;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        order: 1;
    }
    .links-container{
        width: 95%;
        height: auto;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 20px;
        flex-direction: column;
        order: 2;
        border-top: 1px solid rgb(187, 187, 187)
    
    }
    .other-articles-container{
        width: 95%;
        height: auto;
        padding: 20px;
        order: 3;
        border-top: 1px solid rgb(187, 187, 187);
    }
  
}





