<div *ngIf="loaderService.isLoading | async" class="loader-container">
  <mat-spinner style="top: 50%; left: 50%;"></mat-spinner>
</div>
<div class="carousel-container">
  <owl-carousel-o id="carousel" [options]="customOptions">
    <ng-template carouselSlide *ngFor="let item of headerPosts">
      <div class="slide">
        <div class="inner-content-container">
          <div class="inner-box">
              <h3>{{item.subTitle}}</h3>
              <h1>{{item.title}}</h1>
              <p (click)="openArticle(item._id)">Saznaj vise</p>
          </div>
        </div>
        <div class="img-container">
          <img src="{{item.selectedFile}}" alt="">
        </div>
      
      </div>
    </ng-template>
  </owl-carousel-o>
</div>

<div class="news-titles-container">
  <div class="inner-titles-container">
    <h2>Izdvojeni članci</h2>
    <h3>Sve novosti</h3>
  </div>
  
</div>
  <div class="news-container">
    	<div class="inner-news-container">
        
          <div class="news-box" *ngFor="let newsItem of news" (click)="openArticle(newsItem._id)">
            <img src="{{newsItem.selectedFile}}" alt="" >
            <div class="inner-news-box">
              <p class="newsSubTitle">{{newsItem.subTitle}}</p>
              <h3>{{newsItem.title}}</h3>
              <p class="newsDate">Datum objave: 29.03.2021</p>
            </div>
    
          </div>
      
        
      </div>
  </div>
  <app-servis-nabavke></app-servis-nabavke>
  <app-javne-ustanove></app-javne-ustanove>

  <app-counter></app-counter>


