<div *ngIf="loaderService.isLoading | async" class="loader-container">
  <mat-spinner style="top: 50%; left: 50%;"></mat-spinner>
</div>
<div class="main-container">
  <div class="links-container">
    <h2>Vezani linkovi:</h2>
    <a href="/o-opcini/opcinski-nacelnik">Općinski načelnik<i class="fa fa-angle-right"></i></a>
    <hr class="horiz-line" style="width: 95%;">
    <a href="/vijecnici">Općinski vijećnici<i class="fa fa-angle-right"></i></a>
    <hr class="horiz-line" style="width: 95%;">
    <a href="/">Službeni glasnik<i class="fa fa-angle-right"></i></a>
    <hr class="horiz-line" style="width: 95%;">
    <a href="/sluzbe-uprave">Službe uprave<i class="fa fa-angle-right"></i></a>
    <hr class="horiz-line" style="width: 95%;">
    <a href="/aktuelnosti/page/1">Aktuelnosti<i class="fa fa-angle-right"></i></a>
    <hr class="horiz-line" style="width: 95%;">
    <a href="/dokumenti">Dokumenti<i class="fa fa-angle-right"></i></a>
    <hr class="horiz-line" style="width: 95%;">
    <a href="/dokumenti-i-zakljucci">Dokumenti i zaključci OV<i class="fa fa-angle-right"></i></a>
    <hr class="horiz-line" style="width: 95%;">
    <a href="/radna-tijela-povjerenstva">Radna tijela i povjerenstva<i class="fa fa-angle-right"></i></a>
    <hr class="horiz-line" style="width: 95%;">
    <a href="/obrasci">Obrasci<i class="fa fa-angle-right"></i></a>
    <hr class="horiz-line" style="width: 95%;">
    <a href="/fotogalerija">Fotogalerija<i class="fa fa-angle-right"></i></a>
    <hr class="horiz-line" style="width: 95%;">
</div>






    <div class="content-container">
       
        <form action="" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
            <input (input)="onSearchChange($event.target.value)"  formControlName="searchBox" type="text" placeholder="Pretraga novosti.." name="search" minlength="5">
            <button type="submit">Traži</button>
          </form>
          <p *ngIf="warning">Unesite više od 4 karaktera.</p>
          <div class="filtered-content">
           
                <div class="news-container" *ngFor="let news of filteredNews" routerLink="/clanak/{{news._id}}">
                  <div class="img-container">
                      <img src="{{news.selectedFile}}" alt="">
                  </div>
                  <div class="text-container">
                      <h4>{{news.subTitle}}</h4>
                      <h2>{{news.title}}</h2>
                      <p>{{news.createdAt}}</p>
                  </div>
                </div>
              <p *ngIf="noResult">Nema rezultata pretrage.</p>
          </div>
          <div class="pagination-container">
            <ul class="pagination">
                <li><a (click)="previousPage()" class="prev">< Nazad </a></li>
                <li><a (click)="nextPage()" class="next">Sljedeća ></a></li>
              </ul>
          </div>
    </div>





    <div class="other-articles-container">
        <app-side-news></app-side-news>
    </div>
</div>