
<div class="main-container">
  <div class="links-container">
    <h2>Vezani linkovi:</h2>
    <a href="/o-opcini/o-nama">O nama<i class="fa fa-angle-right"></i></a>
    <hr class="horiz-line" style="width: 95%;">
    <a href="/o-opcini/historijat">Historijat<i class="fa fa-angle-right"></i></a>
    <hr class="horiz-line" style="width: 95%;">
    <a href="/o-opcini/socio-ekonomski-profit">Socio-ekonomski profit<i class="fa fa-angle-right"></i></a>
    <hr class="horiz-line" style="width: 95%;">
    <a href="/o-opcini/opcinski-nacelnik">Općinski načelnik<i class="fa fa-angle-right"></i></a>
    <hr class="horiz-line" style="width: 95%;">
    <a href="/o-opcini/javne-ustanove-i-preduzeca">Javna preduzeća i ustanove<i class="fa fa-angle-right"></i></a>
    <hr class="horiz-line" style="width: 95%;">
    <a href="/o-opcini/turizam">Turizam<i class="fa fa-angle-right"></i></a>
    <hr class="horiz-line" style="width: 95%;">
    <a href="/o-opcini/kultura">Kultura<i class="fa fa-angle-right"></i></a>
    <hr class="horiz-line" style="width: 95%;">
    <a href="/o-opcini/obrazovna-i-socijalna-infrastruktura">Obrazovna i socijalna infrastruktura<i class="fa fa-angle-right"></i></a>
    <hr class="horiz-line" style="width: 95%;">
    <a href="/o-opcini/sport">Sport<i class="fa fa-angle-right"></i></a>
    <hr class="horiz-line" style="width: 95%;">
    <a href="/o-opcini/nvo">NVO sektor<i class="fa fa-angle-right"></i></a>
    <hr class="horiz-line" style="width: 95%;">
    <a href="/o-opcini/mjesne-zajednice">Mjesne zajednice<i class="fa fa-angle-right"></i></a>
</div>






    <div class="content-container">
        <h2>Geografija i demografija</h2>
        <br>
        <p>Sama lokacija teritorije općine nudi mnogobrojne razvojne mogućnosti i dobru povezanost sa većim naseljenim mjestima i razvijenim općinama.</p>
        <br>
        <table>
            <thead>
              <tr>
                <th>Grad</th>
                <th>Udaljenost</th>
              
              </tr>
            </thead>
      
            <tbody>
              <tr>
                <td>Zenica</td>
                <td>20 km</td>
 
              </tr>
              <tr>
                <td>Sarajevo</td>
                <td>63 km</td>
              </tr>
              <tr>
                <td>Tuzla</td>
                <td>161 km</td>
              </tr>
              <tr>
                <td>Banja Luka</td>
                <td>164 km</td>
              </tr>
              <tr>
                <td>Mostar</td>
                <td>170 km</td>
              </tr>
              <tr>
                <td>Brčko</td>
                <td>181 km</td>
              </tr>
              <tr>
                <td>Bihać</td>
                <td>252 km</td>
              </tr>
            </tbody>      
          </table>
        <br>
          <p>
            Općina Busovača ima tri visinske oblasti: planinska (iznad 1200 metara) koja zauzima 19% cjelokupne
            teritorije, brdska koja je i najzastupljenija i čini 58% ukupne teritorije, i ravničarska sa 23%
            zastupljenosti teritorije Općine.
            <br><br>
            Kroz teritoriju općine Busovača prolaze glavne putne komunikacije za Sarajevo (glavni grad BiH) i
            Kiseljak sa jedne, Zenicu i dalje prema Doboju sa druge, te Travnik i dalje prema Jajcu, Bihaću ...
            sa treće strane.
            <br><br><br>
            <strong>Planine na području općine Busovača</strong>
            <br><br>
            Planinskim dijelom teritorije općine Busovača dominira nekoliko visinskih tački ovdašnjih
            planina, od kojih izdvajamo Suha jela (1800 m), Suha voda (1502 m), Modri kamen (1308 m),
            Hum (1241 m), Pridolci (1171 m), Dolačko brdo (1128 m), Saračevica (957 m), Javor (820 m)...,
            dok je najniža tačka na području općine Busovača lokalitet Aganovića mlin (345 m).
            Riječni tokovi koji prolaze kroz teritotiju općine Busovača
            Općina Busovača ima „svoje“ dvije rijeke, Ivančica i Klokotnica, koje svom svojom
            dužinom prolaze kroz teritoriju općine Busovača. Pored njih, kroz teritoriju općine
            Busovača protiču rijeke Lašva i Kozica, što sveukupno čini 40,2 km riječnih vodotoka.
            <br><br><br>
            <strong>Klima</strong> 
            <br><br>
            Na području općine Busovača preovladava umjereno–kontinentalna i planinska klima.
            Prema dostupnim podacima, najniža izmjerena temperatura na ovim prostorima iznosi minus
            <br><br>
            25 stepeni. Najviša izmjerena temperatura zvanično iznosi plus 39 stepeni, dok je prosječna
            godišnja temperatura plus 11 stepeni .
            U toku godine dana prostori općine Bsovača imaju u prosjeku 80 sunčanih dana, dok
            prosječne godišnje padavine iznose 870 l / m 2 .
            <br><br><br>
            <strong>Demografska struktura</strong> 
            <br><br>
            Prema popisu stanovništva iz 2013. godine na području općine Busovača je živjelo ukupno
            17.910 stanovnika, od čega Hrvata 8.873 ili 49,54%, Bošnjaka 8.681 ili 48,43 %, Srba 205 ili
            1,14%, ostalih 151 (koji se nisu izjasnili, bez odgovora ili su u grupaciji ostalih) ili 0,85% koji žive
            u ukupno 47 naseljenih mjesta organiziranih u 22 mjesne zajednice.
          </p>

          </div>


    <div class="other-articles-container">
        <app-side-news></app-side-news>
    </div>
    


</div>