.javne-ustanove-container{
    width: 100%;
    height: auto;
    min-height: 50vh;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('../../../assets/img/gradpozadina.png'); 
    background-color: #cccccc; 
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover; 
    color: white;
    padding: 10px;
}
.inner-container{
    width: 70%;
    height: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.single-ustanova{
    margin-bottom: 25px;
    width: 40%;
    height: 12vh;
    background-color: #2e4868;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 8px;
}
.single-ustanova img{
    width: 60px;
    margin-right: 12px;
}
.text-container{
    width: 90%;
}
.titles-container{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.titles-container a{
    margin-top: 8px;
    text-decoration: none;
    color: white;
    text-decoration: underline;
}
@media only screen and (max-width: 1200px) {
    .single-ustanova{
        width: 44%;
    }
    .inner-container{
        width: 80%;
    }
}

@media only screen and (max-width: 950px) {
    .single-ustanova{
        width: 47%;
    }

    .single-ustanova img{
        width: 50px;
    }
    .single-ustanova h4{
        font-size: 17px;
    }
}
@media only screen and (max-width: 800px) {
    .inner-container{
        width: 90%;
    }
    .titles-container{
        margin-bottom: 20px;
    }
    .titles-container h1{
        margin-bottom: 8px;
    }

}
@media only screen and (max-width: 680px) {
    .single-ustanova{
        width: 70%;
        margin-bottom: 7px;
    }
    .javne-ustanove-container{
        height: auto;
    }
    .titles-container h1{
        font-size: 23px;
    }
    .titles-container h4{
        font-size: 15px;
        text-align: center;
    }
    .titles-container a{
        font-size: 15px;
    }

}

@media only screen and (max-width: 550px) {
    .single-ustanova{
        width: 75%;
    }
    .single-ustanova h4{
        font-size: 16px;
    }
    .single-ustanova p{
        font-size: 14px;
    }
    .titles-container h1{
        font-size: 21px;
    }
    .titles-container h4{
        font-size: 13px;
    }
    .titles-container a{
        font-size: 14px;
    }
}
@media only screen and (max-width: 470px) {
    .single-ustanova{
        width: 85%;
    }
    .inner-container{
        width: 95%;
    }
    .single-ustanova h4{
        font-size: 14px;
    }
    .single-ustanova p{
        font-size: 12px;
    }
    .titles-container h4{
        font-size: 10px;
    }
    .titles-container a{
        font-size: 10px;
    }
    .titles-container{
        padding: 5px;
    }
}
@media only screen and (max-width: 370px) {

    .titles-container h1{
        font-size: 18px;
    }
}