<div class="javne-ustanove-container">
    <div class="titles-container">
        <h1>Javne ustanove i preduzeća</h1>
        <h4>Popis nekih ustanova koje djeluju na području općine Busovače</h4>
        <a href="/o-opcini/javne-ustanove-i-preduzeca">Saznaj više</a>
    </div>
    <div class="inner-container">
        <div class="single-ustanova">
            <img src="assets/img/ustanovelogo/hospital.png" alt="">
            <div class="text-container">
                <h4>JU Gradska ljekarna Busovača</h4>
                <p>Adresa: „16. kolovoz“ bb.</p>
                <p>Tel: (030) 732-848</p>
            </div>
        </div>
        <div class="single-ustanova">
            <img src="assets/img/ustanovelogo/wastemngmt.png"  alt="">
            <div class="text-container">
                <h4>JKP 'Komunalac' Busovača</h4>
                <p>Adresa: Matice hrvatske bb.</p>
                <p>Tel: (030) 733-066</p>
            </div>
        </div>
       
      
        <div class="single-ustanova">
            <img src="assets/img/ustanovelogo/book.png" alt="">
            <div class="text-container">
                <h4>JU Gradska knjižnica</h4>
                <p>Adresa: Branitelja domovine bb.</p>
                <p>Tel: (030) 733-171</p>
            </div>
        </div>
      
        <div class="single-ustanova">
            <img src="assets/img/ustanovelogo/hospital.png" alt="">
            <div class="text-container">
                <h4>JU Dom zdravlja Busovača</h4>
                <p>Adresa: N.Š. Zrinski bb.</p>
                <p>Tel: (030) 732-124</p>
            </div>
        </div>

        <div class="single-ustanova">
            <img src="assets/img/ustanovelogo/police-badge.png" alt="">
            <div class="text-container">
                <h4>Policijska stanica Busovača</h4>
                <p>Adresa: N.Š. Zrinski bb.</p>
                <p>Tel: (030) 732-406</p>
            </div>
        </div>

        <div class="single-ustanova">
            <img src="assets/img/ustanovelogo/fire-station.png" alt="">
            <div class="text-container">
                <h4>Vatrogasno društvo Busovača</h4>
                <p>Adresa: Gradski trg bb.</p>
                <p>Tel: (030) 733-146</p>
            </div>
        </div>
    </div>
</div>
