<div class="javne-ustanove-container">
    <div class="titles-container">
        <h1>Javne ustanove</h1>
        <h4>Popis nekih ustanova koje djeluju na području općine Busovače</h4>
    </div>
    <div class="inner-container">
        <div class="single-ustanova">
            <img src="assets/img/ustanovelogo/ljekarna.jpg" alt="">
            <div class="text-container">
                <h4>JU Gradska ljekarna Busovača</h4>
                <p>Adresa: Ova i ova</p>
                <p>Tel: 06453435</p>
            </div>
        </div>
        <div class="single-ustanova">
            <img src="assets/img/ustanovelogo/komunalac.png"  alt="">
            <div class="text-container">
                <h4>JKP 'Komunalac' Busovača</h4>
                <p>Adresa: Ova i ova</p>
                <p>Tel: 06453435</p>
            </div>
        </div>
        <div class="single-ustanova">
            <img src="assets/img/ustanovelogo/mss.jpg" alt="">
            <div class="text-container">
                <h4>Mješovita srednja škola Busovača</h4>
                <p>Adresa: Ova i ova</p>
                <p>Tel: 06453435</p>
            </div>
        </div>
        <div class="single-ustanova">
            <img src="assets/img/ustanovelogo/ssb.png" alt="">
            <div class="text-container">
                <h4>Srednja škola Busovača</h4>
                <p>Adresa: Ova i ova</p>
                <p>Tel: 06453435</p>
            </div>
        </div>
        <div class="single-ustanova">
            <img src="assets/img/ustanovelogo/knjizara.jpg" alt="">
            <div class="text-container">
                <h4>JU Gradska knjižnica</h4>
                <p>Adresa: Ova i ova</p>
                <p>Tel: 06453435</p>
            </div>
        </div>
        <div class="single-ustanova">
            <img src="" alt="">
            <div class="text-container">
                <h4>JP Veterinarska stanica Busovača</h4>
                <p>Adresa: Ova i ova</p>
                <p>Tel: 06453435</p>
            </div>
        </div>
        <div class="single-ustanova">
            <img src="" alt="">
            <div class="text-container">
                <h4>JP Veterinarska stanica Busovača</h4>
                <p>Adresa: Ova i ova</p>
                <p>Tel: 06453435</p>
            </div>
        </div>

    </div>
</div>
