<div class="news-titles-container">
  <div class="inner-titles-container">
    <h2>Servisne informacije</h2>
  </div>
</div>
<div class="main-container">

<div class="container">


  <ul class="l-news">
    <li class="l-news__content p-news__content" *ngFor="let item of servisneInfo" [routerLink]="['servisne-informacije', item._id]">
      <div class="content-container">

        <div class="l-news__content__day p-news__content__day">{{item.createdAt}}</div>
        <div class="l-news__content__label p-news__content__label disappear">SERVISNE INFORMACIJE</div>
        <div class="l-news__content__text p-news__content__text">{{item.title}}</div>
      </div>
       
        <div class="arrow-container">></div>
    </li>
</ul>
</div>
</div>