.main-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    margin-top: 15px;
    width: 70%;
    min-height: 30vh;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;

}


.news-titles-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 55px;
    margin-bottom: 15px;
}

.inner-titles-container{
    width: 65%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: row;
    
}
.inner-titles-container h2, h3{
    font-weight: 400;
}
.list-container{
    width: auto;
    max-width: 45%;
 
}
.list-container i{
    background-color: #c2bfbf;
    font-size: 17px;
    padding: 2px 7px 3.5px 7px;
    margin-right: 8px;
    margin-top: -2px;
    transition: 0.1s;

}
.item{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 15px;
}
.top{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.bottom{
    margin-top: 5px;
    margin-bottom: 8px;
}
.item button{
    background-color: rgb(134, 5, 5);
    color: white;
    margin-right: 10px;
    border: none;
    padding: 5px 8px;
    border-radius: 15px;
}
.second button{
    background-color: rgb(185, 107, 18);
}
.list-container i:hover{
    background-color: #CC9933;
    color: white;
}