<div class="news-titles-container">
  <div class="inner-titles-container">
    <h2>Servisne informacije</h2>
    <h2>Javne nabavke</h2>
  </div>
</div>
<div class="main-container">


  <div class="container">
    <div class="list-container">
      <div class="item servis">
        <div class="top">
          <i class="fa fa-angle-right"></i> <button>SERVIS INFO</button>
          <p>Servisna informacija neka dawdawdjfmiowesf</p>
        </div>
        <div class="bottom">
          <p>29.09.2021</p>
        </div>
      </div>
      <div class="item">
        <div class="top">
          <i class="fa fa-angle-right"></i> <button>SERVIS INFO</button>
          <p>Servisna informacija neka dawdawdjfmiowesf</p>
        </div>
        <div class="bottom">
          <p>29.09.2021</p>
        </div>
      </div>
      <div class="item">
        <div class="top">
          <i class="fa fa-angle-right"></i> <button>SERVIS INFO</button>
          <p>Servisna informacija neka dawdawdjfmiowesf</p>
        </div>
        <div class="bottom">
          <p>29.09.2021</p>
        </div>
      </div>
      <div class="item">
        <div class="top">
          <i class="fa fa-angle-right"></i> <button>SERVIS INFO</button>
          <p>Servisna informacija neka dawdawdjfmiowesf</p>
        </div>
        <div class="bottom">
          <p>29.09.2021</p>
        </div>
      </div>
    </div>
    <div class="list-container second">
      <div class="item">
        <div class="top">
          <i class="fa fa-angle-right"></i> <button>JAVNE NABAVKE</button> <p>Servisna informacija neka dawdawdjfmiowesf</p>
        </div>   
        <div class="bottom">
          <p>29.09.2021</p>
        </div>
          </div>
          <div class="item">
            <div class="top">
              <i class="fa fa-angle-right"></i> <button>JAVNE NABAVKE</button> <p>Servisna informacija neka dawdawdjfmiowesf</p>
            </div>   
            <div class="bottom">
              <p>29.09.2021</p>
            </div>
              </div>
              <div class="item">
                <div class="top">
                  <i class="fa fa-angle-right"></i> <button>JAVNE NABAVKE</button> <p>Servisna informacija neka dawdawdjfmiowesf</p>
                </div>   
                <div class="bottom">
                  <p>29.09.2021</p>
                </div>
                  </div>
                  <div class="item">
                    <div class="top">
                      <i class="fa fa-angle-right"></i> <button>JAVNE NABAVKE</button> <p>Servisna informacija neka dawdawdjfmiowesf</p>
                    </div>   
                    <div class="bottom">
                      <p>29.09.2021</p>
                    </div>
                      </div> 
     
    </div>
  </div>
</div>