<div class="main-container">
    <div class="links-container">
        <h2>Vezani linkovi:</h2>
        <h3>Historijat<i class="fa fa-angle-right"></i></h3>
        <h3>Geografija i demografija<i class="fa fa-angle-right"></i></h3>
        <h3>Socio-ekonomski profit<i class="fa fa-angle-right"></i></h3>
        <h3>Općinski načelnik<i class="fa fa-angle-right"></i></h3>
        <h3>Javna preduzeća i ustanove<i class="fa fa-angle-right"></i></h3>
        <h3>Privreda<i class="fa fa-angle-right"></i></h3>
        <h3>Turizam<i class="fa fa-angle-right"></i></h3>
        <h3>Kultura<i class="fa fa-angle-right"></i></h3>
        <h3>Obrazovna i socijalna infrastruktura<i class="fa fa-angle-right"></i></h3>
        <h3>Sport<i class="fa fa-angle-right"></i></h3>
        <h3>NVO sektor<i class="fa fa-angle-right"></i></h3>
        <h3>Mjesne zajednice<i class="fa fa-angle-right"></i></h3>
    </div>





    <div class="content-container">
        <h2>Javna preduzeća i ustanove</h2>
        <br>
        <h4>Popis svih ustanova i preduzeća koje djeluju na području općine Busovače.</h4>
        <div class="inner-container">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Javna poduzeća
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="single-ustanova">
                <img src="assets/img/ustanovelogo/vet.png" alt="">
                <div class="text-container">
                    <h4>JP Veterinarska stanica Busovača</h4>
                    <p>Adresa: Ova i ova</p>
                    <p>Tel: (030) 733-066</p>
                </div>
            </div>
           
            <div class="single-ustanova">
                <img src="assets/img/ustanovelogo/wastemngmt.png" alt="">
                <div class="text-container">
                    <h4>JKP 'Komunalac' Busovača</h4>
                    <p>Adresa: N.Š. Zrinski bb</p>
                    <p>Tel: (030) 732-072</p>
                </div>
            </div>
        </mat-expansion-panel>


        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Srednje škole
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="single-ustanova">
                <img src="assets/img/ustanovelogo/school.png" alt="">
                <div class="text-container">
                    <h4>Mješovita srednja škola Busovača</h4>
                    <p>Adresa: N.Š. Zrinski bb</p>
                    <p>Tel: (030) 732-042</p>
                </div>
            </div>
            <div class="single-ustanova">
                <img src="assets/img/ustanovelogo/school.png" alt="">
                <div class="text-container">
                    <h4>Srednja škola Busovača</h4>
                    <p>Adresa: N.Š. Zrinski bb</p>
                    <p>Tel: (030) 733-780</p>
                </div>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Osnovne škole
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="single-ustanova">
                <img src="assets/img/ustanovelogo/school.png" alt="">
                <div class="text-container">
                    <h4>Osnovna škola Busovača</h4>
                    <p>Adresa: N.Š. Zrinski bb</p>
                    <p>Tel: (030) 733-199</p>
                </div>
            </div>
            <div class="single-ustanova">
                <img src="assets/img/ustanovelogo/school.png" alt="">
                <div class="text-container">
                    <h4>Osnovna škola Kaonik</h4>
                    <p>Adresa: Kaćuni bb.</p>
                    <p>Tel: (030) 736-058</p>
                </div>
            </div>
            <div class="single-ustanova">
                <img src="assets/img/ustanovelogo/school.png" alt="">
                <div class="text-container">
                    <h4>Osnovna škola Kaćuni</h4>
                    <p>Adresa: Kaćuni bb.</p>
                    <p>Tel: (030) 590-143</p>
                </div>
            </div>
        </mat-expansion-panel>

        
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Zdravstvene ustanove
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="single-ustanova">
                <img src="assets/img/ustanovelogo/school.png" alt="">
                <div class="text-container">
                    <h4>JU Dom zdravlja Busovača</h4>
                    <p>Adresa: N.Š. Zrinski bb</p>
                    <p>Tel: (030) 732-124</p>
                </div>
            </div>
            <div class="single-ustanova">
                <img src="assets/img/ustanovelogo/school.png" alt="">
                <div class="text-container">
                    <h4>Područna ambulanta Busovača</h4>
                    <p>Adresa: Kaćuni bb.</p>
                    <p>Tel: (030) 591-027</p>
                </div>
            </div>
        </mat-expansion-panel>


        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Ljekarne
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="single-ustanova">
                <img src="assets/img/ustanovelogo/school.png" alt="">
                <div class="text-container">
                    <h4>JU Gradska ljekarna Busovača</h4>
                    <p>Adresa: „16. kolovoz“ bb.</p>
                    <p>Tel: (030) 732-848</p>
                </div>
            </div>
            <div class="single-ustanova">
                <img src="assets/img/ustanovelogo/school.png" alt="">
                <div class="text-container">
                    <h4>Područna ambulanta Busovača</h4>
                    <p>Adresa: Kaćuni bb.</p>
                    <p>Tel: (030) 733-540</p>
                </div>
            </div>
        </mat-expansion-panel>


        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Javne ustanove
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="single-ustanova">
                <img src="assets/img/ustanovelogo/school.png" alt="">
                <div class="text-container">
                    <h4>JU Centar za socijalni rad Busovača</h4>
                    <p>Adresa: Kneza Mislava bb.</p>
                    <p>Tel: (030) 732-620</p>
                </div>
            </div>
            <div class="single-ustanova">
                <img src="assets/img/ustanovelogo/school.png" alt="">
                <div class="text-container">
                    <h4>JU Gradska knjižnica</h4>
                    <p>Adresa: Branitelja domovine bb.</p>
                    <p>Tel: (030) 733-171</p>
                </div>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Druge državne institucije
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="single-ustanova">
                <div class="text-container">
                    <h4>Direkcija za ceste KSB</h4>
                    <p>Adresa: „16. kolovoz“ bb.</p>
                    <p>Tel: (030) 733-278</p>
                </div>
            </div>
            <div class="single-ustanova">
                <div class="text-container">
                    <h4>Zajednica zdravstvenog osiguranja</h4>
                    <p>Adresa: N.Š. Zrinski bb.</p>
                    <p>Tel: (030) 732-247</p>
                </div>
            </div>
            <div class="single-ustanova">
                <div class="text-container">
                    <h4>Zavod za MIO</h4>
                    <p>Adresa: Matice hrvatske bb.</p>
                    <p>Tel: (030) 732-344</p>
                </div>
            </div>
            <div class="single-ustanova">
                <div class="text-container">
                    <h4>Porezna ispostava</h4>
                    <p>Adresa: „16. kolovoz“ bb.</p>
                    <p>Tel: (030) 735-042</p>
                </div>
            </div>
            <div class="single-ustanova">
                <div class="text-container">
                    <h4>PU Kiseljak – PS Busovača</h4>
                    <p>Adresa: N.Š. Zrinski bb.</p>
                    <p>Tel: (030) 732-103</p>
                </div>
            </div>
            <div class="single-ustanova">
                <div class="text-container">
                    <h4>CIPS</h4>
                    <p>Adresa: N.Š. Zrinski bb.</p>
                    <p>Tel: (030) 732-968</p>
                </div>
            </div>
            <div class="single-ustanova">
                <div class="text-container">
                    <h4>Biro za zapošljavanje</h4>
                    <p>Adresa: N.Š. Zrinski bb.</p>
                    <p>Tel: (030) 732-094</p>
                </div>
            </div>
            <div class="single-ustanova">
                <div class="text-container">
                    <h4>EP HZ-HB – Poslovnica Busovača</h4>
                    <p>Adresa: N.Š. Zrinski bb.</p>
                    <p>Tel: (030) 732-153</p>
                </div>
            </div>
            <div class="single-ustanova">
                <div class="text-container">
                    <h4>EP BiH – Poslovnica Busovača</h4>
                    <p>Adresa: Kaćuni bb.</p>
                    <p>Tel: (030) 591-015</p>
                </div>
            </div>
            
        </mat-expansion-panel>


        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Pošte
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="single-ustanova">
                <img src="assets/img/ustanovelogo/school.png" alt="">
                <div class="text-container">
                    <h4>Pošta HP – RJ Busovača</h4>
                    <p>Adresa: N.Š. Zrinski bb.</p>
                    <p>Tel: (030) 732-370</p>
                </div>
            </div>
            <div class="single-ustanova">
                <img src="assets/img/ustanovelogo/school.png" alt="">
                <div class="text-container">
                    <h4>Pošta BiH – RJ Busovača</h4>
                    <p>Adresa: Kaćuni bb.</p>
                    <p>Tel: (030) 590-200</p>
                </div>
            </div>
        </mat-expansion-panel>


        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Banke
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="single-ustanova">
                <img src="assets/img/ustanovelogo/school.png" alt="">
                <div class="text-container">
                    <h4>IKB d.d. Zenica – Eksp. Busovača</h4>
                    <p>Adresa: Branitelja domovine bb.</p>
                    <p>Tel: (030) 733-168</p>
                </div>
            </div>
            <div class="single-ustanova">
                <img src="assets/img/ustanovelogo/school.png" alt="">
                <div class="text-container">
                    <h4>HYPO ALPE ADRIA – PJ Busovača</h4>
                    <p>Adresa: „16. kolovoz“ bb.</p>
                    <p>Tel: (030) 733-795</p>
                </div>
            </div>
        </mat-expansion-panel>


        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Informiranje
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="single-ustanova">
                <img src="assets/img/ustanovelogo/school.png" alt="">
                <div class="text-container">
                    <h4>Radio Busovača</h4>
                    <p>Adresa: Branitelja domovine bb.</p>
                    <p>Tel: (030) 735-007</p>
                </div>
            </div>
        </mat-expansion-panel>


        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Vjerske zajednice
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="single-ustanova">
                <div class="text-container">
                    <h4>Župni ured Busovača</h4>
                    <p>Adresa: Branitelja domovine bb.</p>
                    <p>Tel: (030) 733-035</p>
                </div>
            </div>
            <div class="single-ustanova">
                <div class="text-container">
                    <h4>Medžlis IZ Busovača</h4>
                    <p>Adresa: Kulina bana bb.</p>
                    <p>Tel: (030) 733-567</p>
                </div>
            </div>
            <div class="single-ustanova">
                <div class="text-container">
                    <h4>SPC Busovača</h4>
                    <p>Adresa: Kulina bana bb.</p>
                    <p>Tel: (030)</p>
                </div>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Održavanje čistoće grada
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="single-ustanova">
                <div class="text-container">
                    <h4>"EKO-ČISTOĆA" Busovača</h4>
                    <p>Adresa: "16 kolovoz“ bb.</p>
                    <p>Tel: (061) 629-413</p>
                </div>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                   Ostali važniji subjekti
                </mat-panel-title>
            </mat-expansion-panel-header>
            <table class="tablemobile">
                <thead>
                  <tr>
                    <th>Naziv</th>
                    <th>Sjedište</th>
                    <th>Telefon</th>
                  </tr>
                </thead>
          
                <tbody>
                  <tr>
                    <td>ABF Uddevalla – Centar u Busovači</td>
                    <td>Tina Ujevića bb.</td>
                    <td>(061) 983-584</td>
                  </tr>
                  <tr>
                    <td>„Busovača tours“ d.o.o.Busovača</td>
                    <td>N.Š. Zrinski bb.</td>
                    <td>(030) 732-092</td>
                  </tr>
                  <tr>
                    <td>Dječiji vrtić Busovača</td>
                    <td>Kneza Mislava bb.</td>
                    <td>(030) 732-646</td>
                  </tr>
                  <tr>
                    <td>HKD „Napredak“ Busovača</td>
                    <td>Branitelja domovine bb.</td>
                    <td>(030) 732-314</td>
                  </tr>
                   
                  <tr>
                    <td>Udruga poslodavaca Busovača</td>
                    <td>„16. kolovoz“ bb.</td>
                    <td>(030) 733-253</td>
                  </tr>
                  <tr>
                    <td>Vatrogasno društvo Busovača</td>
                    <td>Branitelja domovine bb.</td>
                    <td>(030) 733-146</td>
                    </tr>
                    
                    <tr>
                    <td>Zatvor Kaonik</td>
                    <td>Kaonik bb.</td>
                    <td>(030) 736-190</td>
                    </tr>
                </tbody>      
              </table>
        </mat-expansion-panel>
         

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                   Sportski klubovi
                </mat-panel-title>
            </mat-expansion-panel-header>
            <table class="tablemobile">
                <thead>
                  <tr>
                    <th>Naziv</th>
                    <th>Sjedište</th>
                    <th>Telefon</th>
                  </tr>
                </thead>
          
                <tbody>
                    <tr>
                        <td>Košarkaški klub Busovača</td>
                        <td>„16. kolovoz“ bb</td>
                        <td>(063) 334-500</td>
                        </tr>
                        
                        <tr>
                        <td>Nogometni klub Busovača</td>
                        <td>Tisovačka bb.</td>
                        <td>(063) 334-199</td>
                        </tr>
                        
                        <tr>
                        <td>Nogometni klub „Kaćuni“</td>
                        <td>Kaćuni bb.</td>
                        <td>(030) 591-075</td>
                        </tr>
                        
                        <tr>
                        <td>Teniski klub „Tisa“ Busovača</td>
                        <td>N.Š. Zrinski bb.</td>
                        <td>(030) 732-509</td>
                        </tr>
                        
                        <tr>
                        <td>OFK „Lugovi“</td>
                        <td>Lugovi bb.</td>
                        <td>(030) 591-754</td>
                        </tr>
                        
                        <tr>
                        <td>Karate klub „Napredak“</td>
                        <td>„16. kolovoz“</td>
                        <td>(030) 733-278</td>
                        </tr>
                        
                        <tr>
                        <td>Auto moto klub Busovača</td>
                        <td>Kaonik bb.</td>
                        <td>(063) 334-401</td>
                        </tr>
                        
                        <tr>
                        <td>Udruga planinara „Tisovac“ Busovača</td>
                        <td>N.Š. Zrinski bb.</td>
                        <td>(030) 732-775</td>
                        </tr>
                        
                        <tr>
                        <td>Udruga sportskih ribolovaca</td>
                        <td>Branitelja domovine bb.</td>
                        <td>(030) 732-697</td>
                        </tr>
                        
                        <tr>
                        <td>Klub borilačkih vještina „SENSEI“</td>
                        <td>Krčevine bb.</td>
                        <td>(063) 373-441</td>
                        </tr>
                        
                        <tr>
                        <td>Skijaški klub Busovača</td>
                        <td>N.Š. Zrinski bb.</td>
                        <td>(063)333-234</td>
                        </tr>
                        
                        <tr>
                        <td>Šahovski klub Busovača</td>
                        <td>Kaonik bb.</td>
                        <td>(030) 736-069</td>
                        </tr>
                        
                        <tr>
                        <td>Športski savez općine Busovača</td>
                        <td>„16. kolovoz“ bb.</td>
                        <td>(063) 334-500</td>
                        </tr>
                </tbody>      
              </table>
        </mat-expansion-panel>


        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                   Nevladine organizacije i udruge
                </mat-panel-title>
            </mat-expansion-panel-header>
            <table class="tablemobile">
                <thead>
                  <tr>
                    <th>Naziv</th>
                    <th>Sjedište</th>
                    <th>Telefon</th>
                  </tr>
                </thead>
          
                <tbody>
                    <tr>
                        <td>Općinska organizacija crvenog križa</td>
                        <td>Matice Hrvatske bb.</td>
                        <td>(030) 732-312</td>
                        </tr>
                        
                        <tr>
                        <td>Omladinski centar Busovača</td>
                        <td>„16. kolovoz“ bb.</td>
                        <td>(030) 732-152</td>
                        </tr>
                        
                        <tr>
                        <td>Udruga „Žena ženi prijatelj“</td>
                        <td>Branitelja domovine bb.</td>
                        <td>(030) 732-366</td>
                        </tr>
                        
                        <tr>
                        <td>Udruga „EKO-EHO“</td>
                        <td>N.Š. Zrinski bb.</td>
                        <td>(063) 335-947</td>
                        </tr>
                        
                        <tr>
                        <td>Udruženje logoraša općine Busovača</td>
                        <td>Luka broj 2</td>
                        <td>(030) 732-899</td>
                        </tr>
                        
                        <tr>
                        <td>Udruženje boraca „Patriotska liga“</td>
                        <td>Kaćuni bb.</td>
                        <td>(030) 591-676</td>
                        </tr>
                        
                        <tr>
                        <td>Opć. org. por. šehida i pog. boraca</td>
                        <td>Kaćuni bb.</td>
                        <td>(061) 606-215</td>
                        </tr>
                        
                        <tr>
                        <td>OO ratnih vojnih invalida</td>
                        <td>Kaćuni bb.</td>
                        <td>(061) 930-876</td>
                        </tr>
                        
                        <tr>
                        <td>Udruga obitelji poginulih i nestalih</td>
                        <td>„16. kolovoz“ bb.</td>
                        <td>(030) 732-824</td>
                        </tr>
                        
                        <tr>
                        <td>HVIDR-a HVO H-B Busovača</td>
                        <td>Branitelja domovine bb.</td>
                        <td>(030) 732-514</td>
                        </tr>
                        
                        <tr>
                        <td>Udruga dragovoljaca domovinskog rata</td>
                        <td>Branitelja domovine bb.</td>
                        <td>(030) 732-288</td>
                        </tr>
                        
                        <tr>
                        <td>Udruženje omladine „Kalem“</td>
                        <td>Kaćuni bb.</td>
                        <td>(030) 732-140</td>
                        </tr>
                        
                        <tr>
                        <td>Udruga „Cosmos“</td>
                        <td>Matice Hrvatske bb.</td>
                        <td>(063) 411-925</td>
                        </tr>
                        
                        <tr>
                        <td><p>Udruga „Kairos“</td>
                        <td><p>Branitelja domovine bb.</td>
                        <td><p>(063) 797-580</td>
                        </tr>
                        
                        <tr>
                        <td><p>Udruga logoraša Domovinskog rata u KSB</td>
                        <td><p>N.Š. Zrinski bb.</td>
                        <td><p>(030) 792-904</td>
                        </tr>
                </tbody>      
              </table>
        </mat-expansion-panel>
        </div>

    </div>


    <div class="other-articles-container">
        <app-side-news></app-side-news>
    </div>



</div>