<div class="main-container">
    <div class="links-container">
        <h2>Vezani linkovi:</h2>
        <a href="/o-opcini/o-nama">O nama<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/o-opcini/historijat">{{ 'historijat_naslov' | translate }}<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/o-opcini/geografija-i-demografija">{{ 'geo_demo_naslov' | translate }}<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/o-opcini/socio-ekonomski-profit">Socio-ekonomski profil<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/o-opcini/opcinski-nacelnik">Općinski načelnik<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/o-opcini/javne-ustanove-i-preduzeca">{{ 'javna_naslov' | translate }}<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/o-opcini/turizam">Turizam<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/o-opcini/kultura">Kultura<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/o-opcini/privreda">{{ 'privreda_naslov' | translate }}<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/o-opcini/obrazovna-i-socijalna-infrastruktura">Obrazovna i socijalna infrastruktura<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/o-opcini/sport">{{ 'sport_naslov' | translate }}<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/o-opcini/nvo">NVO sektor<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/o-opcini/mjesne-zajednice">Mjesne zajednice<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/o-opcini/javne-nabavke/page/1">Javne nabavke<i class="fa fa-angle-right"></i></a>
    </div>
    






    <div class="content-container">
        <h2>{{ 'javna_naslov' | translate }}</h2>
        <br>
        <h4>{{ 'javne' | translate }}</h4>
        <div class="inner-container">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Javna poduzeća
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="single-ustanova">
                <img src="assets/img/ustanove-page/radio.png" alt="">
                <div class="text-container">
                    <h4>JP Radio Busovača</h4>
                    <p>Adresa: Branitelja domovine bb.</p>
                    <p>Tel: (030) 735-007</p>
                </div>
            </div>
           
            <div class="single-ustanova">
                <img src="assets/img/ustanove-page/wastemng.png" alt="">
                <div class="text-container">
                    <h4>JKP 'Komunalac' Busovača</h4>
                    <p>Adresa: Nikole Šopa bb.</p>
                    <p>Tel: (030) 732-072</p>
                </div>
            </div>
        </mat-expansion-panel>


        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Srednje škole
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="single-ustanova">
                <img src="assets/img/ustanove-page/school.png" alt="">
                <div class="text-container">
                    <h4>Mješovita srednja škola Busovača</h4>
                    <p>Adresa: "1. marta/ožujka" bb.</p>
                    <p>Tel: (030) 732-042</p>
                </div>
            </div>
            <div class="single-ustanova">
                <img src="assets/img/ustanove-page/school.png" alt="">
                <div class="text-container">
                    <h4>Srednja škola Busovača</h4>
                    <p>Adresa: "1. marta/ožujka" bb.</p>
                    <p>Tel: (030) 733-780</p>
                </div>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Osnovne škole
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="single-ustanova">
                <img src="assets/img/ustanove-page/school.png" alt="">
                <div class="text-container">
                    <h4>Osnovna škola Busovača</h4>
                    <p>Adresa: "1. marta/ožujka" bb.</p>
                    <p>Tel: (030) 733-199</p>
                </div>
            </div>
            <div class="single-ustanova">
                <img src="assets/img/ustanove-page/school.png" alt="">
                <div class="text-container">
                    <h4>Osnovna škola Kaonik</h4>
                    <p>Adresa: Kaonik </p>
                    <p>Tel: (030) 736-058</p>
                </div>
            </div>
            <div class="single-ustanova">
                <img src="assets/img/ustanove-page/school.png" alt="">
                <div class="text-container">
                    <h4>Osnovna škola Kaćuni</h4>
                    <p>Adresa: Kaćuni bb.</p>
                    <p>Tel: (030) 590-143</p>
                </div>
            </div>
        </mat-expansion-panel>

        
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Zdravstvene ustanove
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="single-ustanova">
                <img src="assets/img/ustanove-page/hospital.png" alt="">
                <div class="text-container">
                    <h4>JU Dom zdravlja Busovača</h4>
                    <p>Adresa: "1. marta/ožujka" bb.</p>
                    <p>Tel: (030) 732-124</p>
                </div>
            </div>
            <div class="single-ustanova">
                <img src="assets/img/ustanove-page/hospital.png" alt="">
                <div class="text-container">
                    <h4>Područna ambulanta Busovača</h4>
                    <p>Adresa: Kaćuni bb.</p>
                    <p>Tel: (030) 591-027</p>
                </div>
            </div>
        </mat-expansion-panel>


        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Apoteke
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="single-ustanova">
                <img src="assets/img/ustanove-page/hospital.png" alt="">
                <div class="text-container">
                    <h4>JU Gradska ljekarna Busovača</h4>
                    <p>Adresa: „16. kolovoz“ bb.</p>
                    <p>Tel: (030) 732-848</p>
                </div>
            </div>
            <div class="single-ustanova">
                <img src="assets/img/ustanove-page/hospital.png" alt="">
                <div class="text-container">
                    <h4>Ljekarna/apoteka Busovača</h4>
                    <p>Adresa: „1. marta/ožujka“ bb.</p>
                    <p>Tel: -</p>
                </div>
            </div>
            <div class="single-ustanova">
                <img src="assets/img/ustanove-page/hospital.png" alt="">
                <div class="text-container">
                    <h4>Ljekarna/apoteka</h4>
                    <p>Adresa: „1. marta/ožujka“ bb.</p>
                    <p>Tel: -</p>
                </div>
            </div>
            <div class="single-ustanova">
                <img src="assets/img/ustanove-page/hospital.png" alt="">
                <div class="text-container">
                    <h4>Ljekarna/apoteka „Tisa“</h4>
                    <p>Adresa: Željeznička bb. – centar „Party“</p>
                    <p>Tel: -</p>
                </div>
            </div>
            <div class="single-ustanova">
                <img src="assets/img/ustanove-page/hospital.png" alt="">
                <div class="text-container">
                    <h4>Ljekarna „Vitalijek“</h4>
                    <p>Adresa: Kaćuni</p>
                    <p>Tel: -</p>
                </div>
            </div>
        </mat-expansion-panel>


        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Javne ustanove
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="single-ustanova">

                <div class="text-container">
                    <h4>JU Centar za socijalni rad Busovača</h4>
                    <p>Adresa: Ive Andrića bb.</p>
                    <p>Tel: (030) 732-620</p>
                </div>
            </div>
            <div class="single-ustanova">
                <img src="assets/img/ustanove-page/book.png" alt="">
                <div class="text-container">
                    <h4>JU Gradska knjižnica</h4>
                    <p>Adresa: Branitelja domovine bb.</p>
                    <p>Tel: (030) 733-171</p>
                </div>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Druge državne institucije
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="single-ustanova">
                <div class="text-container">
                    <h4>Direkcija za ceste KSB</h4>
                    <p>Adresa: „16. kolovoz“ bb.</p>
                    <p>Tel: (030) 733-278</p>
                </div>
            </div>
            <div class="single-ustanova">
                <div class="text-container">
                    <h4>Zajednica zdravstvenog osiguranja</h4>
                    <p>Adresa: "1. marta/ožujka" bb.</p>
                    <p>Tel: (030) 732-247</p>
                </div>
            </div>
            <div class="single-ustanova">
                <div class="text-container">
                    <h4>Zavod za MIO</h4>
                    <p>Adresa: Maka Dizdara bb.</p>
                    <p>Tel: (030) 732-344</p>
                </div>
            </div>
            <div class="single-ustanova">
                <div class="text-container">
                    <h4>Policijska stanica Busovača</h4>
                    <p>Adresa: "1. marta/ožujka" bb</p>
                    <p>Tel: -</p>
                </div>
            </div>
            <div class="single-ustanova">
                <div class="text-container">
                    <h4>Porezna ispostava</h4>
                    <p>Adresa: „16. kolovoz“ bb.</p>
                    <p>Tel: (030) 735-042</p>
                </div>
            </div>
            <div class="single-ustanova">
                <div class="text-container">
                    <h4>PU Kiseljak – PS Busovača</h4>
                    <p>Adresa: N.Š. Zrinski bb.</p>
                    <p>Tel: (030) 732-103</p>
                </div>
            </div>
            <div class="single-ustanova">
                <div class="text-container">
                    <h4>CIPS</h4>
                    <p>Adresa: Meše Selimovića bb.</p>
                    <p>Tel: (030) 732-968</p>
                </div>
            </div>
            <div class="single-ustanova">
                <div class="text-container">
                    <h4>Biro za zapošljavanje</h4>
                    <p>Adresa: "1. marta/ožujka" bb.</p>
                    <p>Tel: (030) 732-094</p>
                </div>
            </div>
           
            
        </mat-expansion-panel>


        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Elektrodistribucija
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="single-ustanova">
                <div class="text-container">
                    <h4>EP HZ-HB – Poslovnica Busovača</h4>
                    <p>Adresa: Željeznička bb.</p>
                    <p>Tel: (030) 732-153</p>
                </div>
            </div>
            <div class="single-ustanova">
                <div class="text-container">
                    <h4>EP BiH – Poslovnica Busovača</h4>
                    <p>Adresa: Kaćuni bb.</p>
                    <p>Tel: (030) 591-015</p>
                </div>
            </div>
        </mat-expansion-panel>


        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Pošte
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="single-ustanova">
                <img src="assets/img/ustanovelogo/school.png" alt="">
                <div class="text-container">
                    <h4>Pošta HP – RJ Busovača</h4>
                    <p>Adresa:  Meše Selimovića bb.</p>
                    <p>Tel: (030) 732-370</p>
                </div>
            </div>
            <div class="single-ustanova">
                <img src="assets/img/ustanovelogo/school.png" alt="">
                <div class="text-container">
                    <h4>Pošta BiH – RJ Busovača</h4>
                    <p>Adresa: Kaćuni bb.</p>
                    <p>Tel: (030) 590-200</p>
                </div>
            </div>
        </mat-expansion-panel>


        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Banke
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="single-ustanova">
              
                <div class="text-container">
                    <h4>IKB d.d. Zenica – Eksp. Busovača</h4>
                    <p>Adresa: Branitelja domovine bb.</p>
                    <p>Tel: (030) 733-168</p>
                </div>
            </div>
            <div class="single-ustanova">
              
                <div class="text-container">
                    <h4>Addiko Bank</h4>
                    <p>Adresa: „16. kolovoz“ bb.</p>
                    <p>Tel: (030) 733-795</p>
                </div>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Vjerske zajednice
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="single-ustanova">
                <div class="text-container">
                    <h4>Župni ured Busovača</h4>
                    <p>Adresa: Branitelja domovine bb.</p>
                    <p>Tel: (030) 733-035</p>
                </div>
            </div>
            <div class="single-ustanova">
                <div class="text-container">
                    <h4>Medžlis IZ Busovača</h4>
                    <p>Adresa: Hazima ef. Kuskunovića bb.</p>
                    <p>Tel: (030) 733-567</p>
                </div>
            </div>
            <div class="single-ustanova">
                <div class="text-container">
                    <h4>SPC Busovača</h4>
                    <p>Adresa: Musa ćazima Ćatića bb.</p>
                    <p>Tel: (030)</p>
                </div>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Održavanje čistoće grada
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="single-ustanova">
                <div class="text-container">
                    <h4>JKP „Komunalac“ d.o.o. Busovača</h4>
                    <p>Adresa: „Nikole Šopa“ bb.</p>
                    <p>Tel: (030) 733-066</p>
                </div>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                   Ostali važniji subjekti
                </mat-panel-title>
            </mat-expansion-panel-header>
            <table class="tablemobile">
                <thead>
                  <tr>
                    <th>Naziv</th>
                    <th>Sjedište</th>
                    <th>Telefon</th>
                  </tr>
                </thead>
          
                <tbody>
                  <tr>
                    <td>ABF Uddevalla – Centar u Busovači</td>
                    <td>Silvija Strahimira Kranjčevića bb.</td>
                    <td>(061) 983-584</td>
                  </tr>
                  <tr>
                    <td>„Busovača tours“ d.o.o.Busovača</td>
                    <td>"1. marta/ožujka"</td>
                    <td>(030) 732-092</td>
                  </tr>
                  <tr>
                    <td>Dječiji vrtić Busovača</td>
                    <td>UG "Radost" Ive Andrića bb</td>
                    <td>(030) 732-646</td>
                  </tr>
                  <tr>
                    <td>HKD „Napredak“ Busovača</td>
                    <td>Branitelja domovine bb.</td>
                    <td>(030) 732-314</td>
                  </tr>
                   
                  <tr>
                    <td>Udruga poslodavaca Busovača</td>
                    <td>„16. kolovoz“ bb.</td>
                    <td>(030) 733-253</td>
                  </tr>
                  <tr>
                    <td>Vatrogasno društvo Busovača</td>
                    <td>Gradski trg bb.</td>
                    <td>(030) 733-146</td>
                    </tr>
                    
                    <tr>
                    <td>Zatvor Kaonik</td>
                    <td>Kaonik bb.</td>
                    <td>(030) 736-190</td>
                    </tr>
                </tbody>      
              </table>
        </mat-expansion-panel>
         
        </div>

    </div>


    <div class="other-articles-container">
        <app-side-news></app-side-news>
    </div>



</div>