<div class="main-container">
    <div class="links-container">
        <h2>Vezani linkovi:</h2>
        <a href="/o-opcini/o-nama">O nama<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/o-opcini/historijat">Historijat<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/o-opcini/geografija-i-demografija">Geografija i demografija<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/o-opcini/socio-ekonomski-profit">Socio-ekonomski profil<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/o-opcini/opcinski-nacelnik">Općinski načelnik<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/o-opcini/javne-ustanove-i-preduzeca">Javna preduzeća i ustanove<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/o-opcini/turizam">Turizam<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/o-opcini/kultura">Kultura<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
<a href="/o-opcini/privreda">Privreda<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/o-opcini/obrazovna-i-socijalna-infrastruktura">Obrazovna i socijalna infrastruktura<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/o-opcini/sport">Sport<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/o-opcini/nvo">NVO sektor<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/o-opcini/mjesne-zajednice">Mjesne zajednice<i class="fa fa-angle-right"></i></a>
    </div>



    <div class="content-container">
        <h2>Obrazovna i socijalna infrastruktura </h2>
        <br>
        <br>
        <br>
        <p>
            <strong>Obrazovanje</strong>
            <br><br>
            Obrazovni sistem u općini Busovača funkcioniše kroz: predškolski odgoj i obrazovanje, osnovno
            i srednje obrazovanje.
            <br><br>
            <strong> Predškolski odgoj</strong>
            <br><br>
            U oblasti predškolskog odgoja i obrazovanja, na području općine djeluje jedna ustanova – bolje
            rečeno Udruženje građana Radost koje je naslijedilo aktivnosti vezane za predškolski odgoj od
            Predškolske ustanove i igraonice Framica.
        </p><br><br>
        <p><strong>Osnovno obrazovanje</strong></p>
        <br><br>

        <p>Na području općine Busovača djeluju tri središnje osnovne škole koje u svom sastavu imaju još šest područnih
            (četverorazrednih) škola.</p>
        <br><br>
        <table>
            <thead>
                <tr>
                    <th>
                        <p><strong>Naziv osnovne škole</strong></p>
                    </th>
                    <th>
                        <p><strong>Područne škole</strong></p>
                    </th>
                </tr>
            </thead>
            <tbody>


                <tr>
                    <td>
                        <p>Osnovna škola Kaonik </p>
                    </td>
                    <td>
                        <p>Bare</p>
                    </td>
                </tr>

                <tr>
                    <td>
                        <p>Osnovna škola Busovača</p>
                    </td>
                    <td>
                        <p>-</p>
                    </td>
                </tr>

                <tr>
                    <td>
                        <p>Osnovna škola Kaćuni</p>
                    </td>
                    <td>
                        <p>Lugovi, Bukovci, Solakovići, Putiš, KatićiGornja Rovna</p>
                    </td>
                </tr>

            </tbody>
        </table>

        <br>
        <p>
            Treba naglasiti da se nastava u osnovnim školama na području općine Busovača odvija po dva
            nastavna programa: bosanski u Osnovnoj školi Kaćuni i područnim školama koje su u sastavu
            iste, a hrvatski u Osnovnoj školi Busovača, te Osnovnoj školi Kaonik i područnoj školi Bare.
            Isto tako, nastava u zgradi Osnovne škole Busovača se odvija po sistemu dvije škole pod jednim
            krovom, i po dva različita nastavna programa.
        </p>
        <br><br>
        <p><strong>Srednje obrazovanje</strong></p>
        <br><br>

        <p>Na području općine Busovača registrovane su i djeluju dvije srednje škole: Srednja škola
            Busovača i Mješovita srednja škola Busovača.
            <br><br>
            Nastava u istima se odvija po dva različita nastavna programa: bosanski za polaznike Mješovite
            srednje škole Busovača, te hrvatski za polaznike Srednje škole Busovača. Treba naglasiti da se
            nastava u zgradi Srednje škole Busovača odvija po sistemu dvije škole pod jednim krovom, sa
            dva različita nastavna plana i programa.
            <br><br>
            Prema podacima Službe za opću upravu, društvene djelatnosti i boračko/braniteljsko-invalidsku
            zaštitu/skrb Općine Busovača, nastavu u srednjim školama na području općine Busovača u
            posljednje tri godine pohađalo je:
        </p>
        <br><br>
        <table>
            <thead>
                <tr>
                    <th>
                        <p><strong>Naziv i sjedište srednje škole</strong></p>
                    </th>
                    <th>
                        <p> <strong>2018./2019.</strong></p>
                    </th>
                    <th>
                        <p><strong>2019./2020.</strong></p>
                    </th>
                    <th>
                        <p><strong>2020./2021.</strong></p>
                    </th>
                </tr>
            </thead>
            <tbody>


                <tr>
                    <td>
                        <p>Srednja škola Busovača-Busovača</p>
                    </td>
                    <td>
                        <p></p>
                    </td>
                    <td>
                        <p>320</p>
                    </td>
                    <td>
                        <p>290</p>
                    </td>
                </tr>

                <tr>
                    <td>
                        <p>Mješovita srednja škola Busovača-Busovača</p>
                    </td>
                    <td>
                        <p>270</p>
                    </td>
                    <td>
                        <p>261</p>
                    </td>
                    <td>
                        <p>227</p>
                    </td>
                </tr>

            </tbody>
        </table>

        <br><br><br>


        <p><strong>Zdravstvena zaštita</strong></p>

        <p><br><br>
            Pitanje zdravstvene zaštite u njezinim osnovnim vidovima za građane Busovače riješeno
            je kroz egzistiranje Doma zdravlja u Busovači, te sektorskih ambulanti Kaćuni, Lugovi, Katići i Bare.
            <br><br>
            U okviru JU Dom zdravlja Busovača djeluju sljedeće ambulante i službe: ambulanta opće
            medicine, ambulanta medicine rada, biokemijski laboratorij, rtg kabinet, stomatološka
            ambulanta, ambulanta za plućne bolesti, zdravstvena zaštita predškolske i školske djece,
            zdravstvena zaštita žena, služba za higijenu i epidemiologiju, služba za kućno liječenje i
            patronažu.
            <br><br>
            U okviru svojih redovnih djelatnosti JU Dom zdravlja Busovača stalno angažuje specijaliste iz
            određenih oblasti zdravstvene zaštite koji svoje usluge građanima pružaju u određene dane
            tokom sedmice.
            <br><br>
            Specijalističke zdravstvene usluge građani Busovače koriste u kantonalnim bolnicama
            Travnik i Nova Bila, a nerijetko i u Kantonalnoj bolnici Zenica., te specijalističkim
            ustanovama u Sarajevu, Tuzli, Mostaru...
            <br>
            Pored JU Dom zdravlja, u Busovači zdravstvenu zaštitu pruža i nekoliko privatnih ordinacija
            (ORL ordinacija, oftamološka ordinacija).
            <br><br>
            Promet lijekova vrši Javna ustanova “Gradska apoteka/ljekarna“ Busovača i nekoliko privatnih
            apoteka, dok se odlaganje medicinskog otpada vrši u skladu sa važećim zakonskim odredbama
            koje regulišu pitanje upravljanja medicinskim otpadom.
            <br><br>
        </p>
        <p><strong>Apoteke/ljekarne na području općine Busovača:</strong></p>
        <br><br>
        <table>
            <thead>
                <tr>
                    <th>
                        <p><strong>Naziv apoteke/ljekarne </strong></p>
                    </th>
                    <th>
                        <p><strong>Sjedište zdravstvene ustanove</strong></p>
                    </th>
                </tr>

            </thead>
            <tbody>

                <tr>
                    <td>
                        <p>JU Gradska ljekarna Busovača </p>
                    </td>
                    <td>
                        <p>„16. kolovoz“ bb.</p>
                    </td>
                </tr>

                <tr>
                    <td>
                        <p>Ljekarna/apoteka Busovača</p>
                    </td>
                    <td>
                        <p>„1. marta/ožujka“ bb.</p>
                    </td>
                </tr>

                <tr>
                    <td>
                        <p>Ljekarna/apoteka</p>
                    </td>
                    <td>
                        <p>„1. marta/ožujka“ bb.</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Ljekarna/apoteka „Tisa“</p>
                    </td>
                    <td>
                        <p>Željeznička bb. – centar „Party“</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Ljekarna „Vitalijek“</p>
                    </td>
                    <td>
                        <p>Kaćuni</p>
                    </td>
                </tr>

            </tbody>
        </table>
        <br><br>
        <p><strong>Bolnice u regiji:</strong></p>
        <br><br>
        <table>
            <thead>
                <tr>
                    <th>
                        <p><strong>Naziv bolnice</strong></p>
                    </th>
                    <th>
                        <p><strong>Sjedište </strong> </p>
                    </th>
                    <th>
                        <p><strong>Udaljenost od Busovače</strong> </p>
                    </th>
                </tr>
            </thead>
            <tbody>


                <tr>
                    <td>
                        <p>Bolnica „Fra Mato Nikolić„</p>
                    </td>
                    <td>
                        <p>Nova Bila</p>
                    </td>
                    <td>
                        <p>15 km</p>
                    </td>
                </tr>

                <tr>
                    <td>
                        <p>Kantonalna bolnica</p>
                    </td>
                    <td>
                        <p>Travnik</p>
                    </td>
                    <td>
                        <p>27 km</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Kantonalna bolnica</p>
                    </td>
                    <td>
                        <p>Zenica</p>
                    </td>
                    <td>
                        <p>25 km</p>
                    </td>
                </tr>
            </tbody>
        </table>

        <p><br>
        </p>
        <br><br>
        <p>
            <strong>Socijalna zaštita</strong>
            <br><br>
            Poslovi iz oblasti socijalne, dječje i porodične zaštite, starateljstva i zaštite civilnih žrtava rata
            povjereni su JU Centar za socijalni rad Busovača. Na evidenciji Centra nalazi se veći broj
            porodica u stanju socijalne pomoći-potrebe. Svakodnevno se sa ovim porodicama obavljaju
            savjetodavni razgovori s ciljem pružanja podrške i pronalaženja načina smanjenja njihove
            socijalne isključenosti. Rezultati se ostvaruju i vidljivi su u svakom pojedinačnom slučaju u
            kojem korisnik aktivno sarađuje sa socijalnim radnikom.
            <br><br>
            Najveći broj korisnika prava i usluga su osobe koje su ostvarile pravo na socijalnu pomoć, a
            najmanji broj je korisnika koji imaju pravo na osposobljavanje za samostalan život i rad djece sa
            poteškoćama u razvoju.
        </p>




    </div>


    <div class="other-articles-container">
        <app-side-news></app-side-news>
    </div>



</div>