<div class="main-container">
    <div class="links-container">
        <h2>Vezani linkovi:</h2>
        <a href="/o-opcini/o-nama">O nama<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/o-opcini/historijat">Historijat<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/o-opcini/geografija-i-demografija">Geografija i demografija<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/o-opcini/socio-ekonomski-profit">Socio-ekonomski profil<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/o-opcini/opcinski-nacelnik">Općinski načelnik<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/o-opcini/javne-ustanove-i-preduzeca">Javna preduzeća i ustanove<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/o-opcini/turizam">Turizam<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/o-opcini/kultura">Kultura<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/o-opcini/sport">Sport<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/o-opcini/nvo">NVO sektor<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/o-opcini/mjesne-zajednice">Mjesne zajednice<i class="fa fa-angle-right"></i></a>
    </div>



    <div class="content-container">
        <h2>Obrazovna i socijalna infrastruktura </h2>
        <br>
        <br>
        <p><strong>Osnovne škole</strong></p>

        <p>Na području općine Busovača djeluju tri središnje osnovne škole koje u svom sastavu imaju još šest područnih
            (četverorazrednih) škola.</p>
            <br><br>
        <table>
            <thead>
                <tr>
                    <th>
                        <p><strong>Naziv osnovne škole</strong></p>
                    </th>
                    <th>
                        <p><strong>Područne škole</strong></p>
                    </th>
                </tr>
            </thead>
            <tbody>


                <tr>
                    <td>
                        <p>Osnovna škola Kaonik </p>
                    </td>
                    <td>
                        <p>Bare</p>
                    </td>
                </tr>

                <tr>
                    <td>
                        <p>Osnovna škola Busovača</p>
                    </td>
                    <td>
                        <p>-</p>
                    </td>
                </tr>

                <tr>
                    <td>
                        <p>Osnovna škola Kaćuni</p>
                    </td>
                    <td>
                        <p>Lugovi, Bukovci, Solakovići, Putiš, KatićiGornja Rovna</p>
                    </td>
                </tr>

            </tbody>
        </table>

        <br>
        <p><strong>Srednje škole</strong></p>

        <p>Na području općine Busovača postoje i rade dvije srednjoškolske ustanove, koje rade na dva jezika i po dva
            različita nastavna plana i programa.</p>
            <br><br>
        <table>
            <thead>
                <tr>
                    <th>
                        <p><strong>Naziv i sjedište srednje škole</strong></p>
                    </th>
                    <th>
                        <p> <strong>Tip škole</strong></p>
                    </th>
                    <th>
                        <p><strong>Nastavni plan</strong></p>
                    </th>
                    <th>
                        <p><strong>Jezik</strong></p>
                    </th>
                </tr>
            </thead>
            <tbody>


                <tr>
                    <td>
                        <p>Srednja škola Busovača-Busovača</p>
                    </td>
                    <td>
                        <p>Mješovita</p>
                    </td>
                    <td>
                        <p>Hrvatsk</p>
                    </td>
                    <td>
                        <p>Hrvatsk</p>
                    </td>
                </tr>

                <tr>
                    <td>
                        <p>Mješovita srednja škola Busovača-Busovača</p>
                    </td>
                    <td>
                        <p>Mješovita</p>
                    </td>
                    <td>
                        <p>Bosanski</p>
                    </td>
                    <td>
                        <p>Bosanski</p>
                    </td>
                </tr>

            </tbody>
        </table>

        <p><br>
        </p>

        <p><strong>Napomena: </strong>Zbog skučenosti prostora Mješovita srednja škola Busovača dio svoje nastave
            (trogodišnja zanimanja) obavlja u prostorijama Osnovne škole u Kaćunima.</p>

        <p><strong>SOCIJALNA INFRASTRUKURA</strong></p>

        <p><strong>Zdravstvena zaštita</strong></p>

        <p>Pitanje zdravstvene zaštite u njezinim osnovnim vidovima za građane Busovače riješeno je kroz zajednički rad
            Doma zdravlja u Busovači i područne ambulante u Kaćunima.</p>

        <p>U navedenim ustanovama povremeno se angažiraju specijalisti iz određenih oblasti zdravstvene zaštite, koji
            svoje usluge građanima naplaćuju po relativno skromnim cijenama, znatno nižim u odnosu na njihove odlaske u
            bolnice Travnik ili Nova Bila.</p>

        <p>Specijalističke zdravstvene usluge građani Busovače koriste u naprijed navedenim bolnica, a nerijetko i u
            Kantonalnoj bolnici Zenica.</p>
            <br><br>
        <p><strong>Zdravstvene ustanove na području općine Busovača:</strong></p>
        <br><br>
        <table>
            <thead>
                <tr>
                    <th>
                        <p><strong>Naziv zdravstvene ustanove</strong></p>
                    </th>
                    <th>
                        <p><strong>Sjedište zdravstvene zaštite </strong> </p>
                    </th>
                </tr>
            </thead>
            <tbody>


                <tr>
                    <td>
                        <p>Dom zdravlja Busovača</p>
                    </td>
                    <td>
                        <p>Nikole Šubića Zrinjskog bb</p>
                    </td>
                </tr>

                <tr>
                    <td>
                        <p>Dom zdravlja Busovača - Kaćuni</p>
                    </td>
                    <td>
                        <p>Kaćuni bb</p>
                    </td>
                </tr>

            </tbody>
        </table>

        <p><br>
        </p>
        <br><br>
        <p><strong>Apoteke/ljekarne na području općine Busovača:</strong></p>
        <br><br>
        <table>
            <thead>
                <tr>
                    <th>
                        <p><strong>Naziv apoteke/ljekarne </strong></p>
                    </th>
                    <th>
                        <p><strong>Sjedište apoteke/ljekarne</strong></p>
                    </th>
                </tr>

            </thead>
            <tbody>

                <tr>
                    <td>
                        <p>Gradska ljekarna Busovača </p>
                    </td>
                    <td>
                        <p>16.kolovoza bb</p>
                    </td>
                </tr>

                <tr>
                    <td>
                        <p>Apoteka "Lašva-lijek"</p>
                    </td>
                    <td>
                        <p>Branitelja domovine bb</p>
                    </td>
                </tr>

                <tr>
                    <td>
                        <p>Ispostava apoteke "Lašva-lijek"</p>
                    </td>
                    <td>
                        <p>Kaćuni bb</p>
                    </td>
                </tr>

            </tbody>
        </table>
        <br><br>
        <p><strong>Socijalne ustanove:</strong></p>
        <br><br>
        <table>
            <thead>
                <tr>
                    <th>
                        <p><strong>Naziv ustanove</strong></p>
                    </th>
                    <th>
                        <p><strong> Sjedište</strong></p>
                    </th>
                    <th>
                        <p><strong>Broj zaposlenih</strong></p>
                    </th>
                </tr>

            </thead>
            <tbody>


                <tr>
                    <td>
                        <p>Centar za socijalni rad</p>
                    </td>
                    <td>
                        <p>Busovača</p>
                    </td>
                    <td>
                        <p>4</p>
                    </td>
                </tr>

            </tbody>
        </table>
        <br><br>
        <p><strong>Centri i agencije za zapošljavanje:</strong></p>
        <br><br>
        <table>
            <thead>
                <tr>
                    <th>
                        <p><strong>Naziv agencije/centra</strong></p>
                    </th>
                    <th>
                        <p><strong>Sjedište</strong></p>
                    </th>
                    <th>
                        <p><strong>Broj zaposlenih</strong></p>
                    </th>
                </tr>

            </thead>
            <tbody>


                <tr>
                    <td>
                        <p>Biro za zapošljavanje</p>
                    </td>
                    <td>
                        <p>Busovača</p>
                    </td>
                    <td>
                        <p>4</p>
                    </td>
                </tr>

            </tbody>
        </table>
        <br><br>
        <p><strong>UDRUGE/UDRUŽENJA PROISTEKLA IZ DOMOVINSKOG/ODBRAMBENOG RATA<br>
            </strong></p>
            <br><br>
        <table>
            <thead>
                <tr>
                    <th><strong>Red. broj</strong><br>
                    </th>
                    <th>
                        <p><strong>Naziv udruge/udruženja</strong></p>
                    </th>
                    <th>
                        <p> <strong>Sjedište</strong></p>
                    </th>
                    <th> <strong>Telefon</strong></th>
                    <th> <strong>Kontakt osoba<br>
                        </strong></th>
                </tr>

            </thead>
            <tbody>


                <tr>
                    <td>1.<br>
                    </td>
                    <td>Udruženje logoraša općine Busovača<br>
                    </td>
                    <td>Luka broj 2<br>
                    </td>
                    <td>030/732-899<br>
                    </td>
                    <td>
                        <address>Tahir</address>
                        <address>Tahirović<br>
                        </address>
                    </td>
                </tr>

                <tr>
                    <td> 2.</td>
                    <td>Udruženje boraca "Patriotska liga"<br>
                    </td>
                    <td>Kaćuni bb<br>
                    </td>
                    <td>030/591-676</td>
                    <td>
                        <address>Senad</address>
                        <address>Buljina<br>
                        </address>
                    </td>
                </tr>

                <tr>
                    <td>3.<br>
                    </td>
                    <td>Općinska organizacija porodica šehida i poginulih boraca<br>
                    </td>
                    <td>Kaćuni bb<br>
                    </td>
                    <td>061/606-215<br>
                    </td>
                    <td>Fikreta Husanović<br>
                    </td>
                </tr>

                <tr>
                    <td>4.<br>
                    </td>
                    <td>OO ratnih vojnih invalida<br>
                    </td>
                    <td>Kaćuni bb<br>
                    </td>
                    <td>061/930-876<br>
                    </td>
                    <td>
                        <address>MIrsad</address>
                        <address>Lušija<br>
                        </address>
                    </td>
                </tr>

                <tr>
                    <td> 5.</td>
                    <td>Udruga obitelji poginulih i nestalih<br>
                    </td>
                    <td>"16.kolovoz" bb<br>
                    </td>
                    <td>030/732-824<br>
                    </td>
                    <td>Jelica Milinović<br>
                    </td>
                </tr>

                <tr>
                    <td> 6.</td>
                    <td>HVIDR-a HVO H-B Busovača<br>
                    </td>
                    <td>Branitelja domovine<br>
                    </td>
                    <td>030/893-372<br>
                    </td>
                    <td>
                        <address>Dragan</address>
                        <address>Laštro<br>
                        </address>
                    </td>
                </tr>

                <tr>
                    <td> 7.</td>
                    <td>Udruga dragovoljaca i vetrena domovinskog rata Hrvatskog vijeća
                        obrane<br>
                    </td>
                    <td>Ravan bb<br>
                    </td>
                    <td>063/893-372<br>
                    </td>
                    <td>
                        <address>Dragan</address>
                        <address>Laštro<br>
                        </address>
                    </td>
                </tr>

                <tr>
                    <td> 8.</td>
                    <td>Udruga logoraša Busovača<br>
                    </td>
                    <td>N.Š. Zrinski bb<br>
                    </td>
                    <td>063/333-230<br>
                    </td>
                    <td>Anđelko Kvesić<br>
                    </td>
                </tr>

                <tr>
                    <td>9.<br>
                    </td>
                    <td>Organizacija demobilisanih boraca odbrambeno-oslobodilačkog rata
                        1992-1995 godine Srednja Bosna<br>
                    </td>
                    <td>Kaćuni bb<br>
                    </td>
                    <td>061/691-824<br>
                    </td>
                    <td>Lušija Zehrudin<br>
                    </td>
                </tr>

                <tr>
                    <td>10.<br>
                    </td>
                    <td>Udruga oboljelih o PTSP<br>
                    </td>
                    <td>Branitelja domovine bb<br>
                    </td>
                    <td>030/732-838<br>
                    </td>
                    <td>
                        <address>Berislav</address>
                        <address>Čosić<br>
                        </address>
                    </td>
                </tr>

                <tr>
                    <td> 11.</td>
                    <td>Udruženje boraca "Patriotska" Kaćuni<br>
                    </td>
                    <td>Busovača<br>
                    </td>
                    <td>061/162-113<br>
                    </td>
                    <td>Omer Hadžiomerović<br>
                    </td>
                </tr>

                <tr>
                    <td> 12.</td>
                    <td>Udruga nositelja ratnih odličja hrvatskog vijeća obrane
                        Federacije Bosne i Hercegovine<br>
                    </td>
                    <td>Branitelja domovine bb<br>
                    </td>
                    <td>063/479-490<br>
                    </td>
                    <td>
                        <address>Željko Varešković</address>
                        <address>Anto Jurić<br>
                        </address>
                    </td>
                </tr>

                <tr>
                    <td> 13.</td>
                    <td>Udruga/udruženje civilnih žrtava rata Općine Busovača<br>
                    </td>
                    <td>Zagrebačka bb<br>
                    </td>
                    <td>030/732-264<br>
                    </td>
                    <td>Nataša Bohutinski<br>
                    </td>
                </tr>

                <tr>
                    <td> 14.</td>
                    <td>Udruga obitelji hrvatskih branitelja, poginulih i nestalih u
                        dom. ratu UOPNB Busovača<br>
                    </td>
                    <td>Ulica branitelja domivine bb<br>
                    </td>
                    <td>063/007-247<br>
                    </td>
                    <td>
                        <address>Goran</address>
                        <address>Brnjić<br>
                        </address>
                    </td>
                </tr>

                <tr>
                    <td> 15.</td>
                    <td>Udruženje policija 91-95 - ogranak Busovača<br>
                    </td>
                    <td>Kaćuni bb<br>
                    </td>
                    <td>061/930-228<br>
                    </td>
                    <td>
                        <address>Sakib</address>
                        <address>Bešić<br>
                        </address>
                    </td>
                </tr>

            </tbody>
        </table>
        <br><br>
        <p><strong>SPISAK UDRUGA/UDRUŽENJA KOJE SU U SASTAVU VIJEĆA MLADIH OPĆINE BUSOVAČA</strong></p>
        <br><br>
        <table>

            <thead>
                <tr>
                    <th>
                        <address><strong>Red. broj</strong></address>
                    </th>
                    <th>
                        <address></address>
                        <address><strong>Naziv udruge/udruženja</strong></address>
                        <address></address>
                    </th>
                    <th>
                        <address></address>
                        <address> <strong>Sjedište</strong></address>
                        <address></address>
                    </th>
                    <th>
                        <address><strong>Telefon</strong></address>
                    </th>
                    <th>
                        <address> <strong>Kontakt osoba<br>
                            </strong></address>
                    </th>
                </tr>

            </thead>
            <tbody>
                <tr>
                    <td>1.<br>
                    </td>
                    <td>Omladinski centar Busovača<br>
                    </td>
                    <td>16. kolovoz<br>
                    </td>
                    <td>063/434-971<br>
                    </td>
                    <td>
                        <address>Maja Krišto<br>
                        </address>
                    </td>
                </tr>

                <tr>
                    <td> 2.</td>
                    <td>Fondacija Kairos<br>
                    </td>
                    <td>Branitelja domovine bb<br>
                    </td>
                    <td>063/797-580<br>
                    </td>
                    <td>
                        <address>Željko Grubešić<br>
                        </address>
                    </td>
                </tr>

                <tr>
                    <td>3.<br>
                    </td>
                    <td>Udruženje ABF<br>
                    </td>
                    <td>Slivija Strahomira Krnjačevića bb<br>
                    </td>
                    <td>062/485-475<br>
                    </td>
                    <td>Mersiha Ekmeščić<br>
                    </td>
                </tr>

                <tr>
                    <td>4.<br>
                    </td>
                    <td>Omladinska organizacija "Nehrida" Merdani<br>
                    </td>
                    <td>Merdani bb<br>
                    </td>
                    <td>062/660-322<br>
                    </td>
                    <td>Maid Neslanović</td>
                </tr>

            </tbody>
        </table>
        <br><br>
        <p><strong>NEVLADINE ORGANIZACIJE</strong></p>
        <br><br>
        <table>
            <thead>
                <tr>
                    <th>
                        <address><strong>Red. broj</strong></address>
                    </th>
                    <th>
                        <address></address>
                        <address><strong>Naziv</strong></address>
                        <address></address>
                    </th>
                    <th>
                        <address></address>
                        <address> <strong>Sjedište</strong></address>
                        <address></address>
                    </th>
                    <th>
                        <address><strong>Telefon</strong></address>
                    </th>
                    <th>
                        <address> <strong>Kontakt osoba<br>
                            </strong></address>
                    </th>
                </tr>

            </thead>
            <tbody>
                <tr>
                    <td>1.<br>
                    </td>
                    <td>
                        <p>Općinska organizacija crvenog križa</p>
                    </td>
                    <td>Matice Hrvatske bb<br>
                    </td>
                    <td>063/964-239<br>
                    </td>
                    <td>
                        <address>Vedran</address>
                        <address>Franc</address>
                    </td>
                </tr>

                <tr>
                    <td> 2.</td>
                    <td>Udruga umirovljenika općine Busovača<br>
                    </td>
                    <td>Matice Hrvatske bb</td>
                    <td>063/373-027<br>
                    </td>
                    <td>Slavko Katava<br>
                    </td>
                </tr>

                <tr>
                    <td>3.<br>
                    </td>
                    <td>Udruga "Ženaženi prijatelj"</td>
                    <td>Branitelja domovine bb</td>
                    <td>063/713-751<br>
                    </td>
                    <td>Gabrijela Brković<br>
                    </td>
                </tr>

                <tr>
                    <td>4.<br>
                    </td>
                    <td>Udruga "EKO-BUS"<br>
                    </td>
                    <td>N.Š. Zrinski bb<br>
                    </td>
                    <td>063/335-947<br>
                    </td>
                    <td>Vlado Jurišić<br>
                    </td>
                </tr>

                <tr>
                    <td> 5.</td>
                    <td>Udruženje pčelara i poljoprivrednika "Kaćuni" Kaćuni<br>
                    </td>
                    <td>Kaćuni bb<br>
                    </td>
                    <td>061/906-070<br>
                    </td>
                    <td>Nermin Durak<br>
                    </td>
                </tr>

                <tr>
                    <td> 6.</td>
                    <td>Loavačko društvo "Kaćunski zec" Kaćuni<br>
                    </td>
                    <td>Kaćuni bb<br>
                    </td>
                    <td>061/930288<br>
                    </td>
                    <td> Sakib Bešić<br>
                    </td>
                </tr>

                <tr>
                    <td> 7.</td>
                    <td>Lovačko društvo "Zec" Busovača<br>
                    </td>
                    <td>Branitelja domovine bb<br>
                    </td>
                    <td>063/386-064<br>
                    </td>
                    <td>Jako Čavara<br>
                    </td>
                </tr>

                <tr>
                    <td> 8.</td>
                    <td>Udruženje omladine "Kalem"<br>
                    </td>
                    <td>Kaćuni bb<br>
                    </td>
                    <td>030/732-140<br>
                    </td>
                    <td>Vahidin Lušija<br>
                    </td>
                </tr>

                <tr>
                    <td> 9.</td>
                    <td>"EKO MLADI" Gusti Grab<br>
                    </td>
                    <td>Gusti Grab bb<br>
                    </td>
                    <td>063/339-497<br>
                    </td>
                    <td>
                        <address>Irena Čavara</address>
                        <address>Vlado Marčić<br>
                        </address>
                    </td>
                </tr>

                <tr>
                    <td> 10.</td>
                    <td>Udruženje penzionera općine Busovača<br>
                    </td>
                    <td>Kaćuni bb<br>
                    </td>
                    <td>030/591-676<br>
                    </td>
                    <td>Senad Buljina<br>
                    </td>
                </tr>

                <tr>
                    <td> 11.</td>
                    <td>Udruga Inicijativa razvoja i edukacije mladih - IREM<br>
                    </td>
                    <td>Kaćuni bb<br>
                    </td>
                    <td></td>
                    <td>Nedžad Huskić<br>
                    </td>
                </tr>

                <tr>
                    <td> 12.</td>
                    <td>Ekološka udruga građana "Busovačka planina"<br>
                    </td>
                    <td>Branitelja domovine bb<br>
                    </td>
                    <td>063/334-375<br>
                    </td>
                    <td>Tihomir Šantić<br>
                    </td>
                </tr>

                <tr>
                    <td> 13.</td>
                    <td>Udruga poljoprivrednika Općine Busovača<br>
                    </td>
                    <td>Ul. 16. kolovoz bb<br>
                    </td>
                    <td>030/733-253<br>
                    </td>
                    <td>Jako Čavara<br>
                    </td>
                </tr>

                <tr>
                    <td> 14.</td>
                    <td>HKD "Napredak"<br>
                    </td>
                    <td>Branitelja domovine bb<br>
                    </td>
                    <td>030/732-314<br>
                    </td>
                    <td>Josip Križanović<br>
                    </td>
                </tr>

                <tr>
                    <td> 15.</td>
                    <td>Udruga "Cosmos"<br>
                    </td>
                    <td>Matice Hrvatske bb<br>
                    </td>
                    <td>063/411-925<br>
                    </td>
                    <td>Boro Vujica<br>
                    </td>
                </tr>

                <tr>
                    <td> 16.</td>
                    <td>Omladinska organizacija Kaćuni<br>
                    </td>
                    <td>Kaćuni bb<br>
                    </td>
                    <td>061/333-252<br>
                    </td>
                    <td>Damir Ferhatović<br>
                    </td>
                </tr>

                <tr>
                    <td> 17.</td>
                    <td>Udruženje Bošnjačka zajednica kulture "Preporod" Kaćuni <br>
                    </td>
                    <td>Kaćuni bb<br>
                    </td>
                    <td>061/361-031<br>
                    </td>
                    <td>Ferida Karić<br>
                    </td>
                </tr>

            </tbody>
        </table>

    </div>


    <div class="other-articles-container">
        <app-side-news></app-side-news>
    </div>



</div>