<div class="main-container">
    <div class="links-container">
        <h2>Vezani linkovi:</h2>
        <h3>Link 1</h3>
        <h3>Link 1</h3>
        <h3>Link 1</h3>
        <h3>Link 1</h3>
        <h3>Link 1</h3>
    </div>





    <div class="content-container">
        <form action="" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
            <input (input)="onSearchChange($event.target.value)"  formControlName="searchBox" type="text" placeholder="Pretraga novosti.." name="search" minlength="5">
            <button type="submit">Traži</button>
          </form>
          <p *ngIf="warning">Unesite više od 4 karaktera.</p>
          <div class="filtered-content">
            <div *ngIf="!loaded" class="loader"></div>
              <div class="news-container" *ngFor="let news of filteredNews" routerLink="/clanak/{{news._id}}">
                  <div class="img-container">
                      <img src="{{news.selectedFile}}" alt="">
                  </div>
                  <div class="text-container">
                      <h4>{{news.subTitle}}</h4>
                      <h2>{{news.title}}</h2>
                      <p>{{news.createdAt}}</p>
                  </div>
              </div>
              <p *ngIf="noResult">Nema rezultata pretrage.</p>
          </div>
          <div class="pagination-container">
            <ul class="pagination">
                <li><a (click)="previousPage()" class="prev">< Nazad </a></li>
                <li><a (click)="nextPage()" class="next">Sljedeća ></a></li>
              </ul>
          </div>
    </div>





    <div class="other-articles-container">
        <h2>Aktuelni članci</h2>
        <h3>Pogledaj sve</h3>
        <div class="inner-news-container">
        
            <div class="news-box" *ngFor="let newsItem of news" routerLink="/clanak/{{news._id}}">
              <img src="{{newsItem.selectedFile}}" alt="" >
              <div class="inner-news-box">
                <p class="newsSubTitle">{{newsItem.subTitle}}</p>
                <h3>{{newsItem.title}}</h3>
                <p class="newsDate">{{newsItem.createdAt}}</p>
              </div>
      
            </div>
        
          
        </div>
    </div>
</div>