<div class="main-container">
    <div class="links-container">
        <h2>Vezani linkovi:</h2>
        <h3>Historijat<i class="fa fa-angle-right"></i></h3>
        <h3>Geografija i demografija<i class="fa fa-angle-right"></i></h3>
        <h3>Socio-ekonomski profit<i class="fa fa-angle-right"></i></h3>
        <h3>Općinski načelnik<i class="fa fa-angle-right"></i></h3>
        <h3>Javna preduzeća i ustanove<i class="fa fa-angle-right"></i></h3>
        <h3>Privreda<i class="fa fa-angle-right"></i></h3>
        <h3>Turizam<i class="fa fa-angle-right"></i></h3>
        <h3>Kultura<i class="fa fa-angle-right"></i></h3>
        <h3>Obrazovna i socijalna infrastruktura<i class="fa fa-angle-right"></i></h3>
        <h3>Sport<i class="fa fa-angle-right"></i></h3>
        <h3>NVO sektor<i class="fa fa-angle-right"></i></h3>
        <h3>Mjesne zajednice<i class="fa fa-angle-right"></i></h3>
    </div>





    <div class="content-container">
        <h2>Dokumenti</h2>
        <br>

        <br>
        <br>
        <table class="tablemobile">
            <thead>
                <tr>
                    <th>
                        <p><strong>Naziv dokumenta</strong></p>
                    </th>
                    <th>
                        <p><strong>BS</strong></p>
                    </th>
                    <th>
                        <p><strong>HR</strong></p>
                    </th>

                </tr>
            </thead>
            <tbody>


                <tr>
                    <td>STATUT OPĆINE BUSOVAČA</td>
                    <td><i class="fa fa-download"></i></td>
                    <td><i class="fa fa-download"></i></td>
                </tr>

                <tr>
                    <td>POSLOVNIK OPĆINSKOG VIJEĆA BUSOVAČA</td>
                    <td><i class="fa fa-download"></i></td>
                    <td><i class="fa fa-download"></i></td>
                </tr>

                <tr>
                    <td>PROGRAM RADA OPĆINSKOG VIJEĆA BUSOVAČA</td>
                    <td><i class="fa fa-download"></i></td>
                    <td><i class="fa fa-download"></i></td>
                </tr>


                <tr>
                    <td>STRATEGIJA KOMUNICIRANJA OPĆINE BUSOVAČA SA JAVNOŠĆU</td>
                    <td><i class="fa fa-download"></i></td>
                    <td><i class="fa fa-download"></i></td>
                </tr>


                <tr>
                    <td>STRATEGIJA RAZVOJA OPĆINE BUSOVAČA 2016.-2020. GODINA</td>
                    <td><i class="fa fa-download"></i></td>
                    <td><i class="fa fa-download"></i></td>
                </tr>


                <tr>
                    <td>MEHANIZMI KOMUNICIRANJA OPĆINE BUSOVAĆA</td>
                    <td><i class="fa fa-download"></i></td>
                    <td><i class="fa fa-download"></i></td>
                </tr>

                <tr>
                    <td>MEHANIZMI ZA UČEŠĆE GRAĐANA U RADU OPĆINSKOG VIJEĆA BUSOVAČA</td>
                    <td><i class="fa fa-download"></i></td>
                    <td><i class="fa fa-download"></i></td>
                </tr>
                <tr>
                    <td>PLAN UPRAVLJANJA OTPADOM NA PODRUČJU OPĆINE BUSOVAČA 2011-2016</td>
                    <td><i class="fa fa-download"></i></td>
                    <td><i class="fa fa-download"></i></td>
                </tr>
                <tr>
                    <td>PRORAČUN/BUDŽET OPĆINE BUSOVAČA ZA 2013. GODINU (ODLUKA - PRORAČUN/BUDŽET )</td>
                    <td><i class="fa fa-download"></i></td>
                    <td><i class="fa fa-download"></i></td>
                </tr>
                <tr>
                    <td>PROSTORNI PLAN OPĆINE BUSOVAČA</td>
                    <td><i class="fa fa-download"></i></td>
                    <td><i class="fa fa-download"></i></td>
                </tr>
                <tr>
                    <td>ODLUKA O PROVOĐENJU REGULACIONOG PLANA PRIDOLCI - FOJNICA</td>
                    <td><i class="fa fa-download"></i></td>
                    <td><i class="fa fa-download"></i></td>
                </tr>
                <tr>
                    <td>REGULACIONI PLAN - SPORTSKO REKREACIONI CENTAR -BUSOVAČKA PLANINA, BUSOVAČA</td>
                    <td><i class="fa fa-download"></i></td>
                    <td><i class="fa fa-download"></i></td>
                </tr>
                <tr>
                    <td>REGILACIONI PLAN - SPORTSKO REKREACIONI CENTAR - PRIDOLCI - BUSOVAČA - FOJNICA</td>
                    <td><i class="fa fa-download"></i></td>
                    <td><i class="fa fa-download"></i></td>
                </tr>
                <tr>
                    <td>ODLUKA O PROVOĐENJU PROSTORNOG PLANA OPĆINE BUSOVAČA</td>
                    <td><i class="fa fa-download"></i></td>
                    <td><i class="fa fa-download"></i></td>
                </tr>


            </tbody>
        </table>


   
    </div>


    <div class="other-articles-container">
        <app-side-news></app-side-news>
    </div>



</div>