<div class="main-container">
    <div class="links-container">
        <h2>Vezani linkovi:</h2>
        <a href="/o-opcini/opcinski-nacelnik">Općinski načelnik<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/vijecnici">Općinski vijećnici<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/">Službeni glasnik<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/sluzbe-uprave">Službe uprave<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/aktuelnosti/page/1">{{ 'aktuelnosti_naslov' | translate }}<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/dokumenti">Dokumenti<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/dokumenti-i-zakljucci">Dokumenti i zaključci OV<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/javni-oglasi/page/1">Javni oglasi<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/radna-tijela-povjerenstva">{{ 'radna_tijela' | translate }}<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/obrasci">Obrasci<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/fotogalerija">Fotogalerija<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
    </div>
    







    <div class="content-container">
        <h2>Dokumenti</h2>
        <br>

        <br>
        <br>
        <table class="tablemobile">
            <thead>
                <tr>
                    <th>
                        <p><strong>Naziv dokumenta</strong></p>
                    </th>
                    <th>
                        <p><strong>BS</strong></p>
                    </th>
                    <th>
                        <p><strong>HR</strong></p>
                    </th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>ODLUKA O IMENOVANJU KOMISIJE ZA PRAĆENJE IMPLEMENTACIJE AKCIONOG PLANA</td>
                    <td><a href="../../../../assets/documents/ODLUKA O IMENOVANJU KOMISIJE ZA PRAĆENJE IMPLEMENTACIJE AKCIONOG PLANA.pdf" download><i class="fa fa-download"></i></a></td>
                    <td><a href="../../../../assets/documents/ODLUKA O IMENOVANJU KOMISIJE ZA PRAĆENJE IMPLEMENTACIJE AKCIONOG PLANA.pdf" download><i class="fa fa-download"></i></a></td>
                </tr>
                <tr>
                    <td>Akcioni plan za jačanje sistema za očuvanje integriteta Općine Busovača</td>
                    <td><a href="../../../../assets/documents/Akcioni plan za jačanje sistema za očuvanje integriteta Općine Busovača.pdf" download><i class="fa fa-download"></i></a></td>
                    <td><a href="../../../../assets/documents/Akcioni plan za jačanje sistema za očuvanje integriteta Općine Busovača.pdf" download><i class="fa fa-download"></i></a></td>
                </tr>
                <tr>
                    <td>STRATEGIJA RAZVOJA OPĆINE BUSOVAČA 2021.-2025. GODINA</td>
                    <td><a href="../../../../assets/documents/STRATEGIJA RAZVOJA 2021-2025..docx" download><i class="fa fa-download"></i></a></td>
                    <td><a href="../../../../assets/documents/STRATEGIJA RAZVOJA 2021-2025..docx" download><i class="fa fa-download"></i></a></td>
                </tr>
                <tr>
                    <td>Spisak stručnih osoba koje ispunjavaju uslove iz člana 52. stav 6. Zakona o građenju</td>
                    <td><a href="../../../../assets/documents/CCE04042022.pdf" download><i class="fa fa-download"></i></a></td>
                    <td><a href="../../../../assets/documents/CCE04042022.pdf" download><i class="fa fa-download"></i></a></td>
                </tr>
                  <tr>
                    <td>Skraćenica izvještaja anketiranja</td>
                    <td><a href="../../../../assets/documents/Skraćenica  izvjestaja ankterianja.pdf" download><i class="fa fa-download"></i></a></td>
                    <td><a href="../../../../assets/documents/Skraćenica  izvjestaja ankterianja.pdf" download><i class="fa fa-download"></i></a></td>
                </tr>
                <tr>
                    <td>Tabelarni prikaz Proračuna Općine Busovača za 2022.godina</td>
                    <td><a href="../../../../assets/documents/Tabelarni prikaz Proračuna Općine Busovača za 2022.godina.xls" download><i class="fa fa-download"></i></a></td>
                    <td><a href="../../../../assets/documents/Tabelarni prikaz Proračuna Općine Busovača za 2022.godina.xls" download><i class="fa fa-download"></i></a></td>
                </tr>
                <tr>
                    <td>OBAVIJEST SLUŽBE ZA LOKALNI EKONOMSKI RAZVOJ</td>
                    <td><a href="../../../../assets/documents/Obavijest službe za lokalni ekonomski razvoj.pdf" download><i class="fa fa-download"></i></a></td>
                    <td><a href="../../../../assets/documents/Obavijest službe za lokalni ekonomski razvoj.pdf" download><i class="fa fa-download"></i></a></td>
                </tr>
                <tr>
                    <td>PROGRAM RAZVOJA ZAŠTITE I SPAŠAVANJA LJUDI I MATERIJALNIH DOBARA OD PRIRODNIH I DRUGIH NESREĆA U OPĆINI BUSOVAČA ZA PERIOD 2021. - 2025. GODINA</td>
                    <td><a href="../../../../assets/documents/B-Program razvoja općine Busovača 2021-2025.g..docx" download><i class="fa fa-download"></i></a></td>
                    <td><a href="../../../../assets/documents/B-Program razvoja općine Busovača 2021-2025.g..docx" download><i class="fa fa-download"></i></a></td>
                </tr>
                <tr>
                    <td>PLAN BUDŽETA ZA 2020.</td>
                    <td><a href="../../../../assets/documents/Plan budžeta 2020.godina.xls" download><i class="fa fa-download"></i></a></td>
                    <td><a href="../../../../assets/documents/Plan budžeta 2020.godina.xls" download><i class="fa fa-download"></i></a></td>
                </tr>
                <tr>
                    <td>DOKUMENTI ZA UPIS U MKU</td>
                    <td><a href="../../../../assets/documents/Dokumenti za upis u MKU.docx" download><i class="fa fa-download"></i></a></td>
                    <td><a href="../../../../assets/documents/Dokumenti za upis u MKU - H.docx " download><i class="fa fa-download"></i></a></td>
                </tr>
                <tr>
                    <td>DOKUMENTACIJA ZA UPIS U MKR</td>
                    <td><a href="../../../../assets/documents/Dokumentacija za upis u MKR.docx" download><i class="fa fa-download"></i></a></td>
                    <td><a href="../../../../assets/documents/MKR - H.docx" download><i class="fa fa-download"></i></a></td>
                </tr>

                <tr>
                    <td>DOKUMENTACIJA ZA UPIS U MKV</td>
                    <td><a href="../../../../assets/documents/Dokumenti za upis u MKV.docx" download><i class="fa fa-download"></i></a></td>
                    <td><a href="../../../../assets/documents/Dokumenti za upis u MKV - H.docx" download><i class="fa fa-download"></i></a></td>
                </tr>

                <tr>
                    <td>OVJERA I LEGALIZACIJA POTPISA</td>
                    <td><a href="../../../../assets/documents/Ovjera i legalizacija potpisa.docx" download><i class="fa fa-download"></i></a></td>
                    <td><a href="../../../../assets/documents/Ovjera i legalizacija potpisa - H.docx" download><i class="fa fa-download"></i></a></td>
                </tr>

                <tr>
                    <td>STATUT OPĆINE BUSOVAČA</td>
                    <td><a href="../../../../assets/documents/statut bos preèi¹æen tekst (3).doc" download><i class="fa fa-download"></i></a></td>
                    <td><a href="../../../../assets/documents/statut - proèi¹æen tekst hr (1).doc" download><i class="fa fa-download"></i></a></td>
                </tr>

                <tr>
                    <td>POSLOVNIK OPĆINSKOG VIJEĆA BUSOVAČA</td>
                    <td><a href="../../../../assets/documents/poslovnik o radu vijeca preèi¹æen bos tekst - bos.doc " download><i class="fa fa-download"></i></a></td>
                    <td><a href="../../../../assets/documents/poslovnik o radu vijec preÈi©Æen tekst hr.doc " download><i class="fa fa-download"></i></a></td>
                </tr>

                <tr>
                    <td>PROGRAM RADA OPĆINSKOG VIJEĆA BUSOVAČA</td>
                    <td><a href=" " download><i class="fa fa-download"></i></a></td>
                    <td><a href=" " download><i class="fa fa-download"></i></a></td>
                </tr>


                <tr>
                    <td>STRATEGIJA KOMUNICIRANJA OPĆINE BUSOVAČA SA JAVNOŠĆU</td>
                    <td><a href="../../../../assets/documents/str. komuniciranja b.doc " download><i class="fa fa-download"></i></a></td>
                    <td><a href="../../../../assets/documents/str. komuniciranja h.doc" download><i class="fa fa-download"></i></a></td>
                </tr>


                <tr>
                    <td>STRATEGIJA RAZVOJA OPĆINE BUSOVAČA 2016.-2020. GODINA</td>
                    <td><a href="../../../../assets/documents/nova strategija razvojab20 (1) (1).doc" download><i class="fa fa-download"></i></a></td>
                    <td><a href="../../../../assets/documents/nova strategija razvojah20.doc" download><i class="fa fa-download"></i></a></td>
                </tr>

                <tr>
                    <td>MEHANIZMI KOMUNICIRANJA OPĆINE BUSOVAĆA</td>
                    <td><a href="../../../../assets/documents/mehanizmi za komunciranje bos.doc " download><i class="fa fa-download"></i></a></td>
                    <td><a href="../../../../assets/documents/mehanizmi za komuniciranje hrv.doc" download><i class="fa fa-download"></i></a></td>
                </tr>

                <tr>
                    <td>MEHANIZMI ZA UČEŠĆE GRAĐANA U RADU OPĆINSKOG VIJEĆA BUSOVAČA</td>
                    <td><a href="../../../../assets/documents/mehanizmi za uèe¹æe graðana u ov busovaèa bos-hrv.pdf " download><i class="fa fa-download"></i></a></td>
                    <td><a href="../../../../assets/documents/mehanizmi za uèe¹æe graðana u ov busovaèa bos-hrv.pdf " download><i class="fa fa-download"></i></a></td>
                </tr>
                <tr>
                    <td>PLAN UPRAVLJANJA OTPADOM NA PODRUČJU OPĆINE BUSOVAČA 2011-2016</td>
                    <td><a href="../../../../assets/documents/plan upravljanja otpadom-s.rad.doc " download><i class="fa fa-download"></i></a></td>
                    <td><a href="../../../../assets/documents/plan upravljanja otpadom-s.rad.doc " download><i class="fa fa-download"></i></a></td>
                </tr>    
                <tr>
                    <td>PRORAČUN/BUDŽET OPĆINE BUSOVAČA ZA 2013. GODINU (ODLUKA - PRORAČUN/BUDŽET )</td>
                    <td><a href=" " download><i class="fa fa-download"></i></a></td>
                    <td><a href=" " download><i class="fa fa-download"></i></a></td>
                </tr>
                <tr>
                    <td>PROSTORNI PLAN OPĆINE BUSOVAČA</td>
                    <td><a href="../../../../assets/documents/prostorni plan opæine busovaèa.pdf " download><i class="fa fa-download"></i></a></td>
                    <td><a href="../../../../assets/documents/prostorni plan opæine busovaèa.pdf " download><i class="fa fa-download"></i></a></td>
                </tr>
                <tr>           
                    <td>ODLUKA O PROVOĐENJU REGULACIONOG PLANA PRIDOLCI - FOJNICA</td>
                    <td><a href="../../../../assets/documents/o d l u k a o provoÐenju regulacionog plana pridolci-fojnica.pdf " download><i class="fa fa-download"></i></a></td>
                    <td><a href="../../../../assets/documents/o d l u k a o provoÐenju regulacionog plana pridolci-fojnica.pdf  " download><i class="fa fa-download"></i></a></td>
                </tr>
                <tr>
                    <td>REGULACIONI PLAN - SPORTSKO REKREACIONI CENTAR -BUSOVAČKA PLANINA, BUSOVAČA</td>
                    <td><a href="../../../../assets/documents/regulacion plan- sportsko rekreacioni centar- busovaèa planina busovaÈa.pdf" download><i class="fa fa-download"></i></a></td>
                    <td><a href="../../../../assets/documents/regulacion plan- sportsko rekreacioni centar- busovaèa planina busovaÈa.pdf" download><i class="fa fa-download"></i></a></td>
                </tr> 
  
                <tr>
                    <td>REGILACIONI PLAN - SPORTSKO REKREACIONI CENTAR - PRIDOLCI - BUSOVAČA - FOJNICA</td>
                    <td><a href="../../../../assets/documents/regulacioni plan-sportsko rekreacioni centar-pridolci-busovaÈa-fojnica.doc " download><i class="fa fa-download"></i></a></td>
                    <td><a href="../../../../assets/documents/regulacioni plan-sportsko rekreacioni centar-pridolci-busovaÈa-fojnica.doc " download><i class="fa fa-download"></i></a></td>
                </tr>
            
                <tr>
                    <td>ODLUKA O PROVOĐENJU PROSTORNOG PLANA OPĆINE BUSOVAČA</td>
                    <td><a href="../../../../assets/documents/odluka .doc" download><i class="fa fa-download"></i></a></td>
                    <td><a href="../../../../assets/documents/odluka .doc" download><i class="fa fa-download"></i></a></td>
                </tr>


            </tbody>
        </table>


   
    </div>


    <div class="other-articles-container">
        <app-side-news></app-side-news>
    </div>



</div>