@import "~@angular/material/prebuilt-themes/indigo-pink.css";


* {
    margin:0;
    padding:0;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
 
}
html {
    scroll-behavior: smooth;
}
body {
    /*font-family: "Rubik", sans-serif;  font-family: 'Signika', sans-serif;*/
    font-family: 'Epilogue', sans-serif;
    overflow-x: hidden; 
} 
button{
    font-family: 'Epilogue', sans-serif;
}
:after,:before{
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    margin:0;
    padding:0;
    clear:both;
} 
a {
    text-decoration:none;
}  
html, body { min-height:100vh;
    height: auto; }
body { margin: 0; }