<div class="main-container">
    <div class="links-container">
        <h2>Vezani linkovi:</h2>
        <a href="/o-opcini/opcinski-nacelnik">Općinski načelnik<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/vijecnici">Općinski vijećnici<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/">Službeni glasnik<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/sluzbe-uprave">Službe uprave<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/aktuelnosti/page/1">{{ 'aktuelnosti_naslov' | translate }}<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/dokumenti">Dokumenti<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/dokumenti-i-zakljucci">Dokumenti i zaključci OV<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/radna-tijela-povjerenstva">{{ 'radna_tijela' | translate }}<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/obrasci">Obrasci<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
        <a href="/fotogalerija">Fotogalerija<i class="fa fa-angle-right"></i></a>
        <hr class="horiz-line" style="width: 95%;">
    </div>






    <div class="content-container">
        <div>
            <button class="servisne-info-btn" *ngIf="single?.type=='poziv'" style="margin-bottom: 15px;">JAVNI POZIV</button>
            <button class="servisne-info-btn" *ngIf="single?.type=='nabavke'" style="margin-bottom: 15px;">JAVNE NABAVKE</button>
            <h2 style="margin-bottom: 8px;">{{single?.title}}</h2>
            <h4 class="newsDate">{{single?.createdAt}}</h4>
        </div>
          

      
        <br>
        <br>
        <div class="body-container" style="white-space: pre-line"><p>{{single?.body}}</p></div>
        <br>
      
        <div class="datoteke" *ngIf="single.selectedFile">
            <hr style="width: 95%; margin-bottom: 10px;">
            <h4 style="margin-bottom: 10px;">Priložene datoteke: </h4>
            <ng-container *ngFor="let link of single.selectedFile">
                <a class="dl" (click)="downloadBase64Data(link.file, link.name)">{{link?.name}} <i class="fa fa-download"></i></a>
                <br><br>
            </ng-container>
        </div>

        <div class="datoteke" *ngIf="single.displayFile">
            <hr style="width: 95%; margin-bottom: 10px;">
            <h4 style="margin-bottom: 10px;">Dokaz o objavi: </h4>
            <ng-container *ngFor="let link of single.displayFile">
                <img src="{{link}}">
            </ng-container>
        </div>
     
          </div>


    <div class="other-articles-container">
        <app-side-news></app-side-news>
    </div>
    


</div>

