<div class="modal-container">
    <div class="form-container">
        <div class="top-form">
            <h1>Dodavanje javnog oglasa</h1>
        </div>
    
        <div class="contact-container">
    
          <div class="contact-description">
              <form class="contact-form" [formGroup] = "formdata" (ngSubmit) = "onClickSubmit(formdata.value)">
                <div class="single-row">
                     <input
                  type="text"  placeholder="Naslov BS" name="title" tabindex="1" formControlName="title" 
                  /> 
                  <input
                  type="text"  placeholder="Naslov HR" name="titleHR" tabindex="1" formControlName="titleHR" 
                  />
                </div>  
                <div class="single-row">
                    <textarea placeholder="Tekst/sadržaj BH" name="Message" tabindex="5" rows="10" formControlName="body"></textarea>
                    <textarea placeholder="Tekst/sadržaj HR" name="Message" tabindex="5" rows="10" formControlName="bodyHR"></textarea>
                </div>
                
                  
                  <input type="radio" id="poziv" formControlName="type" name="type" value="poziv">
                  <label for="poziv">Javni poziv</label><br><br>
                  <input type="radio" id="nabavke" formControlName="type" name="type" value="nabavke">
                  <label for="nabavke">Javne nabavke</label><br>
    
                  <br><br>
                  <input
                  type="text"  placeholder="Maj 2020." name="title" tabindex="1" formControlName="createdAt" 
                  />  <br><br>
                  <label>Dokumenti:</label><br><br>
                  <input type="file" multiple
                  (change)="handleUpload($event)" placeholder="slika" name="selectedFile" tabindex="2" formControlName="selectedFile"
                  />
                  <br><br>
                  <label>Dokaz o objavi (slike):</label><br><br>
                  <input type="file" multiple
                  (change)="handleUploads($event)" placeholder="slika" name="displayFile" tabindex="2" formControlName="displayFile"
                  />
                  <br><br>
                  <div class="btn-container">
                    <button class="send-btn" type="submit" value="Send">Dodaj</button>             
                    <button class="close-btn" value="CLOSE" type="button" (click)="closeDialog()">Zatvori</button>
                  </div> 
              </form>
           
          </div>
    
      </div>
    </div>
</div>
